<div class="ncl-version-configuration-annotations">
    <div class="title">
        <span>{{ 'functions:ANNOTATIONS' | i18next }}</span>
        <igz-more-info
                data-description="{{$ctrl.tooltip}}"
                data-trigger="click"
                data-is-html-enabled="true">
        </igz-more-info>
    </div>
    <form name="$ctrl.annotationsForm" class="annotations-wrapper" novalidate>
        <div data-ng-if="$ctrl.annotations.length > 0" class="table-headers">
            <div class="key-header">
                {{ 'common:KEY' | i18next }}
                <igz-more-info
                        data-description="{{$ctrl.keyTooltip}}"
                        data-trigger="click"
                        data-is-html-enabled="true">
                </igz-more-info>
            </div>
            <div class="value-header">
                {{ 'common:VALUE' | i18next }}
            </div>
        </div>
        <div class="igz-scrollable-container scrollable-annotations"
             data-ng-scrollbars
             data-igz-ng-scrollbars-config="{{$ctrl.igzScrollConfig}}"
             data-ng-scrollbars-config="$ctrl.scrollConfig">
            <div class="table-body" data-ng-repeat="annotation in $ctrl.annotations">
                <ncl-key-value-input class="new-label-input"
                                     data-list-class="scrollable-annotations"
                                     data-row-data="annotation"
                                     data-use-type="false"
                                     data-item-index="$index"
                                     data-validation-rules="$ctrl.validationRules"
                                     data-action-handler-callback="$ctrl.handleAction(actionType, index)"
                                     data-change-data-callback="$ctrl.onChangeData(newData, index)"
                                     data-submit-on-fly="true">
                </ncl-key-value-input>
            </div>
        </div>
        <div class="igz-create-button create-annotation-button"
             data-ng-click="$ctrl.addNewAnnotation($event)">
            <span class="igz-icon-add-round"></span>
            {{ 'functions:CREATE_NEW_ANNOTATION' | i18next }}
        </div>
    </form>
</div>
