ncl-functions {
  igz-info-page-actions-bar {
    .igz-info-page-actions-bar {
      min-width: 910px;

      igz-default-dropdown {
        display: inline-block;
        width: 150px;
      }
    }
  }

  .igz-info-page-content-wrapper {
    .igz-info-page-content {
      .table-actions {
        display: flex;
        align-items: center;
        margin: 5px 10px;
      }

      .function-status {
        min-width: 100px;
      }
    }
  }

  .functions-pagination {
    min-width: 241px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    .title {
      font-size: 13px;
      font-weight: normal;
      color: @dusk-three;
    }

    .igz-pagination {
      padding-right: 0;
      padding-bottom: 0;
    }
  }
}
