<div class="function-from-template-content">
    <div class="templates-wrapper">
        <span class="title">
            {{ 'functions:CHOOSE_TEMPLATE' | i18next }}
        </span>
        <div class="templates-controls">
            <div class="templates-search-input">
                <div class="igz-icon-search search-icon"></div>
                <input class="input-field field"
                       tabindex="0"
                       data-ng-model="$ctrl.searchQuery"
                       data-ng-change="$ctrl.onChangeSearchQuery()"
                       placeholder="{{ 'functions:PLACEHOLDER.SEARCH_TEMPLATE' | i18next }}"
                       data-igz-input-blur-on-enter>
            </div>
            <div class="templates-runtime-drop-down">
                <span class="input-label">
                    {{ 'functions:RUNTIME' | i18next }}
                </span>
                <igz-default-dropdown data-values-array="$ctrl.runtimeFilters"
                                      data-selected-item="$ctrl.selectedRuntimeFilter"
                                      data-item-select-callback="$ctrl.onRuntimeFilterChange(item, isItemChanged)">
                </igz-default-dropdown>
            </div>
            <div class="templates-pagination">
                <igz-pagination data-page-data="$ctrl.page"
                                data-is-per-page-visible="true"
                                data-pagination-callback="$ctrl.paginationCallback(page, size)">
                </igz-pagination>
            </div>
        </div>
        <div class="function-templates">
            <form name="$ctrl.functionFromTemplateForm"
                  class="function-templates-form"
                  novalidate>
                <div class="function-template-wrapper"
                     data-ng-repeat="(key, value) in $ctrl.templatesWorkingCopy track by $index"
                     data-ng-class="{'selected': $ctrl.isTemplateSelected(key)}"
                     data-ng-click="$ctrl.selectTemplate(key)">
                    <div class="function-template">
                        <div data-ng-show="!$ctrl.isTemplateSelected(key)"
                             class="function-template-content">
                            <div class="template-title">{{key}}</div>
                            <div class="template-description">{{value.rendered.spec.description}}</div>
                            <div data-ng-if="value.ui.readMore"
                                 class="template-read-more">
                                {{ 'functions:READ_MORE' | i18next }}...
                            </div>
                        </div>

                        <div data-ng-show="$ctrl.isTemplateSelected(key)"
                             class="function-template-content">
                            <ng-form name="templateForm{{$index}}">
                                <div data-ng-if="$ctrl.isProjectsDropDownVisible()"
                                     class="projects-drop-down">
                                    <span class="input-label asterisk">
                                        {{ 'common:PROJECT' | i18next }}
                                    </span>
                                    <igz-default-dropdown data-is-required="true"
                                                          data-values-array="$ctrl.projectsList"
                                                          data-selected-item="$ctrl.selectedProject"
                                                          data-item-select-callback="$ctrl.onProjectChange(item, isItemChanged)"
                                                          data-form-object="$ctrl.functionFromTemplateForm['templateForm' + $index]"
                                                          data-input-name="project">
                                        <div class="transcluded-item"
                                             data-ng-click="$ctrl.createNewProject()">
                                            {{ 'functions:NEW_PROJECT' | i18next }}
                                        </div>
                                    </igz-default-dropdown>
                                </div>
                                <div class="function-name">
                                    <span class="input-label asterisk">
                                        {{ 'common:NAME' | i18next }}
                                    </span>
                                    <igz-validating-input-field class="nuclio-validating-input"
                                                                data-field-type="input"
                                                                data-input-name="function-name-{{$index}}"
                                                                data-input-value="$ctrl.functionName"
                                                                data-form-object="$ctrl.functionFromTemplateForm['templateForm' + $index]"
                                                                data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                                                data-validation-is-required="true"
                                                                data-validation-rules="$ctrl.validationRules"
                                                                data-validation-max-length="{{$ctrl.nameMaxLength}}"
                                                                data-input-model-options="$ctrl.inputModelOptions"
                                                                data-placeholder-text="{{ 'functions:PLACEHOLDER.ENTER_FUNCTION_NAME' | i18next }}...">
                                    </igz-validating-input-field>
                                </div>
                                <div class="buttons-wrapper">
                                    <button class="ncl-secondary-button igz-button-just-text"
                                            data-ng-click="$ctrl.unselectTemplate($event)">
                                        {{ 'common:CANCEL' | i18next }}
                                    </button>
                                    <button class="ncl-primary-button igz-button-primary"
                                            data-ng-click="$ctrl.createFunction()"
                                            data-ng-class="{'disabled': !$ctrl.isCreateFunctionAllowed()}">
                                        {{ 'common:CREATE' | i18next }}
                                    </button>
                                </div>
                            </ng-form>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
