<div class="function-from-template-content">
    <form name="$ctrl.functionFromTemplateForm" class="configuration-form" novalidate>
        <div class="function-name-wrapper">
            <div class="projects-drop-down" data-ng-if="$ctrl.isProjectsDropDownVisible()">
                <span class="input-label">Project*</span>
                <igz-default-dropdown data-is-required="true"
                                      data-values-array="$ctrl.projectsList"
                                      data-selected-item="$ctrl.selectedProject"
                                      data-item-select-callback="$ctrl.onProjectChange(item, isItemChanged)"
                                      data-form-object="$ctrl.functionFromTemplateForm"
                                      data-input-name="project">
                    <div class="transcluded-item"
                         data-ng-click="$ctrl.createNewProject()">New project</div>
                </igz-default-dropdown>
            </div>
            <div class="function-name">
                <span class="input-label">Name*</span>
                <igz-validating-input-field class="nuclio-validating-input"
                                            data-field-type="input"
                                            data-input-name="name"
                                            data-input-value="$ctrl.functionName"
                                            data-validation-is-required="true"
                                            data-form-object="$ctrl.functionFromTemplateForm"
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-validation-pattern="$ctrl.validationPatterns.functionName"
                                            data-validation-max-length="{{$ctrl.validationPatterns.getMaxLength('function.name')}}"
                                            data-hide-counter="false"
                                            data-input-model-options="$ctrl.inputModelOptions"
                                            data-placeholder-text="Type function name"
                                            data-uib-tooltip="Name must be 1-63 characters long, must consist of lower case alphanumeric characters or hyphen, start with an alphabetic character, and end with an alphanumeric character (e.g. 'my-name',  or 'abc-123')."
                                            data-tooltip-popup-delay="500"
                                            data-tooltip-append-to-body="true"></igz-validating-input-field>
            </div>
        </div>
    </form>
    <div class="templates-wrapper">
        <span class="title">Choose a template</span>
        <div class="templates-controls">
            <div class="templates-search-input">
                <div class="igz-icon-search search-icon"></div>
                <input class="input-field field" tabindex="0"
                       data-ng-model="$ctrl.searchQuery"
                       data-ng-change="$ctrl.onChangeSearchQuery()"
                       placeholder="Search by text, tags and keywords..."
                       data-igz-input-blur-on-enter>
            </div>
            <div class="templates-runtime-drop-down">
                <span class="input-label">Runtime</span>
                <igz-default-dropdown data-values-array="$ctrl.runtimeFilters"
                                      data-selected-item="$ctrl.selectedRuntimeFilter"
                                      data-item-select-callback="$ctrl.onRuntimeFilterChange(item, isItemChanged)">
                </igz-default-dropdown>
            </div>
            <div class="templates-pagination">
                <igz-pagination data-page-data="$ctrl.page"
                                data-is-per-page-visible="true"
                                data-pagination-callback="$ctrl.paginationCallback(page, size)">
                </igz-pagination>
            </div>
        </div>
        <div class="function-templates">
            <div class="function-template-wrapper" data-ng-repeat="(key, value) in $ctrl.templatesWorkingCopy"
                 data-ng-click="$ctrl.selectTemplate(key)"
                 data-ng-class="{'selected': $ctrl.isTemplateSelected(key)}">
                <div class="add-template-icon-wrapper"
                     data-ng-class="{'selected': $ctrl.isTemplateSelected(key), 'disabled': !$ctrl.isCreateFunctionAllowed}"
                     data-ng-click="$ctrl.createFunction()">
                    <div class="igz-icon-add"></div>
                </div>

                <div class="function-template-content">
                    <div class="template-title">{{key}}</div>
                    <div class="template-description">{{value.rendered.spec.description}}</div>
                </div>
            </div>
        </div>
        <div class="bottom-bar">
            <button class="ncl-secondary-button" data-ng-click="$ctrl.cancelCreating($event)">CANCEL</button>
        </div>
    </div>
</div>
