ncl-functions {
    .search-input-not-found {
        height: 48px;
        background-color: @light-grey;
        border: solid 1px @pale-grey;
        font-size: 14px;
        color: @dusk-three;
    }

    .invisible {
        visibility: hidden;
    }

    .function-status {
        min-width: 100px;
    }
}
