<div class="ncl-version-configuration-volumes">
    <div class="title">
        <span>{{ 'functions:VOLUMES' | i18next }}</span>
        <igz-more-info
                data-description="{{ 'functions:TOOLTIP.VOLUMES' | i18next }}"
                data-trigger="click">
        </igz-more-info>
    </div>
    <form name="$ctrl.volumesForm" class="volumes-wrapper" novalidate>

        <div class="ncl-version-volume">
            <div class="common-table">
                <div data-ng-if="$ctrl.volumes.length > 0" class="common-table-header item-header">
                    <div class="common-table-cell item-name">
                        {{ 'common:NAME' | i18next }}
                    </div>
                    <div class="common-table-cell item-class">
                        {{ 'common:TYPE' | i18next }}
                    </div>
                    <div class="common-table-cell item-info">
                        {{ 'functions:MOUNT_PATH_PARAMS' | i18next }}
                    </div>
                </div>

                <div class="common-table-body">
                    <div class="igz-scrollable-container scrollable-volumes"
                         data-ng-scrollbars
                         data-igz-ng-scrollbars-config="{{$ctrl.igzScrollConfig}}"
                         data-ng-scrollbars-config="$ctrl.scrollConfig">
                        <ncl-collapsing-row data-ng-repeat="volume in $ctrl.volumes"
                                            data-item="volume"
                                            data-item-index="$index"
                                            data-type="volume"
                                            data-read-only="$ctrl.isFunctionDeploying()"
                                            data-action-handler-callback="$ctrl.handleAction(actionType, selectedItem, index)">
                            <ncl-edit-item class="common-table-cells-container edit-volume-row"
                                           data-item="volume"
                                           data-class-list="$ctrl.classList"
                                           data-class-placeholder="{{ 'functions:PLACEHOLDER.SELECT_TYPE' | i18next }}"
                                           data-type="volume"
                                           data-read-only="$ctrl.isFunctionDeploying()"
                                           data-validation-rules="$ctrl.validationRules"
                                           data-max-lengths="$ctrl.maxLengths"
                                           data-on-submit-callback="$ctrl.editVolumeCallback(item)">
                            </ncl-edit-item>
                        </ncl-collapsing-row>
                    </div>
                </div>
            </div>
        </div>
        <div class="igz-create-button create-volume-button"
             data-ng-class="{'disabled': $ctrl.isFunctionDeploying()}"
             data-ng-click="$ctrl.createVolume($event)">
            <span class="igz-icon-add-round"></span>
            {{ 'functions:ADD_VOLUME' | i18next }}
        </div>
    </form>
</div>
