<div class="close-button igz-icon-close" data-ng-click="$ctrl.onClose()"></div>

<div class="title">
    Duplicate function
</div>

<div class="main-content">
    <form name="$ctrl.duplicateFunctionForm" novalidate data-ng-keydown="$ctrl.duplicateFunction($event)">
        <div class="field-group function-name-group">
            <div class="field-label function-name-label">
                Function Name
            </div>
            <div class="field-input function-name-input">
                <igz-validating-input-field class="nuclio-validating-input"
                                            data-field-type="input"
                                            data-input-name="spec.displayName"
                                            data-input-value="$ctrl.newFunctionName"
                                            data-is-focused="true"
                                            data-form-object="$ctrl.duplicateFunctionForm"
                                            data-update-data-callback="$ctrl.inputValueCallback(newData)"
                                            data-validation-is-required="true"
                                            data-validation-pattern="$ctrl.validationPatterns.functionName"
                                            data-placeholder-text="Enter function name..."
                                            data-validation-max-length="{{$ctrl.validationPatterns.getMaxLength('function.name')}}"
                                            data-uib-tooltip="Name must be 1-63 characters long, must consist of lower case alphanumeric characters or hyphen, start with an alphabetic character, and end with an alphanumeric character (e.g. 'my-name',  or 'abc-123')."
                                            data-tooltip-popup-delay="500"
                                            data-tooltip-append-to-body="true"></igz-validating-input-field>
                <div class="error"
                     data-ng-show="$ctrl.isShowFieldInvalidState($ctrl.duplicateFunctionForm, 'spec.displayName')">
                    The inputs you provided are invalid or incorrect
                </div>
                <div class="error" data-ng-show="$ctrl.nameTakenError">
                    Name already exists
                </div>
            </div>
        </div>
    </form>
</div>

<div class="buttons">
    <button class="ncl-secondary-button"
            data-test-id="functions.duplicate_function_cancel.button"
            tabindex="0"
            data-ng-click="$ctrl.onClose()"
            data-ng-keydown="$ctrl.onClose($event)">
        Cancel
    </button>
    <button class="ncl-primary-button"
            data-test-id="functions.duplicate_function_duplicate.button"
            tabindex="0"
            data-ng-click="$ctrl.duplicateFunction()"
            data-ng-keydown="$ctrl.duplicateFunction($event)"
            data-ng-hide="$ctrl.isLoadingState">
        Duplicate
    </button>
    <button class="ncl-primary-button" data-ng-show="$ctrl.isLoadingState">Loading...</button>
</div>

<div class="error-text text-centered error-relative"
     data-ng-show="$ctrl.isServerError()">Error: {{$ctrl.serverError}}
</div>
