<div class="ncl-test-events-navigation-tabs">
    <div class="test-events-navigation-tab"
         data-ng-repeat="item in $ctrl.tabItems"
         data-ng-click="$ctrl.changeActiveTab(item)"
         data-ng-class="{'active': $ctrl.isActiveTab(item)}">
        {{item.tabName | uppercase}}

        <span class="badge" data-ng-if="item.badge">{{item.badge}}</span>
    </div>

    <igz-default-dropdown data-ng-if="$ctrl.selectedLogLevel"
                          data-values-array="$ctrl.logLevelValues"
                          data-select-property-only="id"
                          data-selected-item="$ctrl.selectedLogLevel"
                          data-item-select-callback="$ctrl.onChangeLogLevel({selectedLogLevel: item})">
    </igz-default-dropdown>
</div>