<div data-igz-extend-background
     data-ui-layout="{ flow : 'column', dividerSize: 3 }"
     ui-layout-loaded
     class="ncl-edit-version-code ncl-version">
    <div ui-layout-container="central" class="code-section">
        <form name="$ctrl.versionCodeForm" class="code-wrapper-block" novalidate>
            <div data-ng-if="$ctrl.selectedEntryType.id === 'sourceCode'"
                 class="igz-scrollable-container code-scrollable-container"
                 data-ng-scrollbars data-ng-scrollbars-config="$ctrl.scrollConfigHorizontal">
                <div class="ncl-edit-version-code-wrapper">

                    <div class="section-wrapper code-entry-section">
                        <div class="code-entry-row">
                            <div class="code-entry-col code-entry-type-col">
                                <div class="col-label code-entry-type">{{ 'functions:CODE_ENTRY_TYPE' | i18next }}</div>
                                <igz-default-dropdown data-values-array="$ctrl.codeEntryTypeArray"
                                                      data-item-select-callback="$ctrl.selectEntryTypeValue(item, isItemChanged, field)"
                                                      data-selected-item="$ctrl.selectedEntryType">
                                </igz-default-dropdown>
                            </div>
                            <div class="code-entry-col code-entry-runtime-col">
                                <div class="col-label runtime">{{ 'functions:RUNTIME' | i18next }}</div>
                                <igz-default-dropdown data-values-array="$ctrl.runtimeArray"
                                                      data-item-select-callback="$ctrl.selectRuntimeValue(item, isItemChanged, field)"
                                                      data-selected-item="$ctrl.selectedRuntime"
                                                      data-is-disabled="true">
                                </igz-default-dropdown>
                            </div>
                            <div class="code-entry-col code-entry-handler-col">
                                <div class="col-label handler">{{ 'functions:HANDLER' | i18next }}</div>
                                <igz-validating-input-field data-field-type="input"
                                                            data-input-name="handler"
                                                            data-input-value="$ctrl.version.spec.handler"
                                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                                            data-update-data-field="spec.handler"
                                                            data-form-object="$ctrl.versionCodeForm"
                                                            data-placeholder-text="{{ 'functions:HANDLER' | i18next }}">
                                </igz-validating-input-field>
                            </div>
                            <div class="code-entry-col code-entry-theme-col"
                                 data-ng-if="$ctrl.isDemoMode()">
                                <div class="col-label runtime">{{ 'functions:THEME' | i18next }}</div>
                                <igz-default-dropdown data-values-array="$ctrl.themesArray"
                                                      data-item-select-callback="$ctrl.selectThemeValue(item, isItemChanged, field)"
                                                      data-selected-item="$ctrl.selectedTheme"
                                                      data-on-close-dropdown="$ctrl.onCloseDropdown()">
                                </igz-default-dropdown>
                            </div>
                        </div>
                    </div>

                    <div class="code-edit-section">
                        <div class="field-label asterisk">{{ 'functions:SOURCE_CODE' | i18next }}</div>
                        <div class="code-editor-drop-zone"></div>
                        <ncl-monaco class="monaco-code-editor"
                                    igz-extend-background
                                    data-function-source-code="$ctrl.sourceCode"
                                    data-mini-monaco="false"
                                    data-selected-theme="$ctrl.selectedTheme.id"
                                    data-show-text-size-dropdown="true"
                                    data-language="$ctrl.editorLanguage"
                                    data-on-change-source-code-callback="$ctrl.onChangeSourceCode(sourceCode, language)"
                                    data-read-only="false">
                        </ncl-monaco>
                    </div>
                </div>
            </div>

            <div data-ng-if="$ctrl.selectedEntryType.id !== 'sourceCode'"
                 class="igz-scrollable-container code-scrollable-container"
                 data-ng-scrollbars data-ng-scrollbars-config="$ctrl.scrollConfig">
                <div class="ncl-edit-version-code-wrapper">

                    <div class="section-wrapper code-entry-section">
                        <div class="code-entry-row">
                            <div class="code-entry-col code-entry-type-col">
                                <div class="col-label code-entry-type">{{ 'functions:CODE_ENTRY_TYPE' | i18next }}</div>
                                <igz-default-dropdown data-values-array="$ctrl.codeEntryTypeArray"
                                                      data-item-select-callback="$ctrl.selectEntryTypeValue(item, isItemChanged, field)"
                                                      data-selected-item="$ctrl.selectedEntryType"></igz-default-dropdown>
                            </div>
                            <div class="code-entry-col code-entry-runtime-col">
                                <div class="col-label runtime">{{ 'functions:RUNTIME' | i18next }}</div>
                                <igz-default-dropdown data-values-array="$ctrl.runtimeArray"
                                                      data-item-select-callback="$ctrl.selectRuntimeValue(item, isItemChanged, field)"
                                                      data-selected-item="$ctrl.selectedRuntime"
                                                      data-is-disabled="true"></igz-default-dropdown>
                            </div>
                            <div class="code-entry-col code-entry-handler-col">
                                <div class="col-label handler">{{ 'functions:HANDLER' | i18next }}</div>
                                <igz-validating-input-field data-field-type="input"
                                                            data-input-name="handler"
                                                            data-input-value="$ctrl.version.spec.handler"
                                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                                            data-update-data-field="spec.handler"
                                                            data-form-object="$ctrl.versionCodeForm"
                                                            data-placeholder-text="{{ 'functions:HANDLER' | i18next }}">
                                </igz-validating-input-field>
                            </div>
                        </div>
                        <div class="code-entry-row" data-ng-i18next="[html]functions:CODE_ENTRY_TYPE_NOTE"></div>
                    </div>

                    <div data-ng-if="$ctrl.selectedEntryType.id === 'image'"
                         class="ncl-code-entry-url">
                        <div class="field-label">
                            <span class="asterisk">{{ 'functions:IMAGE_NAME' | i18next }}</span>
                            <igz-more-info data-description="{{ 'functions:TOOLTIP.IMAGE_NAME' | i18next }}"></igz-more-info>
                        </div>
                        <igz-validating-input-field data-field-type="input"
                                                    data-input-name="image"
                                                    data-input-value="$ctrl.version.spec.image"
                                                    data-is-focused="true"
                                                    data-form-object="$ctrl.versionCodeForm"
                                                    data-validation-is-required="true"
                                                    data-placeholder-text="{{ 'common:FOR_EXAMPLE' | i18next }}: mydockeruser/my-func:latest"
                                                    data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                                    data-update-data-field="spec.image">
                        </igz-validating-input-field>
                    </div>

                    <div data-ng-if="$ctrl.selectedEntryType.id === 'archive' || $ctrl.selectedEntryType.id === 'jar'"
                         class="ncl-code-entry-url">
                        <div class="field-label">
                            <span class="asterisk">{{ 'common:URL' | i18next }}</span>
                            <igz-more-info data-description="{{ 'functions:TOOLTIP.URL' | i18next }}"></igz-more-info>
                        </div>
                        <igz-validating-input-field data-field-type="input"
                                                    data-input-name="archive"
                                                    data-input-value="$ctrl.version.spec.build.path"
                                                    data-is-focused="true"
                                                    data-form-object="$ctrl.versionCodeForm"
                                                    data-validation-is-required="true"
                                                    data-placeholder-text="{{ 'common:FOR_EXAMPLE' | i18next }}: https://v3io-webapi/users/iguazio/myfunction.zip"
                                                    data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                                    data-update-data-field="spec.build.path">
                        </igz-validating-input-field>
                    </div>

                    <div data-ng-if="$ctrl.selectedEntryType.id === 'archive'"
                         class="ncl-code-entry-url">
                        <div class="field-label">
                            <span>{{ 'functions:ACCESS_KEY_V3IO_ONLY' | i18next }}</span>
                            <igz-more-info data-description="{{ 'functions:TOOLTIP.V3IO_ACCESS_KEY' | i18next }}"></igz-more-info>
                        </div>
                        <igz-validating-input-field data-field-type="password"
                                                    data-input-name="sessionKey"
                                                    data-input-value="$ctrl.version.spec.build.codeEntryAttributes.headers['X-V3io-Session-Key']"
                                                    data-is-focused="false"
                                                    data-form-object="$ctrl.versionCodeForm"
                                                    data-validation-is-required="false"
                                                    data-placeholder-text="{{ 'functions:PLACEHOLDER.ENTER_ACCESS_KEY' | i18next }}"
                                                    data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                                    data-update-data-field="spec.build.codeEntryAttributes.headers['X-V3io-Session-Key']">
                        </igz-validating-input-field>

                        <div class="field-label">
                            <span>{{ 'functions:WORK_DIRECTORY' | i18next }}</span>
                            <igz-more-info data-description="{{ 'functions:TOOLTIP.WORK_DIR' | i18next }}"></igz-more-info>
                        </div>
                        <igz-validating-input-field data-field-type="input"
                                                    data-input-name="archiveWorkDir"
                                                    data-input-value="$ctrl.version.spec.build.codeEntryAttributes.workDir"
                                                    data-is-focused="false"
                                                    data-form-object="$ctrl.versionCodeForm"
                                                    data-validation-is-required="false"
                                                    data-placeholder-text="{{ 'common:FOR_EXAMPLE' | i18next }}: /nuclio-functions/myfunc"
                                                    data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                                    data-update-data-field="spec.build.codeEntryAttributes.workDir">
                        </igz-validating-input-field>
                    </div>

                    <div data-ng-if="$ctrl.selectedEntryType.id === 'github' || $ctrl.selectedEntryType.id === 'git'"
                         class="ncl-code-entry-url">
                        <div class="field-label">
                            <span class="asterisk">{{ 'common:URL' | i18next }}</span>
                            <igz-more-info data-description="{{ 'functions:TOOLTIP.GITHUB.URL' | i18next }}"></igz-more-info>
                        </div>
                        <igz-validating-input-field data-field-type="input"
                                                    data-input-name="githubUrl"
                                                    data-input-value="$ctrl.version.spec.build.path"
                                                    data-is-focused="true"
                                                    data-form-object="$ctrl.versionCodeForm"
                                                    data-validation-is-required="true"
                                                    data-placeholder-text="{{ 'common:FOR_EXAMPLE' | i18next }}: https://github.com/my-organization/my-repository"
                                                    data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                                    data-update-data-field="spec.build.path">
                        </igz-validating-input-field>
                    </div>

                    <div data-ng-if="$ctrl.selectedEntryType.id === 'github' || $ctrl.selectedEntryType.id === 'git'"
                         class="ncl-code-entry-url">
                        <div class="field-label">
                            <span class="asterisk">{{ 'functions:BRANCH' | i18next }}</span>
                            <igz-more-info data-description="{{ 'functions:TOOLTIP.GITHUB.BRANCH' | i18next }}"></igz-more-info>
                        </div>
                        <igz-validating-input-field data-field-type="input"
                                                    data-input-name="githubBranch"
                                                    data-input-value="$ctrl.version.spec.build.codeEntryAttributes.branch"
                                                    data-is-focused="false"
                                                    data-form-object="$ctrl.versionCodeForm"
                                                    data-validation-is-required="true"
                                                    data-placeholder-text="{{ 'common:FOR_EXAMPLE' | i18next }}: master"
                                                    data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                                    data-update-data-field="spec.build.codeEntryAttributes.branch">
                        </igz-validating-input-field>
                    </div>

                    <div data-ng-if="$ctrl.selectedEntryType.id === 'github'"
                         class="ncl-code-entry-url">
                        <div class="field-label">
                            <span>{{ 'functions:TOKEN' | i18next }}</span>
                            <igz-more-info data-description="{{ 'functions:TOOLTIP.GITHUB.TOKEN' | i18next }}"></igz-more-info>
                        </div>
                        <igz-validating-input-field data-field-type="input"
                                                    data-input-name="githubToken"
                                                    data-input-value="$ctrl.githubToken"
                                                    data-is-focused="false"
                                                    data-form-object="$ctrl.versionCodeForm"
                                                    data-validation-is-required="false"
                                                    data-placeholder-text="{{ 'functions:PLACEHOLDER.ENTER_TOKEN' | i18next }}"
                                                    data-update-data-callback="$ctrl.onChangeGithubToken(newData)">
                        </igz-validating-input-field>
                    </div>

                    <div data-ng-if="$ctrl.selectedEntryType.id === 'git'"
                         class="ncl-code-entry-url">
                        <div class="field-label">
                            <span>{{ 'functions:GIT' | i18next }}</span>
                        </div>
                        <igz-validating-input-field data-field-type="input"
                                                    data-input-name="git"
                                                    data-input-value="$ctrl.version.spec.build.codeEntryAttributes.tag"
                                                    data-is-focused="false"
                                                    data-form-object="$ctrl.versionCodeForm"
                                                    data-validation-is-required="false"
                                                    data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                                    data-update-data-field="spec.build.codeEntryAttributes.tag">
                        </igz-validating-input-field>
                    </div>

                    <div data-ng-if="$ctrl.selectedEntryType.id === 'git'"
                         class="ncl-code-entry-url">
                        <div class="field-label">
                            <span>{{ 'functions:REFERENCE' | i18next }}</span>
                        </div>
                        <igz-validating-input-field data-field-type="input"
                                                    data-input-name="gitReference"
                                                    data-input-value="$ctrl.version.spec.build.codeEntryAttributes.reference"
                                                    data-is-focused="false"
                                                    data-form-object="$ctrl.versionCodeForm"
                                                    data-validation-is-required="false"
                                                    data-placeholder-text="{{ 'functions:PLACEHOLDER.ENTER_REFERENCE' | i18next }}"
                                                    data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                                    data-update-data-field="spec.build.codeEntryAttributes.reference">
                        </igz-validating-input-field>
                    </div>

                    <div data-ng-if="$ctrl.selectedEntryType.id === 'git'"
                         class="ncl-code-entry-url">
                        <div class="field-label">
                            <span>{{ 'common:USERNAME' | i18next }}</span>
                        </div>
                        <igz-validating-input-field data-field-type="input"
                                                    data-input-name="gitUsername"
                                                    data-input-value="$ctrl.version.spec.build.codeEntryAttributes.username"
                                                    data-is-focused="false"
                                                    data-form-object="$ctrl.versionCodeForm"
                                                    data-validation-is-required="false"
                                                    data-placeholder-text="{{ 'common:PLACEHOLDER.ENTER_USERNAME' | i18next }}"
                                                    data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                                    data-update-data-field="spec.build.codeEntryAttributes.username">
                        </igz-validating-input-field>
                    </div>

                    <div data-ng-if="$ctrl.selectedEntryType.id === 'git'"
                         class="ncl-code-entry-url">
                        <div class="field-label">
                            <span>{{ 'common:PASSWORD' | i18next }}</span>
                        </div>
                        <igz-validating-input-field data-field-type="password"
                                                    data-input-name="gitPassword"
                                                    data-input-value="$ctrl.version.spec.build.codeEntryAttributes.password"
                                                    data-is-focused="false"
                                                    data-form-object="$ctrl.versionCodeForm"
                                                    data-validation-is-required="false"
                                                    data-placeholder-text="{{'common:PLACEHOLDER.ENTER_PASSWORD' | i18next}}"
                                                    data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                                    data-update-data-field="spec.build.codeEntryAttributes.password">
                        </igz-validating-input-field>
                    </div>

                    <div data-ng-if="$ctrl.selectedEntryType.id === 'github' || $ctrl.selectedEntryType.id === 'git'"
                         class="ncl-code-entry-url">
                        <div class="field-label">
                            <span>{{ 'functions:WORK_DIRECTORY' | i18next }}</span>
                            <igz-more-info data-description="{{ 'functions:TOOLTIP.GITHUB.WORK_DIR' | i18next }}"></igz-more-info>
                        </div>
                        <igz-validating-input-field data-field-type="input"
                                                    data-input-name="githubWorkDir"
                                                    data-input-value="$ctrl.version.spec.build.codeEntryAttributes.workDir"
                                                    data-is-focused="false"
                                                    data-form-object="$ctrl.versionCodeForm"
                                                    data-validation-is-required="false"
                                                    data-placeholder-text="{{ 'common:FOR_EXAMPLE' | i18next }}: /nuclio-functions/myfunc"
                                                    data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                                    data-update-data-field="spec.build.codeEntryAttributes.workDir">
                        </igz-validating-input-field>
                    </div>

                    <div data-ng-if="$ctrl.selectedEntryType.id === 's3'"
                         class="ncl-code-entry-s3">
                        <div class="field-label">
                            <span class="asterisk">{{ 'functions:BUCKET' | i18next }}</span>
                            <igz-more-info data-description="{{ 'functions:TOOLTIP.S3.BUCKET' | i18next }}"></igz-more-info>
                        </div>
                        <igz-validating-input-field data-field-type="input"
                                                    data-input-name="s3Bucket"
                                                    data-input-value="$ctrl.version.spec.build.codeEntryAttributes.s3Bucket"
                                                    data-is-focused="false"
                                                    data-form-object="$ctrl.versionCodeForm"
                                                    data-validation-is-required="true"
                                                    data-placeholder-text="{{ 'common:FOR_EXAMPLE' | i18next }}: my-s3-bucket"
                                                    data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                                    data-update-data-field="spec.build.codeEntryAttributes.s3Bucket">
                        </igz-validating-input-field>

                        <div class="field-label">
                            <span class="asterisk">{{ 'functions:ITEM_KEY' | i18next }}</span>
                            <igz-more-info data-description="{{ 'functions:TOOLTIP.S3.ITEM_KEY' | i18next }}"></igz-more-info>
                        </div>
                        <igz-validating-input-field data-field-type="input"
                                                    data-input-name="s3ItemKey"
                                                    data-input-value="$ctrl.version.spec.build.codeEntryAttributes.s3ItemKey"
                                                    data-is-focused="false"
                                                    data-form-object="$ctrl.versionCodeForm"
                                                    data-validation-is-required="true"
                                                    data-placeholder-text="{{ 'common:FOR_EXAMPLE' | i18next }}: my-dir/nuclio_funcs.zip"
                                                    data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                                    data-update-data-field="spec.build.codeEntryAttributes.s3ItemKey">
                        </igz-validating-input-field>

                        <div class="field-label">
                            <span>{{ 'functions:ACCESS_KEY_ID' | i18next }}</span>
                            <igz-more-info data-description="{{ 'functions:TOOLTIP.S3.ACCESS_KEY_ID' | i18next }}"></igz-more-info>
                        </div>
                        <igz-validating-input-field data-field-type="input"
                                                    data-input-name="s3AccessKeyID"
                                                    data-input-value="$ctrl.version.spec.build.codeEntryAttributes.s3AccessKeyId"
                                                    data-is-focused="false"
                                                    data-form-object="$ctrl.versionCodeForm"
                                                    data-validation-is-required="false"
                                                    data-placeholder-text="{{ 'functions:PLACEHOLDER.ENTER_ACCESS_KEY_ID' | i18next }}"
                                                    data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                                    data-update-data-field="spec.build.codeEntryAttributes.s3AccessKeyId">
                        </igz-validating-input-field>

                        <div class="field-label">
                            <span>{{ 'functions:SECRET_ACCESS_KEY' | i18next }}</span>
                            <igz-more-info data-description="{{ 'functions:TOOLTIP.S3.SECRET_ACCESS_KEY' | i18next }}"></igz-more-info>
                        </div>
                        <igz-validating-input-field data-field-type="password"
                                                    data-input-name="s3SecretAccessKey"
                                                    data-input-value="$ctrl.version.spec.build.codeEntryAttributes.s3SecretAccessKey"
                                                    data-is-focused="false"
                                                    data-form-object="$ctrl.versionCodeForm"
                                                    data-validation-is-required="false"
                                                    data-placeholder-text="{{ 'functions:PLACEHOLDER.ENTER_SECRET_ACCESS_KEY' | i18next }}"
                                                    data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                                    data-update-data-field="spec.build.codeEntryAttributes.s3SecretAccessKey">
                        </igz-validating-input-field>

                        <div class="field-label">
                            <span>{{ 'functions:SESSION_TOKEN' | i18next }}</span>
                            <igz-more-info data-description="{{ 'functions:TOOLTIP.S3.SESSION_TOKEN' | i18next }}"></igz-more-info>
                        </div>
                        <igz-validating-input-field data-field-type="password"
                                                    data-input-name="s3SessionToken"
                                                    data-input-value="$ctrl.version.spec.build.codeEntryAttributes.s3SessionToken"
                                                    data-is-focused="false"
                                                    data-form-object="$ctrl.versionCodeForm"
                                                    data-validation-is-required="false"
                                                    data-placeholder-text="{{ 'functions:PLACEHOLDER.ENTER_SESSION_TOKEN' | i18next }}"
                                                    data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                                    data-update-data-field="spec.build.codeEntryAttributes.s3SessionToken">
                        </igz-validating-input-field>

                        <div class="field-label">
                            <span>{{ 'functions:REGION' | i18next }}</span>
                            <igz-more-info data-description="{{ 'functions:TOOLTIP.S3.REGION' | i18next }}"></igz-more-info>
                        </div>
                        <igz-validating-input-field data-field-type="input"
                                                    data-input-name="s3Region"
                                                    data-input-value="$ctrl.version.spec.build.codeEntryAttributes.s3Region"
                                                    data-is-focused="false"
                                                    data-form-object="$ctrl.versionCodeForm"
                                                    data-validation-is-required="false"
                                                    data-placeholder-text="{{ 'common:FOR_EXAMPLE' | i18next }}: us-east-1"
                                                    data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                                    data-update-data-field="spec.build.codeEntryAttributes.s3Region">
                        </igz-validating-input-field>

                        <div class="field-label">
                            <span>{{ 'functions:WORK_DIRECTORY' | i18next }}</span>
                            <igz-more-info data-description="{{ 'functions:TOOLTIP.S3.WORK_DIR' | i18next }}"></igz-more-info>
                        </div>
                        <igz-validating-input-field data-field-type="input"
                                                    data-input-name="workDir"
                                                    data-input-value="$ctrl.version.spec.build.codeEntryAttributes.workDir"
                                                    data-is-focused="false"
                                                    data-form-object="$ctrl.versionCodeForm"
                                                    data-validation-is-required="false"
                                                    data-placeholder-text="{{ 'common:FOR_EXAMPLE' | i18next }}: /nuclio-functions/myfunc"
                                                    data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                                    data-update-data-field="spec.build.codeEntryAttributes.workDir">
                        </igz-validating-input-field>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div ui-layout-container
         size="650px"
         min-size="{{$ctrl.layout.collapsed ? null : '300px'}}"
         max-size="80%"
         collapsed="$ctrl.layout.collapsed"
         class="event-pane-section">
        <function-events-data-wrapper data-version="$ctrl.version"></function-events-data-wrapper>
    </div>
</div>

