ncl-projects-functions-view {
    igz-info-page-actions-bar {
        .igz-info-page-actions-bar {
            min-width: 910px;

            igz-default-dropdown {
                display: inline-block;
                width: 150px;
            }

            .project-import-input {
                display: none;
            }
        }
    }

    .igz-info-page-content-wrapper {
        .igz-info-page-content {
            min-width: 1170px;

            .table-actions {
                display: flex;
                align-items: center;
                margin: 5px 10px;

                .view-by-dropdown {
                    display: inline-block;
                    margin-right: 15px;

                    igz-default-dropdown {
                        display: inline-block;
                    }
                }

                .igz-actions-panel {
                    .ncl-icon-expand-all,
                    .ncl-icon-collapse-all {
                        .duskThree(0.64);
                        display: inline-flex;
                        margin: 10px;
                        color: @color;
                        font-size: 16px;
                    }
                }

            }

            .function-status {
                min-width: 100px;
            }
        }
    }

    igz-info-page-content {
        &:not(.functions-by-project) {
            .igz-info-page-content {
                padding-top: 0;
            }
        }
    }

    .search-input-not-found {
        height: 48px;
        background-color: @light-grey;
        border: solid 1px @pale-grey;
        font-size: 14px;
        color: @dusk-three;
    }
}
