<section class="igz-general-content" data-igz-extend-background>

    <!--splash screen-->
    <igz-splash-screen data-is-splash-showed="$ctrl.isSplashShowed"></igz-splash-screen>

    <!--filters-->
    <igz-info-page-filters data-is-filters-showed="$ctrl.isFiltersShowed.value"
                           data-apply-filters="$ctrl.onApplyFilters(false)"
                           data-reset-filters="$ctrl.onResetFilters(false)"
                           data-change-state-callback="$ctrl.isFiltersShowed.changeValue(newVal)"
                           data-toggle-method="$ctrl.toggleFilters()">

        <igz-search-input class="info-page-filters-item igz-component"
                          data-data-set="$ctrl.projectsService.viewMode === 'projects' ? $ctrl.projects : $ctrl.functions"
                          data-search-keys="$ctrl.searchKeys"
                          data-search-callback="$ctrl.onUpdateFiltersCounter(searchQuery)"
                          data-placeholder="{{ ($ctrl.projectsService.viewMode === 'projects' ?
                                                      'functions:PLACEHOLDER.SEARCH_PROJECTS' :
                                                      'functions:PLACEHOLDER.SEARCH_FUNCTIONS') | i18next }}"
                          data-live-search="false"
                          data-search-states="$ctrl.searchStates">
        </igz-search-input>
    </igz-info-page-filters>

    <!--actions bar-->
    <igz-info-page-actions-bar class="igz-component">
        <div class="actions-bar-left">
            <igz-action-panel data-actions="$ctrl.projectsService.checkedItem === 'projects' ? $ctrl.projectActions   :
                                            $ctrl.projectsService.checkedItem === 'functions'? $ctrl.functionActions  :
                                                                                               $ctrl.versionActions">
            </igz-action-panel>
        </div>
        <div class="actions-bar-right">
            <button data-ng-if="$ctrl.projectsService.viewMode === 'projects'"
                    class="project-import-input"
                    ngf-select="$ctrl.importProject($file)"
                    accept=".yml, .yaml">
            </button>
            <div class="actions-bar-left actions-buttons-block">
                <div class="view-by-dropdown" data-ng-if="$ctrl.projectsService.viewMode !== ''">
                    View by:&nbsp;
                    <igz-default-dropdown data-select-property-only="id"
                                          data-selected-item="$ctrl.projectsService.viewMode"
                                          data-values-array="$ctrl.viewByOptions"
                                          data-item-select-callback="$ctrl.changeView(item)">
                    </igz-default-dropdown>
                </div>
                <igz-default-dropdown data-ng-if="$ctrl.projectsService.viewMode === 'projects'"
                                      data-select-property-only="id"
                                      data-placeholder="{{ 'functions:PLACEHOLDER.ACTIONS' | i18next }}"
                                      data-values-array="$ctrl.dropdownActions"
                                      data-item-select-callback="$ctrl.onSelectDropdownAction(item)"
                                      data-skip-selection="true">
                </igz-default-dropdown>
                <button data-ng-if="$ctrl.projectsService.viewMode === 'projects'"
                        class="ncl-new-entity-button"
                        data-ng-click="$ctrl.openNewProjectDialog()">
                    {{ 'functions:CREATE_PROJECT' | i18next }}
                </button>
                <button class="ncl-new-entity-button"
                        data-ng-click="$ctrl.openNewFunctionScreen()">
                    {{ 'functions:CREATE_FUNCTION' | i18next }}
                </button>
            </div>
            <div class="actions-bar-left actions-content-block">
                <div class="igz-action-panel">
                    <div class="actions-list">
                        <igz-action-item-refresh
                                data-refresh="$ctrl.projectsService.viewMode === 'projects' ? $ctrl.refreshProjects() : $ctrl.refreshFunctions()">
                        </igz-action-item-refresh>
                        <igz-sort-dropdown class="igz-component pull-left"
                                           data-sort-options="$ctrl.sortOptions"
                                           data-reverse-sorting="$ctrl.isReverseSorting"
                                           data-update-data-callback="$ctrl.onSortOptionsChange"
                                           data-uib-tooltip="{{ 'common:TOOLTIP.SORT' | i18next }}"
                                           data-tooltip-append-to-body="true"
                                           data-tooltip-placement="top">
                        </igz-sort-dropdown>
                    </div>
                </div>
            </div>
            <igz-actions-panes data-filters-toggle-method="$ctrl.toggleFilters()"
                               data-filters-counter="$ctrl.filtersCounter"
                               data-show-filter-icon="true"
                               data-is-filters-opened="$ctrl.isFiltersShowed.value">
            </igz-actions-panes>
        </div>
    </igz-info-page-actions-bar>

    <!--page content-->
    <igz-info-page-content class="igz-component"
                           data-ng-class="{'functions-by-project': $ctrl.projectsService.viewMode === ''}">
        <div data-ng-if="$ctrl.projectsService.viewMode !== ''" class="table-actions">
            <span class="ncl-icon-expand-all"
                  data-ng-click="$ctrl.expandAllRows()">
            </span>
            <span class="ncl-icon-collapse-all"
                  data-ng-click="$ctrl.collapseAllRows()">
            </span>
        </div>
        <div class="common-table">
            <div class="common-table-header">
                <div class="common-table-cell igz-col-3">
                    <igz-action-checkbox-all class="check-all-rows"
                                             data-ng-show="$ctrl.projectsService.checkedItem !== ''"
                                             data-items-count="$ctrl.projectsService.checkedItem === 'projects' ?
                                                               $ctrl.projects.length : $ctrl.getVersions().length"
                                             data-items-type="{{$ctrl.projectsService.checkedItem}}">
                    </igz-action-checkbox-all>
                </div>
                <div data-ng-if="$ctrl.projectsService.viewMode === 'projects'"
                     class="igz-col-3 common-table-cell">
                </div>
                <div class="igz-row common-table-cells-container">
                    <div class="common-table-cell sortable"
                         data-ng-class="[$ctrl.getColumnSortingClasses('metadata.name', $ctrl.sortedColumnName, $ctrl.isReverseSorting),
                                         $ctrl.getFunctionsTableColSize('headerName', $ctrl.projectsService.viewMode)]"
                         data-ng-click="$ctrl.sortTableByColumn('metadata.name')">
                        {{ 'common:NAME' | i18next }}
                        <span class="sort-arrow"></span>
                    </div>
                    <div class="igz-col-10 common-table-cell"
                         data-ng-if="$ctrl.projectsService.viewMode !== 'projects'">
                        {{ 'functions:PROJECT' | i18next }}
                    </div>
                    <div class="common-table-cell sortable function-status"
                         data-ng-class="[$ctrl.getColumnSortingClasses('status.state', $ctrl.sortedColumnName, $ctrl.isReverseSorting),
                                         $ctrl.getFunctionsTableColSize('status', $ctrl.projectsService.viewMode)]"
                         data-ng-click="$ctrl.sortTableByColumn('status.state')">
                        {{ 'common:STATUS' | i18next }}
                        <span class="sort-arrow"></span>
                    </div>
                    <div class="common-table-cell sortable"
                         data-ng-if="$ctrl.isDemoMode()"
                         data-ng-class="[$ctrl.getColumnSortingClasses('spec.replicas', $ctrl.sortedColumnName, $ctrl.isReverseSorting),
                                         $ctrl.getFunctionsTableColSize('replicas', $ctrl.projectsService.viewMode)]"
                         data-ng-click="$ctrl.sortTableByColumn('spec.replicas')">
                        {{ 'common:REPLICAS' | i18next }}
                        <span class="sort-arrow"></span>
                    </div>
                    <div class="igz-col-10 common-table-cell">
                        {{ 'functions:INVOCATION_PER_SEC' | i18next }}
                    </div>
                    <div class="igz-col-7-5 common-table-cell sortable"
                         data-ng-class="$ctrl.getColumnSortingClasses('spec.runtime', $ctrl.sortedColumnName, $ctrl.isReverseSorting)"
                         data-ng-click="$ctrl.sortTableByColumn('spec.runtime')">
                        {{ 'functions:RUNTIME' | i18next }}
                        <span class="sort-arrow"></span>
                    </div>
                    <div class="igz-col-10 common-table-cell">
                        {{ 'functions:INVOCATION_URL' | i18next }}
                    </div>
                    <div class="igz-col-12-5 common-table-cell">
                        {{ 'functions:INVOCATION' | i18next }}&nbsp;#
                    </div>
                    <div class="igz-col-12-5 common-table-cell">
                        {{ 'common:CPU_CORES' | i18next }}
                    </div>
                    <div class="igz-col-12-5 common-table-cell">
                        {{ 'common:MEMORY' | i18next }}
                    </div>
                </div>
                <div class="common-table-cell actions-menu">&nbsp;</div>
            </div>

            <div class="search-input-not-found"
                 data-ng-if="$ctrl.projectsService.viewMode === 'projects' ?
                             $ctrl.isProjectsListEmpty() : $ctrl.isFunctionsListEmpty()">
                {{ 'functions:PROJECTS_NOT_FOUND' | i18next }}
            </div>

            <div class="common-table-body">
                <div data-igz-extend-background>
                    <div class="igz-scrollable-container"
                         data-ng-scrollbars
                         data-ng-scrollbars-config="$ctrl.configScrollbar()">
                        <div class="sortable-wrapper"
                             data-ng-hide="$ctrl.searchStates.searchNotFound && $ctrl.searchStates.searchInProgress"
                             data-ng-model="$ctrl.data.working.ui.children">
                            <div data-ng-if="$ctrl.projectsService.viewMode === 'projects'"
                                 data-ng-repeat="project in $ctrl.projects track by project.metadata.name">
                                <div data-igz-show-hide-search-item="project">
                                    <ncl-project-collapsing-row
                                            data-delete-function="$ctrl.deleteFunction({functionData: functionData})"
                                            data-delete-project="$ctrl.deleteProject({project: project})"
                                            data-external-ip-address="$ctrl.externalIPAddress"
                                            data-function-action-handler-callback="$ctrl.handleFunctionVersionAction(actionType, checkedItems)"
                                            data-get-function="$ctrl.getFunction({metadata: metadata, projectID: projectID})"
                                            data-get-functions="$ctrl.getFunctions({id: id})"
                                            data-is-splash-showed="$ctrl.isSplashShowed"
                                            data-project="project"
                                            data-project-action-handler-callback="$ctrl.handleProjectAction(actionType, checkedItems)"
                                            data-projects-list="$ctrl.projects"
                                            data-update-function="$ctrl.updateFunction({function: function, projectID: projectID})"
                                            data-update-project="$ctrl.updateProject({project: project})">
                                    </ncl-project-collapsing-row>
                                </div>
                            </div>

                            <div data-ng-if="$ctrl.projectsService.viewMode !== 'projects'"
                                 data-ng-repeat="aFunction in $ctrl.functions track by aFunction.metadata.name">
                                <div data-igz-show-hide-search-item="aFunction">
                                    <ncl-function-collapsing-row
                                            data-action-handler-callback="$ctrl.handleFunctionVersionAction(actionType, checkedItems)"
                                            data-external-address="$ctrl.externalIPAddress"
                                            data-function="aFunction"
                                            data-functions-list="$ctrl.functions"
                                            data-get-function="$ctrl.getFunction({metadata: metadata, projectID: projectID})"
                                            data-get-functions="$ctrl.getFunctions({id: id})"
                                            data-handle-delete-function="$ctrl.deleteFunction({functionData: functionData})"
                                            data-is-splash-showed="$ctrl.isSplashShowed"
                                            data-project="aFunction.ui.project"
                                            data-refresh-functions-list="$ctrl.refreshFunctions()"
                                            data-update-function="$ctrl.updateFunction({function: function, projectID: projectID})">
                                    </ncl-function-collapsing-row>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </igz-info-page-content>
</section>
