<div class="function-from-scratch-content">
    <div class="title-wrapper">
        <span class="title">Start from scratch</span>
    </div>

    <div class="function-configuration">
        <form name="$ctrl.functionFromScratchForm" class="configuration-form" novalidate>
            <div class="function-name-wrapper">
                <div class="projects-drop-down" data-ng-if="$ctrl.isProjectsDropDownVisible()">
                    <span class="input-label">Projects*</span>
                    <igz-default-dropdown data-is-required="true"
                                          data-values-array="$ctrl.projectsList"
                                          data-selected-item="$ctrl.selectedProject"
                                          data-item-select-callback="$ctrl.onProjectChange(item, isItemChanged)"
                                          data-form-object="$ctrl.functionFromScratchForm"
                                          data-input-name="project">
                        <div class="transcluded-item"
                             data-ng-click="$ctrl.createNewProject()">New project</div>
                    </igz-default-dropdown>
                </div>
                <div class="function-name">
                    <span class="input-label">Name*</span>
                    <igz-validating-input-field class="nuclio-validating-input"
                                                data-field-type="input"
                                                data-input-name="name"
                                                data-input-value="$ctrl.functionData.metadata.name"
                                                data-validation-is-required="true"
                                                data-validation-pattern="$ctrl.validationPatterns.functionName"
                                                data-validation-max-length="{{$ctrl.validationPatterns.getMaxLength('function.name')}}"
                                                data-hide-counter="false"
                                                data-input-model-options="$ctrl.inputModelOptions"
                                                data-form-object="$ctrl.functionFromScratchForm"
                                                data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                                data-placeholder-text="Enter function name..."
                                                data-uib-tooltip="Name must be 1-63 characters long, must consist of lower case alphanumeric characters or hyphen, start with an alphabetic character, and end with an alphanumeric character (e.g. 'my-name',  or 'abc-123')."
                                                data-tooltip-popup-delay="500"
                                                data-tooltip-append-to-body="true"></igz-validating-input-field>
                </div>
            </div>
            <div class="function-runtime-wrapper">
                <div class="function-runtime">
                    <span class="input-label">Runtime*</span>
                    <igz-default-dropdown data-is-required="true"
                                          data-values-array="$ctrl.runtimes"
                                          data-selected-item="$ctrl.selectedRuntime"
                                          data-item-select-callback="$ctrl.onRuntimeChange(item, isItemChanged)"
                                          data-form-object="$ctrl.functionFromScratchForm"
                                          data-input-name="runtime"></igz-default-dropdown>
                    <div class="bottom-bar">
                        <button class="ncl-secondary-button" data-ng-click="$ctrl.cancelCreating($event)">CANCEL</button>
                        <button class="ncl-primary-button" data-ng-click="$ctrl.createFunction()"
                                data-ng-disabled="!$ctrl.isCreateFunctionAllowed()"
                                data-ng-class="{'disabled': !$ctrl.isCreateFunctionAllowed()}">CREATE FUNCTION</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
