<div class="function-from-scratch-content">
    <div class="title-wrapper">
        <span class="title">
            {{ 'functions:START_FROM_SCRATCH' | i18next }}
        </span>
    </div>

    <div class="function-configuration">
        <form name="$ctrl.functionFromScratchForm" class="configuration-form" novalidate>
            <div class="function-name-wrapper">
                <div class="projects-drop-down" data-ng-if="$ctrl.isProjectsDropDownVisible()">
                    <span class="input-label asterisk">
                        {{ 'common:PROJECT' | i18next }}
                    </span>
                    <igz-default-dropdown data-is-required="true"
                                          data-values-array="$ctrl.projectsList"
                                          data-selected-item="$ctrl.selectedProject"
                                          data-item-select-callback="$ctrl.onProjectChange(item, isItemChanged)"
                                          data-form-object="$ctrl.functionFromScratchForm"
                                          data-input-name="project">
                        <div class="transcluded-item"
                             data-ng-click="$ctrl.createNewProject()">
                            {{ 'functions:NEW_PROJECT' | i18next }}
                        </div>
                    </igz-default-dropdown>
                </div>
                <div class="function-name">
                    <span class="input-label asterisk">
                        {{ 'common:NAME' | i18next }}
                    </span>
                    <igz-validating-input-field class="nuclio-validating-input"
                                                data-field-type="input"
                                                data-input-name="name"
                                                data-input-value="$ctrl.functionData.metadata.name"
                                                data-validation-is-required="true"
                                                data-validation-rules="$ctrl.validationRules"
                                                data-validation-max-length="{{$ctrl.nameMaxLength}}"
                                                data-input-model-options="$ctrl.inputModelOptions"
                                                data-form-object="$ctrl.functionFromScratchForm"
                                                data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                                data-placeholder-text="{{ 'functions:PLACEHOLDER.ENTER_FUNCTION_NAME' | i18next }}">
                    </igz-validating-input-field>
                </div>
            </div>
            <div class="function-runtime-wrapper">
                <div class="function-runtime">
                    <span class="input-label asterisk">
                        {{ 'functions:RUNTIME' | i18next }}
                    </span>
                    <igz-default-dropdown data-is-required="true"
                                          data-values-array="$ctrl.runtimes"
                                          data-selected-item="$ctrl.selectedRuntime"
                                          data-item-select-callback="$ctrl.onRuntimeChange(item, isItemChanged)"
                                          data-form-object="$ctrl.functionFromScratchForm"
                                          data-input-name="runtime"></igz-default-dropdown>
                    <div class="bottom-bar">
                        <button class="ncl-primary-button igz-button-primary"
                                data-ng-click="$ctrl.createFunction()"
                                data-ng-disabled="!$ctrl.isCreateFunctionAllowed()"
                                data-ng-class="{'disabled': !$ctrl.isCreateFunctionAllowed()}">
                            {{ 'common:CREATE' | i18next }}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
