<div class="ncl-auto-scale-metrics-row">
    <ng-form name="$ctrl.autoScaleMetricForm"
             class="input-wrapper"
             data-ng-mousedown="$ctrl.onEditInput()"
             novalidate>
        <div class="inputs-container">
            <div class="input-type-wrapper">
                <igz-default-dropdown class="input-type"
                                      data-ng-if="$ctrl.typeList"
                                      data-form-object="$ctrl.autoScaleMetricForm"
                                      data-prevent-drop-up="true"
                                      data-is-required="true"
                                      data-placeholder="{{ 'functions:PLACEHOLDER.CHOOSE_METRIC' | i18next }}"
                                      data-input-name="displayName"
                                      data-selected-item="$ctrl.getSelectedItem('displayName')"
                                      data-is-disabled="$ctrl.isDisabled"
                                      data-values-array="$ctrl.typeList"
                                      data-item-select-field="displayName"
                                      data-name-key="displayName"
                                      data-item-select-callback="$ctrl.handleDropdownChange(item, field)">
                </igz-default-dropdown>
            </div>
            <div class="input-presets-wrapper">
                <igz-default-dropdown class="input-presets"
                                      data-ng-if="$ctrl.presetsList"
                                      data-form-object="$ctrl.autoScaleMetricForm"
                                      data-prevent-drop-up="true"
                                      data-is-required="true"
                                      data-input-name="windowSize"
                                      data-selected-item="$ctrl.getSelectedItem('windowSize')"
                                      data-is-disabled="$ctrl.isDisabled"
                                      data-values-array="$ctrl.presetsList"
                                      data-item-select-field="windowSize"
                                      data-name-key="windowSize"
                                      data-item-select-callback="$ctrl.handleDropdownChange(item, field)">
                </igz-default-dropdown>
            </div>
            <div class="input-value-wrapper dropdown" data-ng-if="$ctrl.metricData.displayType !== 'percentage'">
                <igz-number-input class="input-value"
                                  data-is-disabled="$ctrl.isDisabled"
                                  data-form-object="$ctrl.autoScaleMetricForm"
                                  data-input-name="threshold"
                                  data-update-number-input-callback="$ctrl.inputValueCallback(newData, field)"
                                  data-update-number-input-field="threshold"
                                  data-min-value="1"
                                  data-current-value="$ctrl.metricData.threshold"
                                  data-placeholder="{{ 'functions:PLACEHOLDER.ENTER_VALUE' | i18next }}"
                                  data-validation-is-required="true">
                </igz-number-input>
            </div>
            <div class="input-value-wrapper slider" data-ng-if="$ctrl.metricData.displayType === 'percentage'">
                <igz-slider-input-block data-slider-config="$ctrl.sliderConfig"
                                        data-measure-units="null"
                                        data-value-unit="$ctrl.unitLabel"
                                        data-slider-block-updating-broadcast=""
                                        data-on-change-callback="$ctrl.sliderInputCallback"
                                        data-update-slider-input="threshold"
                                        data-allow-full-range="true">
                </igz-slider-input-block>
            </div>
        </div>
        <div class="igz-action-panel" data-ng-if="!$ctrl.isDisabled">
            <div class="actions-list">
                <div class="igz-action-item"
                     data-ng-click="$ctrl.onClickAction($ctrl.actions[0])">
                    <span class="action-icon"
                          data-ng-class="$ctrl.actions[0].icon">
                    </span>
                </div>
            </div>
        </div>
    </ng-form>
</div>
