.ncl-auto-scale-metrics-row {
  .input-wrapper {
    width: 100%;
    display: flex;
    background-color: @white;
    position: relative;

    .igz-action-panel {
      visibility: hidden;
      transition: unset;

      .igz-action-item {
        margin: 0 0 0 5px;
      }
    }

    &:hover {
      .igz-action-panel {
        visibility: visible;
      }
    }

    .inputs-container {
      width: calc(100% - 45px);
      display: flex;

      .validating-input-field {
        .input-field {
          border-radius: 0;
          padding-left: 17px;
        }

        .input-placeholder {
          left: 18px;
          font-style: italic;
        }
      }

      .input-key-wrapper {
        width: 39%;

        .input-key {
          flex-grow: 1;
        }
      }

      .input-value-wrapper {
        width: 60%;

        .input-value {
          flex-grow: 1;
        }
      }

      .slider {
        padding-left: 20px;
      }
    }
  }
}
