<span class="main-header-title">
    <span class="main-header-title-text"
          data-ng-click="$ctrl.goToProjectsList()"
          data-ng-class="{'disable-behavior': !$ctrl.mainHeaderTitle.project && $ctrl.mainHeaderTitle.function !== 'Create function'}">
        {{ $ctrl.mainHeaderTitle.title | i18next }}
    </span>
    <span class="igz-icon-right ncl-header-subtitle"></span>
</span>

<span class="main-header-title" data-ng-if="$ctrl.mainHeaderTitle.project.spec.displayName || $ctrl.mainHeaderTitle.project.metadata.name">
    <span class="main-header-title-text" data-ng-click="$ctrl.goToFunctionsList()">
        {{$ctrl.mainHeaderTitle.project.spec.displayName || $ctrl.mainHeaderTitle.project.metadata.name}}
    </span>

    <ncl-breadcrumbs-dropdown data-state="$ctrl.mainHeaderTitle.state"
                              data-title="$ctrl.mainHeaderTitle.project.spec.displayName || $ctrl.mainHeaderTitle.project.metadata.name"
                              data-project="$ctrl.mainHeaderTitle.project"
                              data-type="projects"
                              data-get-functions="$ctrl.getFunctions({id: id})"
                              data-get-projects="$ctrl.getProjects()">
    </ncl-breadcrumbs-dropdown>
</span>

<span class=main-header-title data-ng-if="$ctrl.mainHeaderTitle.function && $ctrl.mainHeaderTitle.version">
    <span class="main-header-title-text"
          data-ng-click="$ctrl.goToFunctionScreen()">{{$ctrl.mainHeaderTitle.function}}</span>

        <ncl-breadcrumbs-dropdown data-ng-if="$ctrl.mainHeaderTitle.version"
                                  data-state="$ctrl.mainHeaderTitle.state"
                                  data-title="$ctrl.mainHeaderTitle.function"
                                  data-project="$ctrl.mainHeaderTitle.project"
                                  data-type="functions"
                                  data-get-functions="$ctrl.getFunctions({id: id})"
                                  data-get-projects="$ctrl.getProjects()">
        </ncl-breadcrumbs-dropdown>
</span>

<span data-ng-if="$ctrl.mainHeaderTitle.tab"
      class="ncl-bold-subtitle">
        {{$ctrl.mainHeaderTitle.tab}}
</span>

<span data-ng-if="$ctrl.mainHeaderTitle.function === 'Create function'"
      class="ncl-bold-subtitle">
        {{$ctrl.mainHeaderTitle.function}}
</span>

<span data-ng-if="$ctrl.mainHeaderTitle.version"
      class="ncl-bold-subtitle">
        {{$ctrl.mainHeaderTitle.version}}
</span>
