<span class="main-header-title"
      data-ng-click="$ctrl.goToProjectsList()"
      data-ng-class="{'disable-behavior': !$ctrl.mainHeaderTitle.project}">
            {{$ctrl.mainHeaderTitle.title}}
</span>

<span class="ncl-header-subtitle"
      data-ng-if="$ctrl.mainHeaderTitle.project">
    <span class="igz-icon-right"></span>

    <ncl-breadcrumbs-dropdown data-state="$ctrl.mainHeaderTitle.state"
                              data-title="$ctrl.mainHeaderTitle.projectName"
                              data-project="$ctrl.mainHeaderTitle.project"
                              data-type="projects"
                              class="ncl-bold-subtitle"></ncl-breadcrumbs-dropdown>
</span>

<span class="ncl-header-subtitle"
      data-ng-if="$ctrl.mainHeaderTitle.function">
    <span class="igz-icon-right"></span>

    <ncl-breadcrumbs-dropdown data-ng-if="$ctrl.mainHeaderTitle.version"
                              data-state="$ctrl.mainHeaderTitle.state"
                              data-title="$ctrl.mainHeaderTitle.function"
                              data-project="$ctrl.mainHeaderTitle.project"
                              data-type="functions"
                              class="ncl-bold-subtitle"></ncl-breadcrumbs-dropdown>

    <span class="ncl-bold-subtitle"
          data-ng-if="!$ctrl.mainHeaderTitle.version">
        Create function
    </span>
</span>

<span class="ncl-header-subtitle"
      data-ng-if="$ctrl.mainHeaderTitle.version">
    <span class="igz-icon-right"></span>

    <span class="ncl-bold-subtitle">
        {{$ctrl.mainHeaderTitle.version}}
    </span>
</span>