<div class="close-button igz-icon-close" data-ng-click="$ctrl.onClose()"></div>

<div class="title">
    {{ 'functions:DUPLICATE_FUNCTION' | i18next }}
</div>

<div class="main-content">
    <form name="$ctrl.duplicateFunctionForm" novalidate data-ng-keydown="$ctrl.duplicateFunction($event)">
        <div class="field-group function-name-group">
            <div class="field-label function-name-label">
                {{ 'common:FUNCTION_NAME' | i18next }}
            </div>
            <div class="field-input function-name-input">
                <igz-validating-input-field class="nuclio-validating-input"
                                            data-field-type="input"
                                            data-input-name="spec.displayName"
                                            data-input-value="$ctrl.newFunctionName"
                                            data-is-focused="true"
                                            data-form-object="$ctrl.duplicateFunctionForm"
                                            data-update-data-callback="$ctrl.inputValueCallback(newData)"
                                            data-validation-is-required="true"
                                            data-validation-rules="$ctrl.validationRules"
                                            data-validation-max-length="{{$ctrl.nameMaxLength}}"
                                            data-placeholder-text="{{ 'functions:PLACEHOLDER.ENTER_FUNCTION_NAME' | i18next }}">
                </igz-validating-input-field>
            </div>
        </div>
    </form>
</div>

<div class="buttons">
    <button class="ncl-secondary-button igz-button-just-text"
            data-test-id="functions.duplicate_function_cancel.button"
            tabindex="0"
            data-ng-click="$ctrl.onClose()"
            data-ng-keydown="$ctrl.onClose($event)">
        {{ 'common:CANCEL' | i18next }}
    </button>
    <button class="ncl-primary-button igz-button-primary"
            data-test-id="functions.duplicate_function_duplicate.button"
            tabindex="0"
            data-ng-click="$ctrl.duplicateFunction()"
            data-ng-keydown="$ctrl.duplicateFunction($event)"
            data-ng-hide="$ctrl.isLoadingState">
        {{ 'common:DUPLICATE' | i18next }}
    </button>
    <button class="ncl-primary-button igz-button-primary" data-ng-show="$ctrl.isLoadingState">
        {{ 'common:LOADING_CAPITALIZE_ELLIPSIS' | i18next }}
    </button>
</div>
