.ncl-primary-button {
    margin-left: 9px;
}

.ncl-secondary-button {
    vertical-align: top;
    position: relative;
}

.btn-close {
    color: .duskThree(0.64)[@color];
    right: 0;
    position: absolute;
    margin-top: 6px;
    margin-right: 24px;
    font-size: 14px;
    line-height: 14px;
    z-index: 11;

    &:hover {
        color: .duskThree(1)[@color];
    }
}

.ncl-new-entity-button {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-left: 15px;
}
