<div class="ncl-version-configuration-build"
     data-ng-class="{ disabled: $ctrl.disabled }">
    <igz-action-menu data-ng-if="$ctrl.isDemoMode()"
                     data-actions="$ctrl.actions"
                     data-icon-class="ncl-icon-paperclip"
                     data-on-fire-action="$ctrl.onFireAction">
    </igz-action-menu>
    <div class="title pull-left">Build</div>
    <small class="pull-right" data-ng-if="$ctrl.disabled">Editable for &quot;Edit Online&quot; code entry type only</small>
    <form name="$ctrl.buildForm" class="build-wrapper">
        <div class="igz-row">
            <div class="igz-col-100 build-field">
                <div class="field-label">Image name</div>
                <igz-validating-input-field data-field-type="input"
                                            data-input-name="imageName"
                                            data-input-value="$ctrl.version.spec.build.image"
                                            data-is-focused="false"
                                            data-form-object="$ctrl.buildForm"
                                            data-placeholder-text="Type an image name..."
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="spec.build.image"
                                            data-is-disabled="$ctrl.disabled"
                                            class="nuclio-validating-input">
                </igz-validating-input-field>
            </div>
            <div class="igz-col-50 build-field build-base-image-field">
                <div class="field-label">Base image</div>
                <igz-validating-input-field data-field-type="input"
                                            data-input-name="baseImage"
                                            data-input-value="$ctrl.version.spec.build.baseImage"
                                            data-is-focused="false"
                                            data-form-object="$ctrl.buildForm"
                                            data-placeholder-text="Type a base image..."
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="spec.build.baseImage"
                                            data-is-disabled="$ctrl.disabled"
                                            class="nuclio-validating-input">
                </igz-validating-input-field>
            </div>
            <div class="igz-col-50 build-field build-onbuild-image-field">
                <div class="field-label">Onbuild image</div>
                <igz-validating-input-field data-field-type="input"
                                            data-input-name="onbuildImage"
                                            data-input-value="$ctrl.version.spec.build.onbuildImage"
                                            data-is-focused="false"
                                            data-form-object="$ctrl.buildForm"
                                            data-placeholder-text="Type a onbuild image..."
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="spec.build.onbuildImage"
                                            data-is-disabled="$ctrl.disabled"
                                            class="nuclio-validating-input">
                </igz-validating-input-field>
            </div>
            <div class="igz-col-100 build-field">
                <div class="field-label">Build commands</div>
                <igz-validating-input-field data-field-type="textarea"
                                            data-input-name="commands"
                                            data-input-value="$ctrl.build.commands"
                                            data-is-focused="false"
                                            data-form-object="$ctrl.buildForm"
                                            data-placeholder-text="Type ..."
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="commands"
                                            data-is-disabled="$ctrl.disabled"
                                            class="nuclio-validating-input build-textarea-input build-commands-input">
                </igz-validating-input-field>
            </div>
            <div class="igz-col-100 build-field">
                <div class="field-label">Readiness timeout (seconds)</div>
                <igz-number-input data-form-object="$ctrl.buildForm"
                                  data-input-name="readinessTimeoutSeconds"
                                  data-current-value="$ctrl.version.spec.readinessTimeoutSeconds"
                                  data-update-number-input-callback="$ctrl.inputValueCallback(newData, field)"
                                  data-update-number-input-field="spec.readinessTimeoutSeconds"
                                  data-allow-empty-field="true"
                                  data-value-step="1"
                                  data-validation-is-required="false"
                                  data-min-value="1"
                                  data-default-value="60"
                                  data-is-disabled="$ctrl.disabled">
                </igz-number-input>
            </div>
            <div class="igz-col-100 build-field"
                 data-ng-if="$ctrl.version.spec.runtime === 'java'">
                <div class="field-label">Repositories</div>
                <igz-validating-input-field data-field-type="textarea"
                                            data-input-name="repositories"
                                            data-input-value="$ctrl.build.runtimeAttributes.repositories"
                                            data-is-focused="false"
                                            data-form-object="$ctrl.buildForm"
                                            data-placeholder-text="Type ..."
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="runtimeAttributes.repositories"
                                            class="nuclio-validating-input build-textarea-input"
                                            data-is-disabled="$ctrl.disabled">
                </igz-validating-input-field>
            </div>
            <div class="igz-col-100 build-field"
                 data-ng-if="$ctrl.version.spec.runtime === 'java'">
                <div class="field-label">Dependencies</div>
                <igz-validating-input-field data-field-type="textarea"
                                            data-input-name="dependencies"
                                            data-input-value="$ctrl.build.dependencies"
                                            data-is-focused="false"
                                            data-form-object="$ctrl.buildForm"
                                            data-placeholder-text="Type ..."
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="dependencies"
                                            class="nuclio-validating-input build-textarea-input"
                                            data-is-disabled="$ctrl.disabled">
                </igz-validating-input-field>
            </div>
            <div class="igz-col-100 build-field build-checkboxes">
                <div class="checkbox-block"
                     data-uib-tooltip="Build the function's Docker image from scratch without reusing any previously built Docker image layers"
                     data-tooltip-placement="bottom"
                     data-tooltip-append-to-body="true"
                     data-tooltip-popup-delay="500">
                    <input type="checkbox" class="small" id="noCache" data-ng-model="$ctrl.version.spec.build.noCache"
                           data-ng-disabled="$ctrl.disabled">
                    <label for="noCache" class="checkbox-inline">Disable cache</label>
                </div>
                <div class="checkbox-block"
                     data-uib-tooltip="Use local Docker images rather than pulling from remote"
                     data-tooltip-placement="bottom"
                     data-tooltip-append-to-body="true"
                     data-tooltip-popup-delay="500">
                    <input type="checkbox" class="small" id="offline" data-ng-model="$ctrl.version.spec.build.offline"
                           data-ng-disabled="$ctrl.disabled">
                    <label for="offline" class="checkbox-inline">No internet access</label>
                </div>
            </div>
            <div class="igz-col-100 build-field files-field">
                <div class="uploading-files">
                    <div class="uploading-proccess-wrapper"
                         data-ng-class="{'one-file-uploaded': $ctrl.file.uploaded || $ctrl.script.uploaded}"
                         data-ng-if="$ctrl.getFileConfig().uploading && $ctrl.getFileConfig().name">
                        <div class="file-block uploading text-ellipsis"
                             data-ng-class="{'uploading-file': $ctrl.file.uploading}">
                            <span class="{{$ctrl.getFileConfig().icon}}"></span>
                            <button class="build-close-button">
                                <span class="ncl-icon-close"></span>
                            </button>
                            <span class="file-name">
                                {{$ctrl.getFileConfig().name}}
                            </span>
                            <div class="progress">
                                <div class="progress-bar"
                                     role="uib-progressbar"
                                     aria-valuemin="0"
                                     aria-valuemax="100"
                                     data-ng-style="{'width': $ctrl.getFileConfig().progress}">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="uploaded-wrapper"
                         data-ng-if="$ctrl.file.uploaded|| $ctrl.script.uploaded">
                        <div class="file-block uploaded text-ellipsis"
                             data-ng-if="$ctrl.script.uploaded"
                             data-ng-class="{'one-file-uploaded': $ctrl.file.uploaded}">
                            <span class="ncl-icon-script"></span>
                            <span class="file-name">
                                {{$ctrl.script.name}}
                                <span class="uploaded-file-directory">(/usr/bin/mybinary)</span>
                            </span>
                            <button class="build-close-button"
                                    data-ng-click="$ctrl.deleteFile('script')">
                                <span class="ncl-icon-close"></span>
                            </button>
                        </div>

                        <div class="file-block uploaded text-ellipsis uploaded-file"
                             data-ng-if="$ctrl.file.uploaded">
                            <span class="ncl-icon-file"></span>
                            <span class="file-name">
                                {{$ctrl.file.name}}
                                <span class="uploaded-file-directory">(/usr/bin/mybinary)</span>
                            </span>
                            <button class="build-close-button"
                                    data-ng-click="$ctrl.deleteFile('file')">
                                <span class="ncl-icon-close"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
