<div class="ncl-version-configuration-build">
    <igz-action-menu data-ng-if="$ctrl.isDemoMode()"
                     data-actions="$ctrl.actions"
                     data-icon-class="ncl-icon-paperclip"
                     data-on-fire-action="$ctrl.onFireAction">
    </igz-action-menu>
    <div class="title">Build</div>
    <form name="$ctrl.buildForm" class="build-wrapper">
        <div class="igz-row">
            <div class="igz-col-100 build-field">
                <div class="field-label">Base image</div>
                <igz-validating-input-field data-field-type="input"
                                            data-input-name="baseImage"
                                            data-input-value="$ctrl.version.spec.build.baseImage"
                                            data-is-focused="false"
                                            data-form-object="$ctrl.buildForm"
                                            data-placeholder-text="Type a base image..."
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="spec.build.baseImage"
                                            class="nuclio-validating-input">
                </igz-validating-input-field>
            </div>
            <div class="igz-col-100 build-field">
                <div class="field-label">Onbuild image</div>
                <igz-validating-input-field data-field-type="input"
                                            data-input-name="onbuildImage"
                                            data-input-value="$ctrl.version.spec.build.onbuildImage"
                                            data-is-focused="false"
                                            data-form-object="$ctrl.buildForm"
                                            data-placeholder-text="Type a onbuild image..."
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="spec.build.onbuildImage"
                                            class="nuclio-validating-input">
                </igz-validating-input-field>
            </div>
            <div class="igz-col-100 build-field">
                <div class="field-label">Build commands</div>
                <igz-validating-input-field data-field-type="textarea"
                                            data-input-name="commands"
                                            data-input-value="$ctrl.build.commands"
                                            data-is-focused="false"
                                            data-form-object="$ctrl.buildForm"
                                            data-placeholder-text="Type ..."
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="commands"
                                            class="nuclio-validating-input build-command-field">
                </igz-validating-input-field>
            </div>
            <div class="igz-col-100 build-field"
                 data-ng-if="$ctrl.version.spec.runtime === 'java'">
                <div class="field-label">Repositories</div>
                <igz-validating-input-field data-field-type="textarea"
                                            data-input-name="repositories"
                                            data-input-value="$ctrl.build.runtimeAttributes.repositories"
                                            data-is-focused="false"
                                            data-form-object="$ctrl.buildForm"
                                            data-placeholder-text="Type ..."
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="runtimeAttributes.repositories"
                                            class="nuclio-validating-input build-dependencies-field">
                </igz-validating-input-field>
            </div>
            <div class="igz-col-100 build-field"
                 data-ng-if="$ctrl.version.spec.runtime === 'java'">
                <div class="field-label">Dependencies</div>
                <igz-validating-input-field data-field-type="textarea"
                                            data-input-name="dependencies"
                                            data-input-value="$ctrl.build.runtimeAttributes.dependencies"
                                            data-is-focused="false"
                                            data-form-object="$ctrl.buildForm"
                                            data-placeholder-text="Type ..."
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="runtimeAttributes.dependencies"
                                            class="nuclio-validating-input build-dependencies-field">
                </igz-validating-input-field>
            </div>
            <div class="igz-col-100 build-field files-field">
                <div class="uploading-files">
                    <div class="uploading-proccess-wrapper"
                         data-ng-class="{'one-file-uploaded': $ctrl.file.uploaded || $ctrl.script.uploaded}"
                         data-ng-if="$ctrl.getFileConfig().uploading && $ctrl.getFileConfig().name">
                        <div class="file-block uploading text-ellipsis"
                             data-ng-class="{'uploading-file': $ctrl.file.uploading}">
                            <span class="{{$ctrl.getFileConfig().icon}}"></span>
                            <button class="build-close-button">
                                <span class="ncl-icon-close"></span>
                            </button>
                            <span class="file-name">
                                {{$ctrl.getFileConfig().name}}
                            </span>
                            <div class="progress">
                                <div class="progress-bar"
                                     role="uib-progressbar"
                                     aria-valuemin="0"
                                     aria-valuemax="100"
                                     data-ng-style="{'width': $ctrl.getFileConfig().progress}">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="uploaded-wrapper"
                         data-ng-if="$ctrl.file.uploaded|| $ctrl.script.uploaded">
                        <div class="file-block uploaded text-ellipsis"
                             data-ng-if="$ctrl.script.uploaded"
                             data-ng-class="{'one-file-uploaded': $ctrl.file.uploaded}">
                            <span class="ncl-icon-script"></span>
                            <span class="file-name">
                                {{$ctrl.script.name}}
                                <span class="uploaded-file-directory">(/usr/bin/mybinary)</span>
                            </span>
                            <button class="build-close-button"
                                    data-ng-click="$ctrl.deleteFile('script')">
                                <span class="ncl-icon-close"></span>
                            </button>
                        </div>

                        <div class="file-block uploaded text-ellipsis uploaded-file"
                             data-ng-if="$ctrl.file.uploaded">
                            <span class="ncl-icon-file"></span>
                            <span class="file-name">
                                {{$ctrl.file.name}}
                                <span class="uploaded-file-directory">(/usr/bin/mybinary)</span>
                            </span>
                            <button class="build-close-button"
                                    data-ng-click="$ctrl.deleteFile('file')">
                                <span class="ncl-icon-close"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
