.ncl-monaco {
    .ncl-monaco-wrapper {
        padding-top: 20px;
        height: 100%;
        border: 1px solid @ncl-pale-grey;
        background-color: @ncl-white;

        > div {
            height: 100%;
        }
    }

    .ncl-monaco-dark {
        background-color: @vs-dark;
    }
}

