.ncl-monaco {
    .ncl-monaco-wrapper {
        padding-top: 20px;
        height: 100%;
        border: 1px solid @pale-grey;
        background-color: @white;

        &.no-top-padding {
            padding-top: 0;
        }

        .ncl-monaco-top-row {
            display: block;
        }

        .ncl-monaco-editor {
            height: 100%;
        }
    }

    .ncl-monaco-dark {
        background-color: @vs-dark;
    }
}

