<div class="ncl-monaco">
    <div class="ncl-monaco-wrapper"
         data-ng-class="{'ncl-monaco-dark': $ctrl.selectedTheme === 'vs-dark',
                         'no-top-padding': $ctrl.noTopPadding}">
        <div data-ng-if="$ctrl.showTextSizeDropdown" class="ncl-monaco-top-row">
            <ncl-text-size-dropdown data-update-data-callback="$ctrl.onTextSizeChange(newTextSize)">
            </ncl-text-size-dropdown>
        </div>
        <div class="ncl-monaco-editor"
             igz-monaco-editor
             data-font-size="$ctrl.selectedTextSize"
             data-code-file="selectedCodeFile"
             data-editor-theme="$ctrl.selectedTheme"
             data-file-language="selectedFileLanguage"
             data-mini-monaco="$ctrl.miniMonaco"
             data-show-line-numbers="$ctrl.showLineNumbers"
             data-read-only="$ctrl.readOnly"
             data-on-code-change="$ctrl.onCodeChange"
             data-word-wrap="$ctrl.wordWrap"></div>
    </div>
</div>
