<div class="ncl-version-configuration-build"
     data-ng-class="{ disabled: $ctrl.disabled }">
    <div class="configuration-build-title-wrapper">
        <div class="title pull-left">{{ 'functions:BUILD' | i18next }}</div>

        <igz-action-menu data-ng-if="$ctrl.isDemoMode() && !$ctrl.disabled"
                         data-actions="$ctrl.actions"
                         data-icon-class="ncl-icon-paperclip"
                         data-on-fire-action="$ctrl.onFireAction">
        </igz-action-menu>

        <small class="pull-right" data-ng-if="$ctrl.disabled">{{ 'functions:DISABLED_FOR_IMAGE_CODE_ENTRY_TYPE' | i18next }}</small>
    </div>
    <form name="$ctrl.buildForm" class="build-wrapper" novalidate>
        <div class="igz-row">
            <div class="igz-col-100 build-field build-image-field">
                <div class="field-label">
                    <span>{{ 'functions:IMAGE_NAME' | i18next }}</span>
                    <igz-more-info
                            data-description="{{ 'functions:IMAGE_NAME_DESCRIPTION' | i18next:{defaultImageName: $ctrl.version.ui.defaultImageName} }}"
                            data-is-html-enabled="true"
                            data-trigger="click">
                    </igz-more-info>
                </div>
                <div class="align-items-baseline">
                    <span class="flex-none">{{ $ctrl.version.ui.imageNamePrefix }}</span>
                    <igz-validating-input-field data-field-type="input"
                                                data-input-name="imageName"
                                                data-input-value="$ctrl.version.spec.build.image"
                                                data-is-focused="false"
                                                data-form-object="$ctrl.buildForm"
                                                data-placeholder-text="{{ 'functions:PLACEHOLDER.ENTER_IMAGE_NAME' | i18next }}"
                                                data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                                data-update-data-field="spec.build.image"
                                                data-validation-max-length="255"
                                                data-validation-pattern="$ctrl.imageNameValidationPattern"
                                                data-is-disabled="$ctrl.disabled"
                                                class="nuclio-validating-input flex-auto">
                    </igz-validating-input-field>
                </div>
            </div>
            <div class="igz-col-50 build-field build-base-image-field">
                <div class="field-label label-with-tooltip align-items-center">
                    <span>{{ 'functions:BASE_IMAGE' | i18next }}</span>
                    <igz-more-info
                            data-description="{{ 'functions:BASE_IMAGE_DESCRIPTION' | i18next }}"
                            data-trigger="click">
                    </igz-more-info>
                </div>
                <igz-validating-input-field data-field-type="input"
                                            data-input-name="baseImage"
                                            data-input-value="$ctrl.version.spec.build.baseImage"
                                            data-is-focused="false"
                                            data-form-object="$ctrl.buildForm"
                                            data-placeholder-text="{{ 'functions:PLACEHOLDER.ENTER_BASE_IMAGE' | i18next }}"
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="spec.build.baseImage"
                                            data-is-disabled="$ctrl.disabled"
                                            class="nuclio-validating-input">
                </igz-validating-input-field>
            </div>
            <div class="igz-col-50 build-field build-onbuild-image-field">
                <div class="field-label label-with-tooltip align-items-center">
                    <span>{{ 'functions:ONBUILD_IMAGE' | i18next }}</span>
                    <igz-more-info
                            data-description="{{ 'functions:ONBUILD_IMAGE_DESCRIPTION' | i18next }}"
                            data-trigger="click">
                    </igz-more-info>
                </div>
                <igz-validating-input-field data-field-type="input"
                                            data-input-name="onbuildImage"
                                            data-input-value="$ctrl.version.spec.build.onbuildImage"
                                            data-is-focused="false"
                                            data-form-object="$ctrl.buildForm"
                                            data-placeholder-text="{{ 'functions:PLACEHOLDER.ENTER_ONBUILD_IMAGE' | i18next }}"
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="spec.build.onbuildImage"
                                            data-is-disabled="$ctrl.disabled"
                                            class="nuclio-validating-input">
                </igz-validating-input-field>
            </div>
            <div class="igz-col-100 build-field">
                <div class="field-label">
                    <span>{{ 'functions:BUILD_COMMANDS' | i18next }}</span>
                    <igz-more-info
                            data-description="{{ 'functions:BUILD_COMMANDS_DESCRIPTION' | i18next }}"
                            data-trigger="click">
                    </igz-more-info>
                </div>
                <igz-validating-input-field data-field-type="textarea"
                                            data-input-name="commands"
                                            data-input-value="$ctrl.build.commands"
                                            data-is-focused="false"
                                            data-form-object="$ctrl.buildForm"
                                            data-placeholder-text="{{ 'functions:PLACEHOLDER.ENTER_COMMAND_ON_EACH_LINE' | i18next }}"
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="commands"
                                            data-is-disabled="$ctrl.disabled"
                                            class="nuclio-validating-input build-textarea-input build-commands-input">
                </igz-validating-input-field>
            </div>
            <div class="igz-col-100 build-field">
                <div class="field-label label-with-tooltip align-items-center">
                    <span>{{ 'functions:READINESS_TIMEOUT_SECONDS' | i18next }}</span>
                    <igz-more-info
                            data-description="{{ 'functions:READINESS_TIMEOUT_SECONDS_DESCRIPTION' | i18next:{default: $ctrl.defaultFunctionConfig.spec.readinessTimeoutSeconds} }}"
                            data-trigger="click">
                    </igz-more-info>
                </div>
                <igz-number-input data-form-object="$ctrl.buildForm"
                                  data-input-name="readinessTimeoutSeconds"
                                  data-current-value="$ctrl.version.spec.readinessTimeoutSeconds"
                                  data-update-number-input-callback="$ctrl.inputValueCallback(newData, field)"
                                  data-update-number-input-field="spec.readinessTimeoutSeconds"
                                  data-allow-empty-field="true"
                                  data-value-step="1"
                                  data-validation-is-required="false"
                                  data-min-value="1"
                                  data-is-disabled="$ctrl.disabled">
                </igz-number-input>
            </div>
            <div class="igz-col-100 build-field"
                 data-ng-if="$ctrl.version.spec.runtime === 'java'">
                <div class="field-label">{{ 'functions:REPOSITORIES' | i18next }}</div>
                <igz-validating-input-field data-field-type="textarea"
                                            data-input-name="repositories"
                                            data-input-value="$ctrl.build.runtimeAttributes.repositories"
                                            data-is-focused="false"
                                            data-form-object="$ctrl.buildForm"
                                            data-placeholder-text="{{ 'functions:PLACEHOLDER.ENTER_REPOSITORY_ON_EACH_LINE' | i18next }}"
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="runtimeAttributes.repositories"
                                            class="nuclio-validating-input build-textarea-input"
                                            data-is-disabled="$ctrl.disabled">
                </igz-validating-input-field>
            </div>
            <div class="igz-col-100 build-field"
                 data-ng-if="$ctrl.version.spec.runtime === 'java'">
                <div class="field-label">{{ 'functions:DEPENDENCIES' | i18next }}</div>
                <igz-validating-input-field data-field-type="textarea"
                                            data-input-name="dependencies"
                                            data-input-value="$ctrl.build.dependencies"
                                            data-is-focused="false"
                                            data-form-object="$ctrl.buildForm"
                                            data-placeholder-text="{{ 'functions:PLACEHOLDER.ENTER_DEPENDENCY_ON_EACH_LINE' | i18next }}"
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="dependencies"
                                            class="nuclio-validating-input build-textarea-input"
                                            data-is-disabled="$ctrl.disabled">
                </igz-validating-input-field>
            </div>
            <div class="igz-col-100 build-field build-checkboxes">
                <div class="checkbox-block"
                     data-uib-tooltip="{{ 'functions:TOOLTIP.DISABLE_CACHE' | i18next }}"
                     data-tooltip-placement="bottom"
                     data-tooltip-append-to-body="true"
                     data-tooltip-popup-delay="500">
                    <input type="checkbox"
                           class="small"
                           id="noCache"
                           data-ng-model="$ctrl.version.spec.build.noCache"
                           data-ng-disabled="$ctrl.disabled">
                    <label for="noCache" class="checkbox-inline">{{ 'functions:DISABLE_CACHE' | i18next }}</label>
                </div>
            </div>
            <div class="igz-col-100 build-field files-field">
                <div class="uploading-files">
                    <div class="uploading-proccess-wrapper"
                         data-ng-class="{'one-file-uploaded': $ctrl.file.uploaded || $ctrl.script.uploaded}"
                         data-ng-if="$ctrl.getFileConfig().uploading && $ctrl.getFileConfig().name">
                        <div class="file-block uploading text-ellipsis"
                             data-ng-class="{'uploading-file': $ctrl.file.uploading}">
                            <span class="{{$ctrl.getFileConfig().icon}}"></span>
                            <button class="build-close-button">
                                <span class="ncl-icon-close"></span>
                            </button>
                            <span class="file-name">
                                {{$ctrl.getFileConfig().name}}
                            </span>
                            <div class="progress">
                                <div class="progress-bar"
                                     role="uib-progressbar"
                                     aria-valuemin="0"
                                     aria-valuemax="100"
                                     data-ng-style="{'width': $ctrl.getFileConfig().progress}">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="uploaded-wrapper"
                         data-ng-if="$ctrl.file.uploaded|| $ctrl.script.uploaded">
                        <div class="file-block uploaded text-ellipsis"
                             data-ng-if="$ctrl.script.uploaded"
                             data-ng-class="{'one-file-uploaded': $ctrl.file.uploaded}">
                            <span class="ncl-icon-script"></span>
                            <span class="file-name">
                                {{$ctrl.script.name}}
                                <span class="uploaded-file-directory">(/usr/bin/mybinary)</span>
                            </span>
                            <button class="build-close-button"
                                    data-ng-click="$ctrl.deleteFile('script')">
                                <span class="ncl-icon-close"></span>
                            </button>
                        </div>

                        <div class="file-block uploaded text-ellipsis uploaded-file"
                             data-ng-if="$ctrl.file.uploaded">
                            <span class="ncl-icon-file"></span>
                            <span class="file-name">
                                {{$ctrl.file.name}}
                                <span class="uploaded-file-directory">(/usr/bin/mybinary)</span>
                            </span>
                            <button class="build-close-button"
                                    data-ng-click="$ctrl.deleteFile('file')">
                                <span class="ncl-icon-close"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
