<div class="ncl-function-version-row common-table-row">
    <div class="common-table-cell igz-col-3">
        <igz-action-checkbox
                data-ng-class="{'visible': $ctrl.functionsService.checkedItem === 'versions',
                                'invisible': !$ctrl.isDemoMode() || ($ctrl.functionsService.checkedItem !== 'versions' &&
                                             $ctrl.functionsService.checkedItem !== '')}"
                data-item="$ctrl.version"
                data-item-type="versions">
        </igz-action-checkbox>
    </div>
    <div class="common-table-cell igz-col-3"></div>
    <div class="igz-row common-table-cells-container"
         data-ng-click="$ctrl.onSelectRow($event)">
        <div class="common-table-cell"
             data-ng-class="[$ctrl.getFunctionsTableColSize('rowName')]">
            {{$ctrl.version.name}}
        </div>
        <div class="common-table-cell function-status"
             data-ng-class="[$ctrl.getFunctionsTableColSize('status'), $ctrl.statusStateClasses[$ctrl.convertedStatusState]]">
            {{$ctrl.convertedStatusState}}
            <div class="status-icon"
                 data-uib-tooltip="{{$ctrl.getTooltip()}}"
                 data-tooltip-append-to-body="true"
                 data-tooltip-placement="top"
                 data-ng-class="$ctrl.statusIcon"
                 data-ng-click="$ctrl.onToggleFunctionState($event)">
            </div>
        </div>
        <div data-ng-if="$ctrl.isDemoMode()"
             class="common-table-cell"
             data-ng-class="[$ctrl.getFunctionsTableColSize('replicas')]">
            {{$ctrl.function.spec.replicas}}
        </div>
        <div class="common-table-cell"
             data-ng-class="[$ctrl.getFunctionsTableColSize('owner')]">
            {{$ctrl.function.metadata.labels['iguazio.com/username'] ? $ctrl.function.metadata.labels['iguazio.com/username'] : 'common:N_A' | i18next}}
        </div>
        <div class="common-table-cell"
             data-ng-class="[$ctrl.getFunctionsTableColSize('runtime')]">
            {{$ctrl.runtimes[$ctrl.function.spec.runtime]}}
        </div>
        <div class="common-table-cell"
             data-uib-tooltip="{{$ctrl.invocationUrl.text}}"
             data-tooltip-append-to-body="true"
             data-tooltip-placement="top"
             data-ng-class="[$ctrl.getFunctionsTableColSize('invocationUrl')]">
            <span class="common-table-cell-content">{{$ctrl.invocationUrl.text}}</span>
            <div class="igz-action-panel" data-ng-if="$ctrl.invocationUrl.valid">
                <div class="actions-list">
                    <igz-copy-to-clipboard data-value="$ctrl.invocationUrl.text"></igz-copy-to-clipboard>
                </div>
            </div>
            <div class="igz-action-panel invocation-tooltip" data-ng-if="$ctrl.invocationUrl.info">
                <div class="actions-more-info">
                    <igz-more-info
                            data-description="{{ 'functions:TOOLTIP.TO_MAKE_FUNCTION_ACCESSIBLE' | i18next:{functionId: $ctrl.function.metadata.name} }}"
                            data-is-html-enabled="true"
                            data-trigger="click">
                    </igz-more-info>
                </div>
            </div>
        </div>
        <div class="common-table-cell"
             data-ng-class="[$ctrl.getFunctionsTableColSize('invocationPerSec')]">
            {{$ctrl.function.ui.metrics.invocation || 0}}
        </div>

        <igz-element-loading-status class="common-table-cell element-loading-status-wrapper"
                                    data-name="nuclio_function_cpu-{{$ctrl.function.metadata.name}}"
                                    data-loading-status-size="small"
                                    data-ng-class="[$ctrl.getFunctionsTableColSize('cpuCores')]">
            <igz-size data-ng-if="!$ctrl.function.ui.error.nuclio_function_cpu && !$ctrl.isFunctionCollapsed"
                      data-type="functions_cpu"
                      data-entity="$ctrl.function">
            </igz-size>
            <div data-ng-if="$ctrl.function.ui.error.nuclio_function_cpu">
                {{$ctrl.function.ui.error.nuclio_function_cpu}}
            </div>
        </igz-element-loading-status>

        <igz-element-loading-status class="common-table-cell element-loading-status-wrapper"
                                    data-name="nuclio_function_mem-{{$ctrl.function.metadata.name}}"
                                    data-loading-status-size="small"
                                    data-ng-class="[$ctrl.getFunctionsTableColSize('metricsSize')]">
            <igz-size data-ng-if="!$ctrl.function.ui.error.nuclio_function_mem && !$ctrl.isFunctionCollapsed"
                      data-type="functions_memory"
                      data-entity="$ctrl.function">
            </igz-size>
            <div data-ng-if="$ctrl.function.ui.error.nuclio_function_mem">
                {{$ctrl.function.ui.error.nuclio_function_mem}}
            </div>
        </igz-element-loading-status>

        <igz-element-loading-status class="common-table-cell element-loading-status-wrapper"
                                    data-name="nuclio_processor_handled_events_total-{{$ctrl.function.metadata.name}}"
                                    data-loading-status-size="small"
                                    data-ng-class="[$ctrl.getFunctionsTableColSize('metricsCount')]">
            <igz-size data-ng-if="!$ctrl.function.ui.error.nuclio_processor_handled_events_total && !$ctrl.isFunctionCollapsed"
                      data-type="functions_events"
                      data-entity="$ctrl.function">
            </igz-size>
            <div data-ng-if="$ctrl.function.ui.error.nuclio_processor_handled_events_total">
                {{$ctrl.function.ui.error.nuclio_processor_handled_events_total}}
            </div>
        </igz-element-loading-status>
    </div>
    <div class="common-table-cell actions-menu">
        <igz-action-menu data-ng-if="$ctrl.isDemoMode()"
                         data-actions="$ctrl.versionActions"
                         data-on-fire-action="$ctrl.onFireAction">
        </igz-action-menu>
    </div>
</div>
