<div class="view-yaml-dialog-container">
    <div class="view-yaml-dialog-header">
        <div class="title">{{ $ctrl.title }}</div>
        <igz-copy-to-clipboard data-value="$ctrl.sourceCode"></igz-copy-to-clipboard>
    <div class="close-button igz-icon-close" data-ng-click="$ctrl.closeDialog()"></div>
    </div>
    <div class="main-content">
        <ncl-monaco class="monaco-code-editor"
                    data-function-source-code="$ctrl.sourceCode"
                    data-mini-monaco="false"
                    data-selected-theme="'vs-light'"
                    data-language="'yaml'"
                    data-read-only="true">
        </ncl-monaco>
    </div>
    <div class="buttons">
        <button class="igz-button-primary" tabindex="0" data-ng-click="$ctrl.closeDialog()">
            {{ 'common:CLOSE' | i18next }}
        </button>
    </div>
</div>
