<div class="close-button ncl-icon-close" data-ng-click="$ctrl.onClose()"></div>

<div class="title">
    <span>
        Attach file
    </span>
</div>

<div class="main-content ">
    <form name="attachFileForm" novalidate>
        <div class="field-group">
            <div class="field-label">
                Remote path
            </div>
            <igz-validating-input-field class="nuclio-validating-input"
                                        data-field-type="input"
                                        data-is-focused="true"
                                        data-placeholder-text="Enter path..."></igz-validating-input-field>
        </div>
    </form>
</div>

<div class="buttons">
    <button class="ncl-secondary-button"
         tabindex="0"
         data-ng-click="$ctrl.onClose()"
         data-ng-keydown="$ctrl.onClose($event)">
        Cancel
    </button>
    <button class="ncl-primary-button"
         tabindex="0"
         ngf-select="$ctrl.uploadFile($file)">
        Browse
    </button>
</div>
