<div class="toast-status-panel"
     data-ng-show="$ctrl.isToastPanelShown">
    <div class="btn-close igz-icon-close"
         data-ng-if="!$ctrl.permanent && $ctrl.panelState !== 'in-progress'"
         data-ng-click="$ctrl.closeToastPanel()">
    </div>
    <div class="panel-status">
        <span class="panel-status-icon"></span>
        <div class="igz-scrollable-container msg-scrollable-container" data-ng-scrollbars>
            <div class="panel-status-msg" data-ng-if="$ctrl.isTranscludePassed" data-ng-transclude></div>
            <div class="panel-status-msg" data-ng-if="!$ctrl.isTranscludePassed">
                {{$ctrl.getStateMessage($ctrl.panelState)}}
            </div>
        </div>
    </div>
</div>
