<igz-splash-screen data-is-splash-showed="$ctrl.isSplashShowed"></igz-splash-screen>

<div class="igz-scrollable-container"
     data-ng-scrollbars data-ng-scrollbars-config="$ctrl.scrollConfig">
    <div class="new-function-wrapper">
        <div class="igz-scrollable-container"
             data-ng-scrollbars data-ng-scrollbars-config="$ctrl.horizontalScrollConfig">
            <div class="new-function-header">
                <div class="title">Start a new function</div>

                <div class="new-function-types">
                    <div class="type-wrapper">
                        <div class="type-template function-from-template"
                             data-ng-click="$ctrl.selectFunctionType('from_template')"
                             data-ng-class="{'selected': $ctrl.isTypeSelected('from_template')}">
                            <div class="function-type-icon">
                                <span class="ncl-icon-template icon"></span>
                            </div>
                            <div class="function-type-info">
                                <div class="type-title">Templates</div>
                                <div class="type-description">Choose a preconfigured template as starting point for your
                                    nuclio function
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="type-wrapper">
                        <div class="type-template"
                             data-ng-click="$ctrl.selectFunctionType('from_scratch')"
                             data-ng-class="{'selected': $ctrl.isTypeSelected('from_scratch')}">
                            <div class="function-type-icon">
                                <span class="ncl-icon-add icon"></span>
                            </div>
                            <div class="function-type-info">
                                <div class="type-title">Start from scratch</div>
                                <div class="type-description">Start with a simple "hello" example</div>
                            </div>
                        </div>
                    </div>

                    <div class="type-wrapper">
                        <div class="type-template"
                             data-ng-click="$ctrl.selectFunctionType('import')"
                             data-ng-class="{'selected': $ctrl.isTypeSelected('import')}">
                            <div class="function-type-icon">
                                <span class="ncl-icon-import icon"></span>
                            </div>
                            <div class="function-type-info function-import">
                                <div class="type-title">Import</div>
                                <div class="type-description">Upload a YAML file as a starting point for your nuclio function</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="function-type-content-wrapper">
        <div class="new-function-type-content">
            <ncl-function-from-scratch data-ng-if="$ctrl.isTypeSelected('from_scratch')"
                                       data-toggle-splash-screen="$ctrl.toggleSplashScreen(value)"
                                       data-project="$ctrl.project"
                                       data-create-new-project="$ctrl.createNewProject"
                                       data-selected-project="$ctrl.selectedProject"
                                       data-projects="$ctrl.projects">
            </ncl-function-from-scratch>

            <ncl-function-from-template data-ng-if="$ctrl.isTypeSelected('from_template')"
                                        data-get-function-templates="$ctrl.getTemplates()"
                                        data-templates="$ctrl.templates"
                                        data-toggle-splash-screen="$ctrl.toggleSplashScreen(value)"
                                        data-project="$ctrl.project"
                                        data-create-new-project="$ctrl.createNewProject"
                                        data-selected-project="$ctrl.selectedProject"
                                        data-projects="$ctrl.projects">
            </ncl-function-from-template>
            <ncl-function-import data-ng-if="$ctrl.isTypeSelected('import')"
                                 data-toggle-splash-screen="$ctrl.toggleSplashScreen(value)"
                                 data-project="$ctrl.project"
                                 data-selected-project="$ctrl.selectedProject"
                                 data-create-new-project="$ctrl.createNewProject"
                                 data-projects="$ctrl.projects">
            </ncl-function-import>
        </div>
    </div>
</div>
