<div class="ncl-collapsing-row">
    <div class="title-block common-table-row" data-ng-class="{'collapsed': !$ctrl.item.ui.editModeActive}">
        <div class="common-table-cell row-collapse">
            <span class="collapse-icon"
                  data-ng-click="$ctrl.onCollapse($event)"
                  data-ng-class="{'collapsed igz-icon-right': !$ctrl.item.ui.editModeActive,
                                  'igz-icon-down': $ctrl.item.ui.editModeActive}">
            </span>
        </div>

        <div data-ng-show="!$ctrl.item.ui.editModeActive" class="igz-row common-table-cells-container item-row">

            <!-- Name -->
            <div class="text-ellipsis item-name" data-ng-if="!$ctrl.isNil($ctrl.item.name)">
                {{$ctrl.item.name}}
            </div>
            <div class="text-ellipsis item-name" data-ng-if="!$ctrl.isNil($ctrl.item.volumeMount.name)">
                {{ $ctrl.item.volumeMount.name }}
            </div>

            <!-- Class/type -->
            <div class="item-class" data-ng-if="!$ctrl.isNil($ctrl.item.ui.selectedClass)">
                {{$ctrl.item.ui.selectedClass.name}}
            </div>
            <div class="item-class" data-ng-if="!$ctrl.isNil($ctrl.item.volume.hostPath)">
                {{ 'functions:HOST_PATH' | i18next }}
            </div>
            <div class="item-class" data-ng-if="!$ctrl.isNil($ctrl.item.volume.flexVolume)">
                {{ 'functions:V3IO' | i18next }}
            </div>
            <div class="item-class" data-ng-if="!$ctrl.isNil($ctrl.item.volume.secret.secretName)">
                {{ 'functions:SECRET' | i18next }}
            </div>
            <div class="item-class" data-ng-if="!$ctrl.isNil($ctrl.item.volume.configMap.name)">
                {{ 'functions:CONFIG_MAP' | i18next }}
            </div>
            <div class="item-class" data-ng-if="!$ctrl.isNil($ctrl.item.volume.persistentVolumeClaim.claimName)">
                {{ 'functions:PVC' | i18next }}
            </div>

            <!-- Custom info -->
            <div class="igz-col-70 item-info">
                <div data-ng-hide="$ctrl.item.ui.editModeActive" class="collapsed-item-info-block">
                    <span data-ng-if="!$ctrl.isNil($ctrl.item.url)">
                        <span class="field-label">{{ 'common:URL' | i18next }}</span>:&nbsp;{{ $ctrl.item.url }};&nbsp;
                    </span>
                    <span data-ng-if="!$ctrl.isNil($ctrl.item.maxWorkers)">
                        <span class="field-label">{{ 'functions:MAX_WORKERS' | i18next }}</span>:&nbsp;{{ $ctrl.item.maxWorkers }};&nbsp;
                    </span>
                    <span data-ng-if="$ctrl.isNumber($ctrl.item.workerAvailabilityTimeoutMilliseconds)">
                        <span class="field-label">{{ 'functions:WORKER_AVAILABILITY_TIMEOUT' | i18next }}</span>:&nbsp;{{ $ctrl.item.workerAvailabilityTimeoutMilliseconds }};&nbsp;
                    </span>
                    <span data-ng-if="!$ctrl.isNil($ctrl.item.secret)">
                        <span class="field-label">{{ 'functions:SECRET' | i18next }}</span>:&nbsp;{{ $ctrl.item.secret }};&nbsp;
                    </span>
                    <span data-ng-repeat="(key, value) in $ctrl.item.attributes">
                        <span class="field-label">{{ key }}</span>:&nbsp;{{ $ctrl.getAttributeValue(key, value) }};&nbsp;
                    </span>
                    <span data-ng-if="!$ctrl.isNil($ctrl.item.annotations)">
                        <span class="field-label">{{ 'functions:ANNOTATIONS' | i18next }}</span>:&nbsp;{{ $ctrl.item.annotations }};&nbsp;
                    </span>
                    <span data-ng-if="!$ctrl.isNil($ctrl.item.username)">
                        <span class="field-label">{{ 'common:USERNAME' | i18next }}</span>:&nbsp;{{ $ctrl.item.username }};&nbsp;
                    </span>
                    <span data-ng-if="!$ctrl.isNil($ctrl.item.password)">
                        <span class="field-label">{{ 'common:PASSWORD' | i18next }}</span>:&nbsp;{{ $ctrl.item.password }};&nbsp;
                    </span>

                    <!-- type Volume block -->
                    <span data-ng-if="!$ctrl.isNil($ctrl.item.volumeMount.mountPath)">
                        <span class="field-label">{{ 'functions:MOUNT_PATH' | i18next }}</span>:&nbsp;{{ $ctrl.item.volumeMount.mountPath }};&nbsp;
                    </span>
                    <span data-ng-if="!$ctrl.isNil($ctrl.item.volume.hostPath)">
                        <span class="field-label">{{ 'functions:HOST_PATH' | i18next }}</span>:&nbsp;{{ $ctrl.item.volume.hostPath.path }};&nbsp;
                    </span>
                    <span data-ng-if="!$ctrl.isNil($ctrl.item.volume.flexVolume.options.container)">
                        <span class="field-label">{{ 'functions:CONTAINER_NAME' | i18next }}</span>:&nbsp;{{ $ctrl.item.volume.flexVolume.options.container }};&nbsp;
                    </span>
                    <span data-ng-if="!$ctrl.isNil($ctrl.item.volume.flexVolume.options.subPath)">
                        <span class="field-label">{{ 'functions:SUB_PATH' | i18next }}</span>:&nbsp;{{ $ctrl.item.volume.flexVolume.options.subPath }};&nbsp;
                    </span>
                    <span data-ng-if="!$ctrl.isNil($ctrl.item.volume.configMap.name)">
                        <span class="field-label">{{ 'functions:CONFIG_MAP_NAME' | i18next }}</span>:&nbsp;{{ $ctrl.item.volume.configMap.name }};&nbsp;
                    </span>
                    <span data-ng-if="!$ctrl.isNil($ctrl.item.volume.persistentVolumeClaim.claimName)">
                        <span class="field-label">{{ 'functions:PERSISTENT_VOLUME_CLAIM_NAME' | i18next }}</span>:
                        &nbsp;{{ $ctrl.item.volume.persistentVolumeClaim.claimName }};&nbsp;
                    </span>

                    <!-- Worker Allocator name -->
                    <span data-ng-if="!$ctrl.isNil($ctrl.item.workerAllocatorName)">
                        <span class="field-label">{{ 'functions:WORKER_ALLOCATOR_NAME' | i18next }}</span>:&nbsp;{{ $ctrl.item.workerAllocatorName }};&nbsp;
                    </span>
                </div>

                <div data-ng-hide="!$ctrl.item.ui.expanded" class="expanded-item-info-block">
                    <div class="igz-row common-table-cells-container item-info-row"
                         data-ng-if="!$ctrl.isNil($ctrl.item.url)">
                        <div class="igz-col-30 common-table-cell field-label">
                            {{ 'common:URL' | i18next }}:
                        </div>
                        <div class="igz-col-70 common-table-cell">
                            {{ $ctrl.item.url }}
                        </div>
                    </div>
                    <div class="igz-row common-table-cells-container item-info-row"
                         data-ng-if="!$ctrl.isNil($ctrl.item.maxWorkers)">
                        <div class="igz-col-30 common-table-cell field-label">
                            {{ 'functions:MAX_WORKERS' | i18next }}:
                        </div>
                        <div class="igz-col-70 common-table-cell">
                            {{ $ctrl.item.maxWorkers }}
                        </div>
                    </div>
                    <div class="igz-row common-table-cells-container item-info-row"
                         data-ng-if="!$ctrl.isNil($ctrl.item.secret)">
                        <div class="igz-col-30 common-table-cell field-label">
                            {{ 'functions:SECRET' | i18next }}:
                        </div>
                        <div class="igz-col-70 common-table-cell">
                            {{ $ctrl.item.secret }}
                        </div>
                    </div>
                    <div class="igz-row common-table-cells-container item-info-row"
                         data-ng-repeat="(key, value) in $ctrl.item.attributes">
                        <div class="igz-col-30 common-table-cell field-label">
                            {{ key }}:
                        </div>
                        <div class="igz-col-70 common-table-cell">
                            {{ value }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-ng-transclude class="igz-col-100" data-ng-if="$ctrl.item.ui.editModeActive"></div>

        <div class="common-table-cell actions-menu" data-ng-if="::$ctrl.showDotMenu()">
            <igz-action-menu data-actions="$ctrl.actions"
                             data-list-class="$ctrl.listClass"
                             data-on-fire-action="$ctrl.onFireAction">
            </igz-action-menu>
        </div>
        <div class="common-table-cell single-action" data-ng-if="::!$ctrl.showDotMenu()">
            <div class="igz-action-panel">
                <div class="actions-list">
                    <div class="igz-action-item"
                         data-ng-click="$ctrl.onClickAction($ctrl.actions[0])">
                        <span class="action-icon"
                              data-ng-class="$ctrl.actions[0].icon">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
