<div class="ncl-collapsing-row">
    <div class="title-block common-table-row" data-ng-class="{'collapsed': !$ctrl.item.ui.editModeActive}">
        <div class="common-table-cell row-collapse">
            <span class="collapse-icon"
                  data-ng-click="$ctrl.onCollapse($event)"
                  data-ng-class="{'collapsed igz-icon-right': !$ctrl.item.ui.editModeActive, 'igz-icon-down': $ctrl.item.ui.editModeActive}"></span>
        </div>

        <div data-ng-show="!$ctrl.item.ui.editModeActive" class="igz-row common-table-cells-container item-row">

            <!-- Name -->
            <div class="text-ellipsis item-name" data-ng-if="!$ctrl.isNil($ctrl.item.name)">
                {{$ctrl.item.name}}
            </div>
            <div class="text-ellipsis item-name" data-ng-if="!$ctrl.isNil($ctrl.item.volumeMount.name)">
                {{ $ctrl.item.volumeMount.name }}
            </div>

            <!-- Class/type -->
            <div class="item-class" data-ng-if="!$ctrl.isNil($ctrl.item.ui.className)">
                {{$ctrl.item.ui.className}}
            </div>
            <div class="item-class" data-ng-if="!$ctrl.isNil($ctrl.item.volume.hostPath)">
                Host path
            </div>
            <div class="item-class" data-ng-if="!$ctrl.isNil($ctrl.item.volume.flexVolume)">
                V3IO
            </div>
            <div class="item-class" data-ng-if="!$ctrl.isNil($ctrl.item.volume.secret.secretName)">
                Secret
            </div>
            <div class="item-class" data-ng-if="!$ctrl.isNil($ctrl.item.volume.configMap.name)">
                Config map
            </div>

            <!-- Custom info -->
            <div class="igz-col-70 item-info">
                <div data-ng-hide="$ctrl.item.ui.editModeActive" class="collapsed-item-info-block">
                    <span data-ng-if="!$ctrl.isNil($ctrl.item.url)">
                        <span class="field-label">URL</span>:&nbsp;{{ $ctrl.item.url }};&nbsp;
                    </span>
                    <span data-ng-if="!$ctrl.isNil($ctrl.item.maxWorkers)">
                        <span class="field-label">Max Workers</span>:&nbsp;{{ $ctrl.item.maxWorkers }};&nbsp;
                    </span>
                    <span data-ng-if="!$ctrl.isNil($ctrl.item.workerAvailabilityTimeoutMilliseconds)">
                        <span class="field-label">Worker availability timeout</span>:&nbsp;{{ $ctrl.item.workerAvailabilityTimeoutMilliseconds }};&nbsp;
                    </span>
                    <span data-ng-if="!$ctrl.isNil($ctrl.item.secret)">
                        <span class="field-label">Secret</span>:&nbsp;{{ $ctrl.item.secret }};&nbsp;
                    </span>
                    <span data-ng-repeat="(key, value) in $ctrl.item.attributes">
                        <span class="field-label">{{ key }}</span>:&nbsp;{{ value }};&nbsp;
                    </span>
                    <span data-ng-if="!$ctrl.isNil($ctrl.item.annotations)">
                        <span class="field-label">Annotations</span>: {{ $ctrl.item.annotations }};
                    </span>
                    <span data-ng-if="!$ctrl.isNil($ctrl.item.username)">
                        <span class="field-label">Username</span>: {{ $ctrl.item.username }};
                    </span>
                    <span data-ng-if="!$ctrl.isNil($ctrl.item.password)">
                        <span class="field-label">Password</span>: {{ $ctrl.item.password }};
                    </span>

                    <!-- type Volume block -->
                    <span data-ng-if="!$ctrl.isNil($ctrl.item.volumeMount.mountPath)">
                        <span class="field-label">Mount Path</span>:&nbsp;{{ $ctrl.item.volumeMount.mountPath }};&nbsp;
                    </span>
                    <span data-ng-if="!$ctrl.isNil($ctrl.item.volume.hostPath)">
                        <span class="field-label">Host path</span>:&nbsp;{{ $ctrl.item.volume.hostPath.path }};&nbsp;
                    </span>
                    <span data-ng-if="!$ctrl.isNil($ctrl.item.volume.flexVolume.options.accessKey)">
                        <span class="field-label">Access key</span>:&nbsp;{{ $ctrl.item.volume.flexVolume.options.accessKey }};&nbsp;
                    </span>
                    <span data-ng-if="!$ctrl.isNil($ctrl.item.volume.flexVolume.options.container)">
                        <span class="field-label">Container name</span>:&nbsp;{{ $ctrl.item.volume.flexVolume.options.container }};&nbsp;
                    </span>
                    <span data-ng-if="!$ctrl.isNil($ctrl.item.volume.flexVolume.options.subPath)">
                        <span class="field-label">Sub path</span>:&nbsp;{{ $ctrl.item.volume.flexVolume.options.subPath }};&nbsp;
                    </span>
                    <span data-ng-if="!$ctrl.isNil($ctrl.item.volume.secret.secretName)">
                        <span class="field-label">Secret name</span>:&nbsp;{{ $ctrl.item.volume.secret.secretName }};&nbsp;
                    </span>
                    <span data-ng-if="!$ctrl.isNil($ctrl.item.volume.configMap.name)">
                        <span class="field-label">Config map name</span>:&nbsp;{{ $ctrl.item.volume.configMap.name }};&nbsp;
                    </span>

                    <!-- Worker Allocator name -->
                    <span data-ng-if="!$ctrl.isNil($ctrl.item.workerAllocatorName)">
                        <span class="field-label">Worker allocator name</span>:&nbsp;{{ $ctrl.item.workerAllocatorName }};&nbsp;
                    </span>
                </div>

                <div data-ng-hide="!$ctrl.item.ui.expanded" class="expanded-item-info-block">
                    <div class="igz-row common-table-cells-container item-info-row"
                         data-ng-if="!$ctrl.isNil($ctrl.item.url)">
                        <div class="igz-col-30 common-table-cell field-label">
                            URL:
                        </div>
                        <div class="igz-col-70 common-table-cell">
                            {{ $ctrl.item.url }}
                        </div>
                    </div>
                    <div class="igz-row common-table-cells-container item-info-row"
                         data-ng-if="!$ctrl.isNil($ctrl.item.maxWorkers)">
                        <div class="igz-col-30 common-table-cell field-label">
                            Max Workers:
                        </div>
                        <div class="igz-col-70 common-table-cell">
                            {{ $ctrl.item.maxWorkers }}
                        </div>
                    </div>
                    <div class="igz-row common-table-cells-container item-info-row"
                         data-ng-if="!$ctrl.isNil($ctrl.item.secret)">
                        <div class="igz-col-30 common-table-cell field-label">
                            Secret:
                        </div>
                        <div class="igz-col-70 common-table-cell">
                            {{ $ctrl.item.secret }}
                        </div>
                    </div>
                    <div class="igz-row common-table-cells-container item-info-row"
                         data-ng-repeat="(key, value) in $ctrl.item.attributes">
                        <div class="igz-col-30 common-table-cell field-label">
                            {{ key }}:
                        </div>
                        <div class="igz-col-70 common-table-cell">
                            {{ value }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-ng-transclude class="igz-col-100" data-ng-if="$ctrl.item.ui.editModeActive"></div>

        <div class="common-table-cell actions-menu" data-ng-if="::$ctrl.showDotMenu()">
            <igz-action-menu data-actions="$ctrl.actions"
                             data-list-class="$ctrl.listClass"
                             data-on-fire-action="$ctrl.onFireAction">
            </igz-action-menu>
        </div>
        <div class="common-table-cell single-action" data-ng-if="::!$ctrl.showDotMenu()">
            <div class="igz-action-panel">
                <div class="actions-list">
                    <div class="igz-action-item"
                         data-ng-click="$ctrl.onClickAction($ctrl.actions[0])">
                        <span class="action-icon"
                              data-ng-class="$ctrl.actions[0].icon">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
