<div class="function-import-wrapper-content">
    <div class="function-import-file-picker">
        <label class="file-picker-wrapper ncl-primary-button" for="function-import">
            <span class="igz-icon-upload"></span>Import
        </label>
        <input class="function-import-input"
               type="file"
               id="function-import"
               accept=".yml, .yaml">
    </div>

    <div class="function-import-monaco">
        <ncl-monaco class="monaco-code-editor"
                    data-function-source-code="$ctrl.sourceCode"
                    data-mini-monaco="false"
                    data-selected-theme="$ctrl.editorTheme"
                    data-language="'yaml'"
                    data-read-only="true"></ncl-monaco>
    </div>

    <div class="bottom-bar">
        <button class="ncl-secondary-button" data-ng-click="$ctrl.cancelCreating($event)">CANCEL</button>
        <button class="ncl-primary-button" data-ng-click="$ctrl.createFunction()"
                data-ng-disabled="!$ctrl.isSourceCodeExists()"
                data-ng-class="{'disabled': !$ctrl.isSourceCodeExists()}">CREATE FUNCTION
        </button>
    </div>
</div>
