<div class="ncl-edit-version">
    <igz-splash-screen data-is-splash-showed="$ctrl.isSplashShowed"></igz-splash-screen>

    <!--actions bar-->
    <igz-info-page-actions-bar class="igz-component border-top">
        <div class="actions-bar-right">
            <div class="actions-bar-left actions-buttons-block actions-dropdown-block">
                <igz-default-dropdown data-select-property-only="id"
                                      data-placeholder="ACTIONS"
                                      data-values-array="$ctrl.actions"
                                      data-selected-item="$ctrl.action"
                                      data-is-disabled="!$ctrl.isFunctionDeployed"
                                      data-item-select-callback="$ctrl.onSelectAction(item)">
                </igz-default-dropdown>
            </div>
            <div class="actions-bar-left actions-buttons-block">
                <div class="actions-bar-left test-events-dropdown-block">
                    <igz-default-dropdown data-placeholder="No function events…"
                                          data-values-array="$ctrl.functionEvents"
                                          data-selected-item="$ctrl.selectedFunctionEvent"
                                          data-is-disabled="!$ctrl.isFunctionDeployed || !$ctrl.selectedFunctionEvent"
                                          data-item-select-callback="$ctrl.onSelectFunctionEvent(item)">
                    </igz-default-dropdown>
                </div>
                <div class="actions-bar-right">
                    <div class="ncl-grouped-buttons">
                        <button type="button" class="test-version-button"
                                data-ng-click="$ctrl.invokeFunction()"
                                data-ng-class="{'disabled' : !$ctrl.isFunctionDeployed || !$ctrl.selectedFunctionEvent}">TEST
                        </button>
                        <button type="button" class="test-version-button-arrow dropdown-toggle" data-toggle="dropdown"
                                data-ng-class="{'disabled' : !$ctrl.isFunctionDeployed}"
                                aria-haspopup="true"
                                aria-expanded="false">
                            <span class="igz-icon-dropdown"></span>
                        </button>
                        <ul class="button-dropdown dropdown-menu">
                            <li>
                                <a class="icon-font-group" href="#" data-ng-click="$ctrl.openFunctionEventDialog(true)">Create
                                    function event</a>
                            </li>
                            <li data-ng-if="$ctrl.selectedFunctionEvent">
                                <a class="icon-font-layer" href="#" data-ng-click="$ctrl.openFunctionEventDialog(false)">Edit
                                    test event</a>
                            </li>
                            <li data-ng-if="$ctrl.selectedFunctionEvent">
                                <a class="icon-font-layer" href="#" data-ng-click="$ctrl.deleteFunctionEvent()">Delete event</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="actions-bar-left actions-buttons-block">
                <button class="ncl-new-entity-button"
                        data-ng-class="{'disabled': $ctrl.deployResult.status.state === 'building'}"
                        data-ng-click="$ctrl.deployResult.status.state === 'building' || $ctrl.deployVersion()"
                        data-tooltip="Deploy a version"
                        data-tooltip-placement="bottom"
                        data-tooltip-append-to-body="true"
                        data-tooltip-popup-delay="100"
                        data-tooltip-class="custom-tooltip">
                    Deploy
                </button>
            </div>
        </div>
    </igz-info-page-actions-bar>

    <div data-ng-if="$ctrl.isTestResultShown"
         class="ncl-edit-version-execution-result">
        <div class="igz-scrollable-container"
             data-ng-scrollbars
             data-ng-scrollbars-config="$ctrl.scrollConfig">
            <div class="btn-close igz-icon-close" data-ng-click="$ctrl.toggleTestResult()"></div>
            <div class="ncl-execution-result-status"
                 data-ng-class="{'succeeded': $ctrl.testResult.status.state === 'Succeeded'}">
        <span class="result-status-icon"
              data-ng-class="$ctrl.testResult.status.state === 'Succeeded' ? 'igz-icon-tick-round' : 'igz-icon-block'"></span>
                Execution results: {{$ctrl.testResult.status.state}}
            </div>
            <div class="ncl-execution-result-block">
                <div class="collapsed-block-title"
                     data-ng-click="$ctrl.onRowCollapse('statusCode')"
                     data-ng-class="{'collapsed': $ctrl.rowIsCollapsed.statusCode}">
            <span class="icon-collapsed"
                  data-ng-class="$ctrl.rowIsCollapsed.statusCode ? 'igz-icon-right' : 'igz-icon-down'"></span>
                    Status code
                </div>
                <div class="collapsed-block-content-wrapper" data-collapse="$ctrl.rowIsCollapsed.statusCode">
                    <div class="value-row">
                        {{$ctrl.testResult.status.code}}
                    </div>
                </div>
            </div>
            <div class="ncl-execution-result-block">
                <div class="collapsed-block-title" data-ng-click="$ctrl.onRowCollapse('headers')"
                     data-ng-class="{'collapsed': $ctrl.rowIsCollapsed.headers}">
            <span class="icon-collapsed"
                  data-ng-class="$ctrl.rowIsCollapsed.headers ? 'igz-icon-right' : 'igz-icon-down'"></span>
                    Headers
                </div>
                <div class="collapsed-block-content-wrapper" data-collapse="$ctrl.rowIsCollapsed.headers">
                    <div class="label-value-row" data-ng-repeat="(headerName, headerValue) in $ctrl.testResult.headers">
                        <div class="label-cell">{{headerName}}</div>
                        <div class="value-cell">{{headerValue}}</div>
                    </div>
                </div>
            </div>
            <div class="ncl-execution-result-block">
                <div class="collapsed-block-title" data-ng-click="$ctrl.onRowCollapse('body')"
                     data-ng-class="{'collapsed': $ctrl.rowIsCollapsed.body}">
            <span class="icon-collapsed"
                  data-ng-class="$ctrl.rowIsCollapsed.body ? 'igz-icon-right' : 'igz-icon-down'"></span>
                    Body
                </div>
                <div class="collapsed-block-content-wrapper" data-collapse="$ctrl.rowIsCollapsed.body">
                    <div class="value-row">
                        {"metadata":{"name":"name","namespace":"nuclio"}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div data-ng-if="$ctrl.isDeployResultShown"
         class="ncl-edit-version-execution-result deploy-result"
         data-ng-class="{'in-progress': $ctrl.deployResult.status.state === 'building',
                         'failed'     : $ctrl.deployResult.status.state === 'error'}">
        <div class="igz-scrollable-container"
             data-ng-scrollbars
             data-ng-scrollbars-config="$ctrl.scrollConfig">
            <div class="btn-close igz-icon-close"
                 data-ng-if="$ctrl.deployResult.status.state !== 'building'"
                 data-ng-click="$ctrl.toggleDeployResult()"></div>
            <div class="icon-collabled general-content"
                 data-ng-class="$ctrl.rowIsCollapsed.deployBlock ? 'igz-icon-right' : 'igz-icon-down'"
                 data-ng-click="$ctrl.onRowCollapse('deployBlock')"></div>
            <div class="ncl-execution-result-status"
                 data-ng-class="{'succeeded'  : $ctrl.deployResult.status.state === 'ready',
                                 'in-progress': $ctrl.deployResult.status.state === 'building',
                                 'collapsed'  : $ctrl.rowIsCollapsed.deployBlock}">
        <span class="result-status-icon"
              data-ng-class="{'igz-icon-tick-round': $ctrl.deployResult.status.state === 'ready',
                              'igz-icon-properties': $ctrl.deployResult.status.state === 'building',
                              'igz-icon-block'     : $ctrl.deployResult.status.state === 'error'}"></span>
                {{$ctrl.getDeployStatusState($ctrl.deployResult.status.state)}}
            </div>
            <div class="ncl-execution-result-block collapsed-block-content-wrapper" data-collapse="$ctrl.rowIsCollapsed.deployBlock">
                <div class="collapsed-block-title" data-ng-click="$ctrl.onRowCollapse('deployBody')"
                     data-ng-class="{'collapsed': $ctrl.rowIsCollapsed.deployBody}">
            <span class="icon-collapsed"
                  data-ng-class="$ctrl.rowIsCollapsed.deployBody ? 'igz-icon-right' : 'igz-icon-down'"></span>
                    Logs
                </div>
                <div class="collapsed-block-content-wrapper" data-collapse="$ctrl.rowIsCollapsed.deployBody">
                    <div class="value-row"
                         data-ng-if="$ctrl.deployResult.status.logs"
                         data-ng-class="{'in-progress': $ctrl.deployResult.status.state === 'building',
                                         'failed'     : $ctrl.deployResult.status.state === 'error'}">
                        <div data-ng-repeat="log in $ctrl.deployResult.status.logs">{{log.message}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ncl-navigation-tabs data-tab-items="$ctrl.navigationTabsConfig"></ncl-navigation-tabs>
    <section class="ncl-edit-version-view" data-igz-extend-background data-ui-view="version"></section>
</div>