<div class="igz-elastic-input-field">
    <div class="non-editable text-ellipsis"
         data-ng-if="$ctrl.readOnly"
         data-uib-tooltip="{{$ctrl.model}}"
         data-tooltip-append-to-body="true"
         data-tooltip-popup-delay="200">{{$ctrl.model}}</div>
    <div class="editable"
         data-ng-class="{
         'elastic-input-invalid': $ctrl.isShowFieldInvalidState($ctrl.formObject, $ctrl.inputName),
         'edit-mode': !$ctrl.readOnly}"
         data-ng-if="!$ctrl.readOnly">
        <input name="{{$ctrl.inputName}}"
               type="text"
               class="elastic-input"
               data-ng-model="$ctrl.model"
               data-ng-model-options="$ctrl.modelOptions"
               data-ng-maxlength="$ctrl.maxLength"
               data-ng-minlength="$ctrl.minLength"
               data-ng-pattern="$ctrl.pattern"
               data-ng-required="$ctrl.required"
               data-ng-trim="$ctrl.trim"
               data-ng-keyup="$ctrl.onDataChange()"
               placeholder="{{$ctrl.placeholder}}"
               data-pu-elastic-input
               data-igz-input-blur-on-enter/>
    </div>
</div>