.igz-elastic-input-field {
    .non-editable {
        padding: 7px 10px 0;
        letter-spacing: normal;
    }

    .editable {
        cursor: text;
        display: inline-block;

        &.edit-mode {
            input.elastic-input {
                border: solid 1px @pale-grey;
            }
        }

        input.elastic-input {
            line-height: 26px;
            background: none;
            color: @dusk-three;
            margin: 0;
            max-width: 201px;
            outline: 0;
            overflow: hidden;
            padding: 2px 9px 0 9px;
            text-overflow: ellipsis;

            &:focus {
                border: solid 1px @dark-sky-blue;
            }

            &::-ms-clear {
                display: none;
            }
        }

        // Invalid state
        &.elastic-input-invalid {
            input.elastic-input {
                background-color: #fbe5e8;
                border: solid 1px @darkish-pink;
                box-shadow: none;
                outline: none;
            }
        }
    }
}