.validating-input-field {
    .validating-input-field-color-set();

    background-color: @validating-input-field-bg-color;
    font-family: @font-family-sans-serif;
    font-size: 13px;
    font-weight: 400;
    min-height: 32px;
    line-height: 32px;
    position: relative;

    .input-icon {
        position: absolute;
        top: 2px;
        left: 8px;
        z-index: 2;
        color: @validating-input-icon-color;
    }

    //
    // inputs
    //

    .input-counter, .textarea-counter {
        color: @input-textarea-counter-color;
        font-size: 12px;
        font-weight: 700;
        line-height: 32px;
        position: absolute;
        right: 6px;
        bottom: 2px;
        z-index: 3;

        &.invalid {
            color: @input-textarea-counter-invalid-color;
        }
    }

    .input-field, .textarea-field {
        background-color: transparent;
        border: @input-textarea-field-border;
        border-radius: 2px;
        color: @input-textarea-field-color;
        display: block;
        position: relative;
        width: 100%;
        z-index: 2;

        &:not([disabled]):not([readonly]) {
            &:focus.ng-invalid:not(.ng-pristine), &.ng-invalid.ng-touched {
                background-color: @input-textarea-field-not-disabled-focus-invalid-bg-color;
                border: @input-textarea-field-not-disabled-focus-invalid-border;
                box-shadow: none;
                outline: none;
            }

            &:focus {
                outline: 0;
                border: @input-textarea-field-not-disabled-hover-focus-border;
            }

            &.invalid {
                background-color: @input-textarea-field-not-disabled-invalid-bg-color;
                border: @input-textarea-field-not-disabled-invalid-border;
                box-shadow: none;
            }

            &:focus.ng-valid, &:focus.ng-pristine {
                border: @input-textarea-field-not-disabled-valid-border;
                box-shadow: none;
                outline: none;
            }
        }
    }

    .input-field {
        padding: 0 10px;
        height: 36px;

        &.with-icon {
            padding: 0 10px 0 32px;
        }
    }

    .textarea-field {
        line-height: normal;
        min-height: 70px;
    }

    .clear-button {
        font-size: 10px;
        position: absolute;
        right: 6px;
        top: 9px;
        cursor: pointer;
        color: white;
        padding: 4px 5px 3px;
        opacity: 0.64;
        background-color: @validating-input-clear-button-bg-color;
        border-radius: 50%;
        line-height: initial;
        z-index: 3;

        &:hover {
            opacity: 1;
        }
    }

    /* make sure not to display built-in clear button on Internet Explorer */
    input::-ms-clear {
        display: none;
    }

    //
    // placeholder
    //

    ::-webkit-input-placeholder {
        /* Chrome, Chromium, Edge, Safari, Opera*/
        color: @input-textarea-placeholder;
    }

    :-moz-placeholder {
        /* Firefox 4-18 */
        color: @input-textarea-placeholder;
    }

    ::-moz-placeholder {
        /* Firefox 19+ */
        color: @input-textarea-placeholder;
    }

    :-ms-input-placeholder {
        /* - Internet Explorer 10–11
           - Internet Explorer Mobile 10-11 */
        color: @input-textarea-placeholder !important;
    }

    ::placeholder {
        /* modern browser versions */
        color: @input-textarea-placeholder;
    }

    //
    // textarea
    //

    .textarea-field {
        overflow: hidden;
        padding: 7px 10px 6px 10px;
        resize: none;
    }

    &.with-counter {
        .input-field {
            padding: 0 32px 0 10px;
        }

        .textarea-field {
            padding: 7px 30px 6px 10px;
        }
    }
}
