<div class="validating-input-field"
     data-ng-class="{'focused': $ctrl.inputFocused, 'with-counter': $ctrl.isCounterVisible()}">
    <div data-ng-if="$ctrl.fieldType === 'input'">
        <div class="validation-icon"
             data-ng-if="$ctrl.validationRules.length > 0"
             data-ng-mousedown="$ctrl.preventInputBlur = true"
             data-ng-class="{'igz-icon-verify-info': $ctrl.inputIsTouched && $ctrl.data === '',
                             'igz-icon-verify-error': $ctrl.isValueInvalid() && $ctrl.data !== '',
                             'igz-icon-verify-ok': !$ctrl.isValueInvalid() && $ctrl.data !== ''}">
        </div>
        <div class="input-counter"
             data-ng-class="{'invalid': $ctrl.getRemainingSymbolsCounter() < 0}"
             data-ng-if="$ctrl.isCounterVisible()">{{$ctrl.getRemainingSymbolsCounter()}}
        </div>
        <input class="input-field field" tabindex="0"
               data-ng-class="{'invalid': $ctrl.isFieldInvalid(),
                               'with-icon': $ctrl.inputIcon,
                               'with-validation-icon': $ctrl.validationRules.length > 0}"
               name="{{$ctrl.inputName}}"
               placeholder="{{$ctrl.placeholderText}}"
               data-ng-readonly="$ctrl.readOnly"
               data-ng-model="$ctrl.data"
               data-ng-trim="{{$ctrl.trim}}"
               data-ng-model-options="$ctrl.inputModelOptions"
               data-ng-required="$ctrl.validationIsRequired"
               data-ng-maxlength="$ctrl.validationMaxLength"
               data-ng-pattern="$ctrl.validationPattern"
               data-ng-focus="$ctrl.focusInput()"
               data-ng-blur="$ctrl.unfocusInput($event)"
               data-ng-change="$ctrl.updateInputValue()"
               data-ng-disabled="$ctrl.isDisabled"
               data-ng-keydown="$ctrl.keyDown($event)"
               data-igz-input-only-valid-characters="$ctrl.validationPattern"
               data-only-valid-characters="$ctrl.onlyValidCharacters"
               spellcheck="{{$ctrl.spellcheck}}"
               autocomplete="{{$ctrl.autoComplete}}"
               maxlength="{{$ctrl.onlyValidCharacters ? $ctrl.validationMaxLength : null}}"
               data-igz-input-blur-on-enter>

        <span data-ng-if="$ctrl.inputIcon" class="input-icon {{$ctrl.inputIcon}}"></span>
        <span class="clear-button igz-icon-close"
              data-ng-show="$ctrl.data && $ctrl.isClearIcon"
              data-ng-click="$ctrl.clearInputField()">
        </span>
        <div class="validation-pop-up-wrapper">
            <div class="validation-pop-up"
                 data-ng-show="$ctrl.isValidationPopUpShown"
                 data-ng-class="$ctrl.isOverflowed() ? 'validation-pop-up-top' : 'validation-pop-up-bottom'">
                <div class="validation-rule"
                     data-ng-repeat="rule in $ctrl.validationRules">
                    <span class="validation-rule-icon"
                          data-ng-class="rule.isValid ? 'igz-icon-verify-ok' : 'ncl-icon-close'">
                    </span>
                    <span class="validation-rule-label"
                          data-ng-class="rule.isValid ? 'validation-rule-valid' : 'validation-rule-invalid'">
                        {{rule.label}}
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div data-ng-if="$ctrl.fieldType === 'textarea'">
        <div class="textarea-counter"
             data-ng-class="{'invalid': $ctrl.getRemainingSymbolsCounter() < 0}"
             data-ng-if="$ctrl.isCounterVisible()">{{$ctrl.getRemainingSymbolsCounter()}}
        </div>
        <textarea class="textarea-field field" tabindex="0"
                  data-ng-class="{'invalid': $ctrl.isFieldInvalid()}"
                  name="{{$ctrl.inputName}}"
                  placeholder="{{$ctrl.placeholderText}}"
                  data-ng-model="$ctrl.data"
                  data-ng-required="$ctrl.validationIsRequired"
                  data-ng-maxlength="$ctrl.validationMaxLength"
                  data-ng-pattern="$ctrl.validationPattern"
                  data-ng-focus="$ctrl.focusInput()"
                  data-ng-blur="$ctrl.unfocusInput()"
                  data-ng-change="$ctrl.updateInputValue()"
                  data-ng-disabled="$ctrl.isDisabled"
                  data-ng-readonly="$ctrl.readOnly"
                  spellcheck="{{$ctrl.spellcheck}}">
        </textarea>
    </div>

    <div data-ng-if="$ctrl.fieldType === 'password'">
        <input class="input-field field" tabindex="0"
               data-ng-class="{'invalid': $ctrl.isFieldInvalid()}"
               data-igz-validate-password-confirmation="$ctrl.compareInputValue"
               type="password"
               name="{{$ctrl.inputName}}"
               placeholder="{{$ctrl.placeholderText}}"
               data-ng-model="$ctrl.data"
               data-ng-model-options="$ctrl.inputModelOptions"
               data-ng-required="$ctrl.validationIsRequired"
               data-ng-maxlength="$ctrl.validationMaxLength"
               data-ng-pattern="$ctrl.validationPattern"
               data-ng-focus="$ctrl.focusInput()"
               data-ng-blur="$ctrl.unfocusInput()"
               data-ng-change="$ctrl.updateInputValue()"
               data-ng-disabled="$ctrl.isDisabled"
               data-ng-readonly="$ctrl.readOnly"
               data-igz-input-blur-on-enter>
    </div>

    <div data-ng-if="$ctrl.fieldType === 'schedule'">
        <cron-selection data-ng-class="{'invalid': $ctrl.isFieldValid()}"
                        data-ng-model="$ctrl.data"
                        data-ng-change="$ctrl.updateInputValue()"
                        name="{{$ctrl.inputName}}">
        </cron-selection>
    </div>
</div>
