<div class="ncl-navigation-tabs-wrapper">
    <div class="ncl-navigation-tabs clearfix">
        <div class="navigation-tab"
             data-ng-repeat="item in $ctrl.tabItems"
             data-ui-sref="{{item.uiRoute}}"
             data-ui-sref-active="active"
             data-ng-class="{'ncl-status-monitoring': item.id === 'status'}">
            {{item.tabName | uppercase}}

            <div class="ncl-status-light"
                 data-ng-if="item.status"
                 data-ng-class="{'ncl-status-ready': item.status === 'ready',
                             'ncl-status-error': item.status === 'error' || item.status === 'unhealthy',
                             'ncl-status-building': $ctrl.isFunctionBuilding(item.status)}">

                <div class="ncl-status-tooltip"
                     data-ng-if="item.status"
                     data-ng-class="{'ncl-status-tooltip-ready': item.status === 'ready',
                                 'ncl-status-tooltip-error': item.status === 'error' || item.status === 'unhealthy',
                                 'ncl-status-tooltip-building': $ctrl.isFunctionBuilding(item.status)}">

                    <div class="ncl-status-icon"
                         data-ng-if="item.status !== 'not yet deployed'"
                         data-ng-class="{'ncl-icon-ready': item.status === 'ready',
                                     'ncl-icon-error': item.status === 'error' || item.status === 'unhealthy',
                                     'ncl-icon-building': $ctrl.isFunctionBuilding(item.status)}">
                    </div>
                    <div class="ncl-status-title">
                        {{item.status}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="test-pane-actions-wrapper">
        <div class="igz-action-panel">
            <div class="actions-list">
                <div class="igz-action-item"
                     data-ng-if="$ctrl.isToggleButtonVisible()"
                     data-ng-class="{'active': !$ctrl.isTestPaneClosed}"
                     data-ng-click="$ctrl.toggleTestPane()">
                    <div class="action-icon igz-icon-test-pane"></div>
                </div>
            </div>
        </div>
    </div>
</div>
