<div class="ncl-navigation-tabs-wrapper">
    <div class="ncl-navigation-tabs clearfix">
        <div class="navigation-tab"
             data-ng-repeat="item in $ctrl.tabItems track by item.id"
             data-ui-sref="{{item.uiRoute}}"
             data-ui-sref-active="active"
             data-ng-class="{'ncl-status-indicator': item.indicator}">
            {{item.tabName | uppercase}}

            <div class="ncl-status-light"
                 data-ng-if="item.indicator"
                 data-ng-class="item.indicator.lightClass">

                <div class="ncl-status-tooltip"
                     data-ng-if="item.indicator.tooltipText"
                     data-ng-class="item.indicator.tooltipClass">
                    <div class="ncl-status-icon"
                         data-ng-if="item.indicator.tooltipIconClass"
                         data-ng-class="item.indicator.tooltipIconClass">
                    </div>
                    <div class="ncl-status-title">
                        {{item.indicator.tooltipText}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="test-pane-actions-wrapper">
        <div class="igz-action-panel">
            <div class="actions-list">
                <div class="igz-action-item"
                     data-ng-if="$ctrl.isToggleButtonVisible()"
                     data-ng-class="{'active': !$ctrl.isTestPaneClosed}"
                     data-ng-click="$ctrl.toggleTestPane()">
                    <div class="action-icon igz-icon-test-pane"></div>
                </div>
            </div>
        </div>
    </div>
</div>
