<div class="ncl-edit-item" data-ng-keydown="$ctrl.onSubmitForm($event)">
    <form name="$ctrl.editItemForm"
          novalidate
          autocomplete="off">
        <div class="igz-row title-field-row">
            <div class="igz-col-20 name-field">
                <igz-validating-input-field class="nuclio-validating-input"
                                            data-field-type="input"
                                            data-input-name="itemName"
                                            data-input-value="$ctrl.item.name"
                                            data-is-focused="true"
                                            data-form-object="$ctrl.editItemForm"
                                            data-validation-is-required="true"
                                            data-placeholder-text="Type name..."
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="name">
                </igz-validating-input-field>
                <div class="error" data-ng-show="$ctrl.isShowFieldInvalidState($ctrl.editItemForm, 'itemName')">
                    The inputs you provided are invalid or incorrect
                </div>
            </div>
            <div class="igz-col-12-5 class-field">
                <igz-default-dropdown data-select-property-only="id"
                                      data-input-name="itemClass"
                                      data-is-required="true"
                                      data-placeholder="Select class..."
                                      data-prevent-drop-up="true"
                                      data-values-array="$ctrl.classList"
                                      data-selected-item="$ctrl.item.kind"
                                      data-form-object="$ctrl.editItemForm"
                                      data-item-select-callback="$ctrl.onSelectClass(item)">
                </igz-default-dropdown>
            </div>
            <div class="igz-col-65"></div>
        </div>

        <div class="igz-row">
            <div class="igz-col-100 no-class-selected"
                 data-ng-if="!$ctrl.isClassSelected()">Please select a class
            </div>
            <div class="igz-col-45 attribute-field"
                 data-ng-if="$ctrl.isClassSelected() && !$ctrl.isNil($ctrl.item.url)">
                <div class="field-label">URL</div>
                <igz-validating-input-field class="nuclio-validating-input"
                                            data-field-type="input"
                                            data-input-name="itemURL"
                                            data-input-value="$ctrl.item.url"
                                            data-is-focused="false"
                                            data-form-object="$ctrl.editItemForm"
                                            data-validation-is-required="true"
                                            data-placeholder-text="Type URL..."
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="url">
                </igz-validating-input-field>
            </div>
            <div class="igz-col-45 attribute-field"
                 data-ng-if="$ctrl.isClassSelected() && !$ctrl.isNil($ctrl.item.maxWorkers)">
                <div class="field-label">Max workers</div>
                <igz-validating-input-field class="nuclio-validating-input"
                                            data-field-type="input"
                                            data-input-name="itemMaxWorkers"
                                            data-input-value="$ctrl.item.maxWorkers"
                                            data-is-focused="false"
                                            data-form-object="$ctrl.editItemForm"
                                            data-validation-pattern="$ctrl.numberValidationPattern"
                                            data-validation-is-required="true"
                                            data-placeholder-text="Type max workers..."
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="maxWorkers">
                </igz-validating-input-field>
            </div>
            <div class="igz-col-45 attribute-field"
                 data-ng-if="$ctrl.isClassSelected() && !$ctrl.isNil($ctrl.item.secret)">
                <div class="field-label">Secret</div>
                <igz-validating-input-field class="nuclio-validating-input"
                                            data-field-type="input"
                                            data-input-name="itemSecret"
                                            data-input-value="$ctrl.item.secret"
                                            data-is-focused="false"
                                            data-form-object="$ctrl.editItemForm"
                                            data-validation-is-required="true"
                                            data-placeholder-text="Type secret..."
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="secret">
                </igz-validating-input-field>
            </div>
            <div class="igz-col-45 attribute-field"
                 data-ng-if="$ctrl.isClassSelected() && attribute.type === 'input'"
                 data-ng-repeat="attribute in $ctrl.selectedClass.attributes">
                <div class="field-label">{{$ctrl.convertFromCamelCase(attribute.name)}}</div>
                <igz-validating-input-field class="nuclio-validating-input"
                                            data-field-type="input"
                                            data-input-name="item_{{attribute.name}}"
                                            data-input-value="$ctrl.getAttrValue(attribute.name)"
                                            data-is-focused="false"
                                            data-form-object="$ctrl.editItemForm"
                                            data-validation-pattern="$ctrl.getValidationPattern(attribute.pattern)"
                                            data-validation-is-required="!attribute.allowEmpty"
                                            data-placeholder-text="Type {{attribute.name}}..."
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="attributes.{{attribute.name}}">
                </igz-validating-input-field>
            </div>
            <div class="igz-col-45 attribute-field"
                 data-ng-if="$ctrl.isClassSelected() && attribute.type === 'dropdown'"
                 data-ng-repeat="attribute in $ctrl.selectedClass.attributes">
                <div class="field-label">{{$ctrl.convertFromCamelCase(attribute.name)}}</div>
                <igz-default-dropdown data-select-property-only="id"
                                      data-placeholder="Seek to..."
                                      data-values-array="attribute.values"
                                      data-form-object="$ctrl.editItemForm"
                                      data-is-required="true"
                                      data-prevent-drop-up="true"
                                      data-input-name="{{attribute.name}}"
                                      data-selected-item="$ctrl.getAttrValue(attribute.name)"
                                      data-item-select-callback="$ctrl.onSelectDropdownValue(item, field)"
                                      data-item-select-field="attributes.{{attribute.name}}">

                </igz-default-dropdown>
            </div>
            <div class="igz-col-45 attribute-field"
                 data-ng-if="$ctrl.isClassSelected() && attribute.type === 'number-input'"
                 data-ng-repeat="attribute in $ctrl.selectedClass.attributes">
                <div class="field-label">{{$ctrl.convertFromCamelCase(attribute.name)}}</div>
                <igz-number-input data-form-object="$ctrl.editItemForm"
                                  data-input-name="{{attribute.name}}"
                                  data-current-value="$ctrl.getAttrValue(attribute.name)"
                                  data-update-number-input-callback="$ctrl.numberInputCallback(newData, field)"
                                  data-update-number-input-field="attributes.{{attribute.name}}"
                                  data-placeholder=""
                                  data-decimal-number="0"
                                  data-value-step="1"
                                  data-suffix-unit="{{attribute.unit}}"
                                  data-validation-is-required="!attribute.allowEmpty"
                                  data-allow-empty-field="attribute.allowEmpty"
                                  data-min-value="0"
                                  data-max-value="attribute.maxValue"></igz-number-input>
            </div>
            <div class="igz-col-91 attribute-field ingresses-wrapper"
                 data-ng-if="$ctrl.isClassSelected() && $ctrl.isHttpTrigger()">

                <div class="table-headers">
                    <div class="key-header">Host</div>
                    <div class="value-header">Paths</div>
                </div>
                <div data-ng-if="!$ctrl.isScrollNeeded()">
                    <div class="table-body" data-ng-repeat="ingress in $ctrl.ingresses">
                        <ncl-key-value-input class="new-label-input"
                                             data-list-class="ingresses-wrapper"
                                             data-key-optional="true"
                                             data-row-data="ingress"
                                             data-use-type="false"
                                             data-submit-on-fly="true"
                                             data-item-index="$index"
                                             data-action-handler-callback="$ctrl.handleAction(actionType, index)"
                                             data-change-data-callback="$ctrl.onChangeData(newData, index)"></ncl-key-value-input>
                    </div>
                </div>
                <div data-ng-if="$ctrl.isScrollNeeded()"
                     class="igz-scrollable-container scrollable-ingresses"
                     data-ng-scrollbars
                     data-ng-scrollbars-config="$ctrl.scrollConfig">
                    <div class="table-body" data-ng-repeat="ingress in $ctrl.ingresses">
                        <ncl-key-value-input class="new-label-input"
                                             data-list-class="scrollable-ingresses"
                                             data-row-data="ingress"
                                             data-use-type="false"
                                             data-submit-on-fly="true"
                                             data-item-index="$index"
                                             data-action-handler-callback="$ctrl.handleAction(actionType, index)"
                                             data-change-data-callback="$ctrl.onChangeData(newData, index)"></ncl-key-value-input>
                    </div>
                </div>
                <div class="create-ingress-button"
                     data-ng-click="$ctrl.addNewIngress($event)">
                    <span class="igz-icon-add-round"></span>
                    Create a new ingress
                </div>
            </div>
        </div>
    </form>
</div>
