<div class="ncl-edit-item" data-ng-keydown="$ctrl.onSubmitForm($event)">
    <form name="$ctrl.editItemForm" novalidate autocomplete="off">
        <div class="igz-row title-field-row">
            <div class="igz-col-20 name-field">
                <igz-validating-input-field data-field-type="input"
                                            data-input-name="itemName"
                                            data-input-value="$ctrl.getItemName()"
                                            data-is-focused="true"
                                            data-form-object="$ctrl.editItemForm"
                                            data-validation-is-required="true"
                                            data-read-only="$ctrl.readOnly"
                                            data-validation-rules="$ctrl.validationRules.itemName"
                                            data-placeholder-text="{{ 'functions:PLACEHOLDER.ENTER_NAME' | i18next }}"
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="name"
                                            autocomplete="off">
                </igz-validating-input-field>
                <div class="error"
                     data-ng-show="$ctrl.isShowFieldInvalidState($ctrl.editItemForm, 'itemName') &&
                                   $ctrl.isShowFieldError($ctrl.editItemForm, 'itemName', 'required')">
                    {{ 'common:NAME_IS_REQUIRED' | i18next }}
                </div>
            </div>

            <div class="igz-col-12-5 class-field">
                <igz-default-dropdown data-select-property-only="id"
                                      data-input-name="itemClass"
                                      data-is-required="true"
                                      data-read-only="$ctrl.readOnly"
                                      data-placeholder="{{ $ctrl.classPlaceholder }}"
                                      data-prevent-drop-up="true"
                                      data-values-array="$ctrl.classList"
                                      data-selected-item="$ctrl.selectedClass.id"
                                      data-form-object="$ctrl.editItemForm"
                                      data-item-select-callback="$ctrl.onSelectClass(item)"
                                      data-enable-overlap="true">
                </igz-default-dropdown>
            </div>
            <div class="igz-col-65 tooltip-wrapper" data-ng-if="$ctrl.isSelectedClassMoreInfoVisible()">
                <igz-more-info
                        data-description="{{$ctrl.getSelectedClassMoreInfo()}}"
                        data-trigger="click"
                        data-is-html-enabled="true">
                </igz-more-info>
            </div>
        </div>

        <div class="igz-row" data-ng-if="$ctrl.isNil($ctrl.selectedClass.id)">
            <div class="igz-col-100 no-class-selected">{{ $ctrl.classPlaceholder }}</div>
        </div>

        <div class="igz-row" data-ng-if="!$ctrl.isNil($ctrl.selectedClass.id)">
            <div class="igz-col-45 attribute-field" data-ng-if="!$ctrl.isNil($ctrl.item.volumeMount.mountPath)">
                <div class="field-label">
                    <span class="asterisk">{{ 'functions:MOUNT_PATH' | i18next }}</span>
                    <igz-more-info data-description="{{ 'functions:MOUNT_PATH_DESCRIPTION' | i18next }}"
                                   data-trigger="click">
                    </igz-more-info>
                </div>
                <igz-validating-input-field data-field-type="input"
                                            data-input-name="itemPath"
                                            data-input-value="$ctrl.item.volumeMount.mountPath"
                                            data-is-focused="false"
                                            data-form-object="$ctrl.editItemForm"
                                            data-validation-is-required="true"
                                            data-read-only="$ctrl.readOnly"
                                            data-validation-rules="$ctrl.validationRules.itemPath"
                                            data-placeholder-text="{{ 'functions:PLACEHOLDER.ENTER_MOUNT_PATH' | i18next }}"
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="volumeMount.mountPath"
                                            data-auto-complete="off">
                </igz-validating-input-field>
            </div>

            <div class="igz-col-45 attribute-field"
                 data-ng-if="!$ctrl.isNil($ctrl.item.volume.flexVolume.options.accessKey)">
                <div class="field-label">
                    <span class="asterisk">{{ 'functions:ACCESS_KEY' | i18next }}</span>
                    <igz-more-info data-description="{{ 'functions:ACCESS_KEY_DESCRIPTION' | i18next }}"
                                   data-trigger="click">
                    </igz-more-info>
                </div>
                <igz-validating-input-field data-field-type="password"
                                            data-input-name="secretRef"
                                            data-input-value="$ctrl.item.volume.flexVolume.options.accessKey"
                                            data-is-focused="false"
                                            data-form-object="$ctrl.editItemForm"
                                            data-validation-is-required="true"
                                            data-read-only="$ctrl.readOnly"
                                            data-placeholder-text="{{ 'functions:PLACEHOLDER.ENTER_ACCESS_KEY' | i18next }}"
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="volume.flexVolume.options.accessKey"
                                            data-auto-complete="current-password">
                </igz-validating-input-field>
            </div>

            <div class="igz-col-45 attribute-field"
                 data-ng-if="!$ctrl.isNil($ctrl.item.volume.flexVolume.options.container)">
                <div class="field-label">
                    <span>{{ 'functions:CONTAINER_NAME' | i18next }}</span>
                    <igz-more-info data-description="{{ 'functions:CONTAINER_NAME_DESCRIPTION' | i18next }}"
                                   data-trigger="click">
                    </igz-more-info>
                </div>
                <igz-validating-input-field data-field-type="input"
                                            data-input-name="containerName"
                                            data-input-value="$ctrl.item.volume.flexVolume.options.container"
                                            data-is-focused="false"
                                            data-read-only="$ctrl.readOnly"
                                            data-form-object="$ctrl.editItemForm"
                                            data-validation-rules="$ctrl.validationRules.containerName"
                                            data-placeholder-text="{{ 'functions:PLACEHOLDER.ENTER_CONTAINER_NAME' | i18next }}"
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="volume.flexVolume.options.container"
                                            data-auto-complete="off">
                </igz-validating-input-field>
            </div>
            <div class="igz-col-45 attribute-field"
                 data-ng-if="!$ctrl.isNil($ctrl.item.volume.flexVolume.options.subPath)">
                <div class="field-label">
                    <span>{{ 'common:PATH' | i18next }}</span>
                    <igz-more-info data-description="{{ 'functions:PATH_DESCRIPTION' | i18next }}"
                                   data-trigger="click">
                    </igz-more-info>
                </div>
                <igz-validating-input-field data-field-type="input"
                                            data-input-name="containerSubPath"
                                            data-input-value="$ctrl.item.volume.flexVolume.options.subPath"
                                            data-is-focused="false"
                                            data-form-object="$ctrl.editItemForm"
                                            data-validation-is-required="false"
                                            data-read-only="$ctrl.readOnly"
                                            data-validation-max-length="{{$ctrl.maxLengths.containerSubPath}}"
                                            data-placeholder-text="{{ 'functions:PLACEHOLDER.ENTER_PATH_IN_CONTAINER' | i18next }}"
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="volume.flexVolume.options.subPath"
                                            data-auto-complete="off">
                </igz-validating-input-field>
            </div>

            <div class="igz-col-45 attribute-field" data-ng-if="!$ctrl.isNil($ctrl.item.volume.hostPath.path)">
                <div class="field-label">
                    <span class="asterisk">{{ 'common:HOST_PATH' | i18next }}</span>
                </div>
                <igz-validating-input-field data-field-type="input"
                                            data-input-name="hostPath"
                                            data-input-value="$ctrl.item.volume.hostPath.path"
                                            data-is-focused="false"
                                            data-form-object="$ctrl.editItemForm"
                                            data-validation-is-required="true"
                                            data-read-only="$ctrl.readOnly"
                                            data-placeholder-text="{{ 'common:PLACEHOLDER.ENTER_HOST_PATH' | i18next }}"
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="volume.hostPath.path">
                </igz-validating-input-field>
            </div>

            <div class="igz-col-45 attribute-field" data-ng-if="!$ctrl.isNil($ctrl.item.volumeMount.readOnly)">
                <input type="checkbox" id="{{$ctrl.getItemName()}}" data-ng-model="$ctrl.item.volumeMount.readOnly">
                <label for="{{$ctrl.getItemName()}}">{{ 'common:READ_ONLY' | i18next }}</label>
            </div>

            <div class="igz-col-45 attribute-field" data-ng-if="!$ctrl.isNil($ctrl.item.volume.secret.secretName)">
                <div class="field-label">
                    <span class="asterisk">{{ 'functions:SECRET_NAME' | i18next }}</span>
                </div>
                <igz-validating-input-field data-field-type="input"
                                            data-input-name="secretName"
                                            data-input-value="$ctrl.item.volume.secret.secretName"
                                            data-is-focused="false"
                                            data-form-object="$ctrl.editItemForm"
                                            data-validation-is-required="true"
                                            data-read-only="$ctrl.readOnly"
                                            data-placeholder-text="{{ 'functions:PLACEHOLDER.ENTER_SECRET_NAME' | i18next }}"
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="volume.secret.secretName">
                </igz-validating-input-field>
            </div>

            <div class="igz-col-45 attribute-field" data-ng-if="!$ctrl.isNil($ctrl.item.volume.configMap.name)">
                <div class="field-label">
                    <span class="asterisk">{{ 'functions:CONFIG_MAP_NAME' | i18next }}</span>
                </div>
                <igz-validating-input-field data-field-type="input"
                                            data-input-name="configMap"
                                            data-input-value="$ctrl.item.volume.configMap.name"
                                            data-is-focused="false"
                                            data-form-object="$ctrl.editItemForm"
                                            data-validation-is-required="true"
                                            data-read-only="$ctrl.readOnly"
                                            data-placeholder-text="{{ 'functions:PLACEHOLDER.ENTER_CONFIG_MAP_NAME' | i18next }}"
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="volume.configMap.name">
                </igz-validating-input-field>
            </div>

            <div class="igz-col-45 attribute-field"
                 data-ng-if="!$ctrl.isNil($ctrl.item.volume.persistentVolumeClaim.claimName)">
                <div class="field-label text-ellipsis">
                    <span class="asterisk">{{ 'functions:PERSISTENT_VOLUME_CLAIM_NAME' | i18next }}</span>
                </div>
                <igz-validating-input-field data-field-type="input"
                                            data-input-name="persistentVolumeClaim"
                                            data-input-value="$ctrl.item.volume.persistentVolumeClaim.claimName"
                                            data-form-object="$ctrl.editItemForm"
                                            data-validation-is-required="true"
                                            data-read-only="$ctrl.readOnly"
                                            data-placeholder-text="{{ 'functions:PLACEHOLDER.ENTER_PERSISTENT_VOLUME_CLAIM_NAME' | i18next }}"
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="volume.persistentVolumeClaim.claimName">
                </igz-validating-input-field>
            </div>

            <div class="igz-col-45 attribute-field brokers-wrapper" data-ng-if="$ctrl.isKafkaTrigger()">
                <div class="field-label asterisk">{{ 'functions:BROKERS' | i18next }}</div>
                <div>
                    <div class="table-body" data-ng-repeat="broker in $ctrl.brokers">
                        <ncl-key-value-input class="new-label-input"
                                             data-change-state-broadcast="change-state-deploy-button"
                                             data-row-data="broker"
                                             data-use-type="false"
                                             data-submit-on-fly="true"
                                             data-is-disabled="$ctrl.readOnly"
                                             data-no-delete="$ctrl.brokers.length <= 1"
                                             data-item-index="$index"
                                             data-only-value-input="true"
                                             data-action-handler-callback="$ctrl.handleBrokerAction(actionType, index)"
                                             data-change-data-callback="$ctrl.onChangeKeyValueData(newData, index)">
                        </ncl-key-value-input>
                    </div>
                </div>
                <div class="igz-create-button create-broker-button"
                     data-ng-class="{'disabled': $ctrl.readOnly}"
                     data-ng-click="$ctrl.addNewBroker($event)">
                    <span class="igz-icon-add-round"></span>
                    {{ 'functions:ADD_BROKER' | i18next }}
                </div>
            </div>

            <div class="igz-col-45 attribute-field topics-wrapper" data-ng-if="$ctrl.isKafkaTrigger()">
                <div class="field-label asterisk">{{ 'functions:TOPICS' | i18next }}</div>
                <div>
                    <div class="table-body" data-ng-repeat="topic in $ctrl.topics">
                        <ncl-key-value-input class="new-label-input"
                                             data-change-state-broadcast="change-state-deploy-button"
                                             data-row-data="topic"
                                             data-use-type="false"
                                             data-submit-on-fly="true"
                                             data-is-disabled="$ctrl.readOnly"
                                             data-no-delete="$ctrl.topics.length <= 1"
                                             data-item-index="$index"
                                             data-only-value-input="true"
                                             data-action-handler-callback="$ctrl.handleTopicAction(actionType, index)"
                                             data-change-data-callback="$ctrl.onChangeKeyValueData(newData, index)">
                        </ncl-key-value-input>
                    </div>
                </div>
                <div class="igz-create-button create-topic-button"
                     data-ng-class="{'disabled': $ctrl.readOnly}"
                     data-ng-click="$ctrl.addNewTopic($event)">
                    <span class="igz-icon-add-round"></span>
                    {{ 'functions:ADD_TOPIC' | i18next }}
                </div>
            </div>

            <div class="igz-col-{{field.fieldType === 'schedule' ? '91' : '45'}} attribute-field"
                 data-ng-repeat="field in $ctrl.selectedClass.fields | filter:$ctrl.isFieldVisible() track by field.name">
                <ncl-edit-item-field data-edit-item-form="$ctrl.editItemForm"
                                     data-field="field"
                                     data-item="$ctrl.item"
                                     data-read-only="$ctrl.readOnly"
                                     data-validation-rules="$ctrl.validationRules"
                                     data-input-value-callback="$ctrl.inputValueCallback(newData, field)"
                                     data-number-input-callback="$ctrl.numberInputCallback(newData, field)"
                                     data-on-select-dropdown-value="$ctrl.onSelectDropdownValue(item, field)">
                </ncl-edit-item-field>
            </div>
            <div class="igz-col-91 attribute-field ingresses-wrapper" data-ng-if="$ctrl.isHttpTrigger()">
                <div class="field-label">{{ 'functions:INGRESSES_HOSTS' | i18next }}</div>
                <div data-ng-if="$ctrl.ingresses.length > 0" class="table-headers ingresses-table-headers">
                    <div class="host-header asterisk">{{ 'functions:HOST' | i18next }}</div>
                    <div class="paths-header asterisk">{{ 'common:PATH' | i18next }}</div>
                    <div class="secret-header">{{ 'functions:SECRET' | i18next }}</div>
                </div>
                <div class="igz-scrollable-container scrollable-ingresses"
                     data-ng-scrollbars
                     data-igz-ng-scrollbars-config="{{$ctrl.igzScrollConfig}}"
                     data-ng-scrollbars-config="$ctrl.scrollConfig">
                    <div class="table-body" data-ng-repeat="ingress in $ctrl.ingresses">
                        <ncl-key-value-input class="new-label-input"
                                             data-change-state-broadcast="change-state-deploy-button"
                                             data-row-data="ingress"
                                             data-use-type="false"
                                             data-use-additional-value="true"
                                             data-additional-value-optional="true"
                                             data-submit-on-fly="true"
                                             data-is-disabled="$ctrl.readOnly"
                                             data-item-index="$index"
                                             data-validation-rules="$ctrl.validationRules.host"
                                             data-action-handler-callback="$ctrl.handleIngressAction(actionType, index)"
                                             data-change-data-callback="$ctrl.onChangeKeyValueData(newData, index)">
                        </ncl-key-value-input>
                    </div>
                </div>
                <div class="igz-create-button create-ingress-button"
                     data-ng-class="{'disabled': $ctrl.readOnly}"
                     data-ng-click="$ctrl.addNewIngress($event)">
                    <span class="igz-icon-add-round"></span>
                    {{ 'functions:CREATE_NEW_HOST' | i18next }}
                </div>
            </div>

            <div class="igz-col-91 attribute-field annotations-wrapper" data-ng-if="$ctrl.isHttpTrigger()">
                <div class="field-label">{{ 'functions:ANNOTATIONS' | i18next }}</div>
                <div data-ng-if="$ctrl.annotations.length > 0" class="table-headers">
                    <div class="key-header">{{ 'common:KEY' | i18next }}</div>
                    <div class="value-header">{{ 'common:VALUE' | i18next }}</div>
                </div>
                <div class="igz-scrollable-container scrollable-annotations"
                     data-ng-scrollbars
                     data-igz-ng-scrollbars-config="{{$ctrl.igzScrollConfig}}"
                     data-ng-scrollbars-config="$ctrl.scrollConfig">
                    <div class="table-body" data-ng-repeat="annotation in $ctrl.annotations">
                        <ncl-key-value-input class="new-label-input"
                                             data-change-state-broadcast="change-state-deploy-button"
                                             data-row-data="annotation"
                                             data-use-type="false"
                                             data-submit-on-fly="true"
                                             data-is-disabled="$ctrl.readOnly"
                                             data-item-index="$index"
                                             data-action-handler-callback="$ctrl.handleAnnotationAction(actionType, index)"
                                             data-change-data-callback="$ctrl.onChangeKeyValueData(newData, index)">
                        </ncl-key-value-input>
                    </div>
                </div>
                <div class="igz-create-button create-annotation-button"
                     data-ng-class="{'disabled': $ctrl.readOnly}"
                     data-ng-click="$ctrl.addNewAnnotation($event)">
                    <span class="igz-icon-add-round"></span>
                    {{ 'functions:CREATE_NEW_ANNOTATION' | i18next }}
                </div>
            </div>

            <div class="igz-col-91 attribute-field event-headers-wrapper" data-ng-if="$ctrl.isCronTrigger()">
                <div class="field-label">{{ 'functions:EVENT_HEADERS' | i18next }}</div>
                <div data-ng-if="$ctrl.eventHeaders.length > 0" class="table-headers">
                    <div class="key-header">{{ 'common:KEY' | i18next }}</div>
                    <div class="value-header">{{ 'common:VALUE' | i18next }}</div>
                </div>
                <div class="igz-scrollable-container scrollable-event-headers"
                     data-ng-scrollbars
                     data-igz-ng-scrollbars-config="{{$ctrl.igzScrollConfig}}"
                     data-ng-scrollbars-config="$ctrl.scrollConfig">
                    <div class="table-body" data-ng-repeat="header in $ctrl.eventHeaders">
                        <ncl-key-value-input class="new-label-input"
                                             data-change-state-broadcast="change-state-deploy-button"
                                             data-row-data="header"
                                             data-use-type="false"
                                             data-submit-on-fly="true"
                                             data-is-disabled="$ctrl.readOnly"
                                             data-item-index="$index"
                                             data-action-handler-callback="$ctrl.handleEventHeaderAction(actionType, index)"
                                             data-change-data-callback="$ctrl.onChangeKeyValueData(newData, index)">
                        </ncl-key-value-input>
                    </div>
                </div>
                <div class="igz-create-button create-event-header"
                     data-ng-class="{'disabled': $ctrl.readOnly}"
                     data-ng-click="$ctrl.addNewEventHeader($event)">
                    <span class="igz-icon-add-round"></span>
                    {{ 'functions:CREATE_NEW_EVENT_HEADER' | i18next }}
                </div>
            </div>

            <div class="igz-col-91 attribute-field subscriptions-wrapper" data-ng-if="$ctrl.isMqttTrigger()">
                <div class="field-label">{{ 'functions:SUBSCRIPTIONS' | i18next }}</div>
                <div data-ng-if="$ctrl.subscriptions.length > 0" class="table-headers">
                    <div class="key-header">{{ 'functions:TOPIC' | i18next }}</div>
                    <div class="value-header">{{ 'functions:QOS' | i18next }}</div>
                </div>
                <div>
                    <div class="table-body" data-ng-repeat="subscription in $ctrl.subscriptions">
                        <ncl-key-value-input class="new-label-input"
                                             data-change-state-broadcast="change-state-deploy-button"
                                             data-key-optional="false"
                                             data-row-data="subscription"
                                             data-use-type="false"
                                             data-submit-on-fly="true"
                                             data-is-disabled="$ctrl.readOnly"
                                             data-item-index="$index"
                                             data-validation-rules="$ctrl.validationRules.subscriptionQoS"
                                             data-value-placeholder="0, 1 or 2"
                                             data-action-handler-callback="$ctrl.handleSubscriptionAction(actionType, index)"
                                             data-change-data-callback="$ctrl.onChangeKeyValueData(newData, index)">
                        </ncl-key-value-input>
                    </div>
                </div>
                <div class="igz-create-button create-subscription-button"
                     data-ng-class="{'disabled': $ctrl.readOnly}"
                     data-ng-click="$ctrl.addNewSubscription($event)">
                    <span class="igz-icon-add-round"></span>
                    {{ 'functions:CREATE_NEW_SUBSCRIPTION' | i18next }}
                </div>
            </div>

            <div class="advanced-section igz-col-100" data-ng-if="$ctrl.isAdvancedVisible">
                <div class="collapsed-block-title"
                     data-ng-click="$ctrl.isAdvancedCollapsed = !$ctrl.isAdvancedCollapsed"
                     data-ng-class="{'collapsed': $ctrl.isAdvancedCollapsed}">
                    <span class="igz-icon-down icon-collapsed" data-ng-if="!$ctrl.isAdvancedCollapsed"></span>
                    <span class="igz-icon-right icon-collapsed" data-ng-if="$ctrl.isAdvancedCollapsed"></span>
                    {{ 'common:ADVANCED' | i18next }}
                </div>

                <div class="collapsed-block-content-wrapper" data-uib-collapse="$ctrl.isAdvancedCollapsed">
                    <div class="igz-col-{{field.fieldType === 'schedule' ? '91' : '45'}} attribute-field"
                         data-ng-repeat="field in $ctrl.selectedClass.fields | filter:$ctrl.isFieldVisible(true) track by field.name">
                        <ncl-edit-item-field data-edit-item-form="$ctrl.editItemForm"
                                             data-field="field"
                                             data-item="$ctrl.item"
                                             data-read-only="$ctrl.readOnly"
                                             data-validation-rules="$ctrl.validationRules"
                                             data-input-value-callback="$ctrl.inputValueCallback(newData, field)"
                                             data-number-input-callback="$ctrl.numberInputCallback(newData, field)"
                                             data-on-select-dropdown-value="$ctrl.onSelectDropdownValue(item, field)">
                        </ncl-edit-item-field>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
