<div class="ncl-edit-item" data-ng-keydown="$ctrl.onSubmitForm($event)">
    <form name="$ctrl.editItemForm"
          novalidate
          autocomplete="off">
        <div class="igz-row title-field-row">
            <div class="igz-col-20 name-field">
                <igz-validating-input-field class="nuclio-validating-input"
                                            data-field-type="input"
                                            data-input-name="itemName"
                                            data-input-value="$ctrl.getInputValue()"
                                            data-is-focused="true"
                                            data-form-object="$ctrl.editItemForm"
                                            data-validation-is-required="true"
                                            data-placeholder-text="Enter name..."
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="name"
                                            autocomplete="off">
                </igz-validating-input-field>
                <div class="error" data-ng-show="$ctrl.isShowFieldInvalidState($ctrl.editItemForm, 'itemName')">
                    The inputs you provided are invalid or incorrect
                </div>
            </div>

            <div class="igz-col-12-5 class-field">
                <igz-default-dropdown data-select-property-only="id"
                                      data-input-name="itemClass"
                                      data-is-required="true"
                                      data-placeholder="{{ $ctrl.placeholder }}"
                                      data-prevent-drop-up="true"
                                      data-values-array="$ctrl.classList"
                                      data-selected-item="$ctrl.selectedClass.id"
                                      data-form-object="$ctrl.editItemForm"
                                      data-item-select-callback="$ctrl.onSelectClass(item)"
                                      data-enable-overlap="true">
                </igz-default-dropdown>
            </div>
            <div class="igz-col-65"></div>
        </div>

        <div class="igz-row">
            <div class="igz-col-100 no-class-selected"
                 data-ng-if="!$ctrl.isClassSelected()">{{ $ctrl.placeholder }}
            </div>
            <div class="igz-col-45 attribute-field"
                 data-ng-if="$ctrl.isClassSelected() && !$ctrl.isNil($ctrl.item.url)">
                <div class="field-label">URL</div>
                <igz-validating-input-field class="nuclio-validating-input"
                                            data-field-type="input"
                                            data-input-name="itemURL"
                                            data-input-value="$ctrl.item.url"
                                            data-is-focused="false"
                                            data-form-object="$ctrl.editItemForm"
                                            data-validation-is-required="true"
                                            data-placeholder-text="Enter URL..."
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="url"
                                            data-auto-complete="off">
                </igz-validating-input-field>
            </div>

            <div class="igz-col-45 attribute-field"
                 data-ng-if="$ctrl.isClassSelected() && !$ctrl.isNil($ctrl.item.volumeMount.mountPath)">
                <div class="field-label">Mount path</div>
                <igz-validating-input-field class="nuclio-validating-input"
                                            data-field-type="input"
                                            data-input-name="itemPath"
                                            data-input-value="$ctrl.item.volumeMount.mountPath"
                                            data-is-focused="false"
                                            data-form-object="$ctrl.editItemForm"
                                            data-validation-is-required="true"
                                            data-placeholder-text="Enter mount path..."
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="volumeMount.mountPath"
                                            data-auto-complete="off">
                </igz-validating-input-field>
            </div>

            <div class="igz-col-45 attribute-field"
                 data-ng-if="$ctrl.isClassSelected() && !$ctrl.isNil($ctrl.item.volume.flexVolume.options.accessKey)">
                <div class="field-label">Access key</div>
                <igz-validating-input-field class="nuclio-validating-input"
                                            data-field-type="password"
                                            data-auto-complete="current-password"
                                            data-input-name="secretRef"
                                            data-input-value="$ctrl.item.volume.flexVolume.options.accessKey"
                                            data-is-focused="false"
                                            data-form-object="$ctrl.editItemForm"
                                            data-validation-is-required="true"
                                            data-placeholder-text="Enter access key..."
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="volume.flexVolume.options.accessKey"
                                            data-auto-complete="off">
                </igz-validating-input-field>
            </div>

            <div class="igz-col-45 attribute-field"
                 data-ng-if="$ctrl.isClassSelected() && !$ctrl.isNil($ctrl.item.volume.flexVolume.options.container)">
                <div class="field-label">Container name</div>
                <igz-validating-input-field class="nuclio-validating-input"
                                            data-field-type="input"
                                            data-input-name="containerName"
                                            data-input-value="$ctrl.item.volume.flexVolume.options.container"
                                            data-is-focused="false"
                                            data-form-object="$ctrl.editItemForm"
                                            data-validation-is-required="true"
                                            data-placeholder-text="Enter container name..."
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="volume.flexVolume.options.container"
                                            data-auto-complete="off">
                </igz-validating-input-field>
            </div>
            <div class="igz-col-45 attribute-field"
                 data-ng-if="$ctrl.isClassSelected() && !$ctrl.isNil($ctrl.item.volume.flexVolume.options.subPath)">
                <div class="field-label">Sub path</div>
                <igz-validating-input-field class="nuclio-validating-input"
                                            data-field-type="input"
                                            data-auto-complete="off"
                                            data-input-name="containerSubPath"
                                            data-input-value="$ctrl.item.volume.flexVolume.options.subPath"
                                            data-is-focused="false"
                                            data-form-object="$ctrl.editItemForm"
                                            data-validation-is-required="false"
                                            data-placeholder-text="Enter path in container..."
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="volume.flexVolume.options.subPath"
                                            data-auto-complete="off">
                </igz-validating-input-field>
            </div>

            <div class="igz-col-45 attribute-field"
                 data-ng-if="$ctrl.isClassSelected() && !$ctrl.isNil($ctrl.item.volume.hostPath.path)">
                <div class="field-label">Host path</div>
                <igz-validating-input-field class="nuclio-validating-input"
                                            data-field-type="input"
                                            data-input-name="hostPath"
                                            data-input-value="$ctrl.item.volume.hostPath.path"
                                            data-is-focused="false"
                                            data-form-object="$ctrl.editItemForm"
                                            data-validation-is-required="true"
                                            data-placeholder-text="Enter host path..."
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="volume.hostPath.path">
                </igz-validating-input-field>
            </div>

            <div class="igz-col-45 attribute-field"
                 data-ng-if="$ctrl.isClassSelected() && !$ctrl.isNil($ctrl.item.volume.secret.secretName)">
                <div class="field-label">Secret name</div>
                <igz-validating-input-field class="nuclio-validating-input"
                                            data-field-type="input"
                                            data-input-name="secretName"
                                            data-input-value="$ctrl.item.volume.secret.secretName"
                                            data-is-focused="false"
                                            data-form-object="$ctrl.editItemForm"
                                            data-validation-is-required="true"
                                            data-placeholder-text="Enter secret name..."
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="volume.secret.secretName">
                </igz-validating-input-field>
            </div>

            <div class="igz-col-45 attribute-field"
                 data-ng-if="$ctrl.isClassSelected() && !$ctrl.isNil($ctrl.item.volume.configMap.name)">
                <div class="field-label">Config map name</div>
                <igz-validating-input-field class="nuclio-validating-input"
                                            data-field-type="input"
                                            data-input-name="configMap"
                                            data-input-value="$ctrl.item.volume.configMap.name"
                                            data-is-focused="false"
                                            data-form-object="$ctrl.editItemForm"
                                            data-validation-is-required="true"
                                            data-placeholder-text="Enter config map name..."
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="volume.configMap.name">
                </igz-validating-input-field>
            </div>

            <div class="igz-col-45 attribute-field"
                 data-ng-if="$ctrl.isClassSelected() && !$ctrl.isNil($ctrl.item.volume.persistentVolumeClaim.claimName)">
                <div class="field-label text-ellipsis">Persistent Volume Claim Name</div>
                <igz-validating-input-field class="nuclio-validating-input"
                                            data-field-type="input"
                                            data-input-name="persistentVolumeClaim"
                                            data-input-value="$ctrl.item.volume.persistentVolumeClaim.claimName"
                                            data-form-object="$ctrl.editItemForm"
                                            data-validation-is-required="true"
                                            data-placeholder-text="Enter persistent volume claim name..."
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="volume.persistentVolumeClaim.claimName">
                </igz-validating-input-field>
            </div>

            <div class="igz-col-45 attribute-field"
                 data-ng-if="$ctrl.isClassSelected() && !$ctrl.isNil($ctrl.item.maxWorkers)">
                <div class="field-label">Max workers</div>
                <igz-validating-input-field class="nuclio-validating-input"
                                            data-field-type="input"
                                            data-input-name="itemMaxWorkers"
                                            data-input-value="$ctrl.item.maxWorkers"
                                            data-is-focused="false"
                                            data-form-object="$ctrl.editItemForm"
                                            data-validation-pattern="$ctrl.numberValidationPattern"
                                            data-validation-is-required="true"
                                            data-placeholder-text="Enter max workers..."
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="maxWorkers">
                </igz-validating-input-field>
            </div>
            <div class="igz-col-45 attribute-field"
                 data-ng-if="$ctrl.isClassSelected() && !$ctrl.isNil($ctrl.item.workerAvailabilityTimeoutMilliseconds)">
                <div class="field-label">Worker availability timeout (Milliseconds)</div>
                <igz-number-input data-form-object="$ctrl.editItemForm"
                                  data-input-name="{{$ctrl.selectedClass.workerAvailabilityTimeoutMilliseconds.name}}"
                                  data-current-value="$ctrl.item.workerAvailabilityTimeoutMilliseconds"
                                  data-update-number-input-callback="$ctrl.numberInputCallback(newData, field)"
                                  data-update-number-input-field="workerAvailabilityTimeoutMilliseconds"
                                  data-placeholder=""
                                  data-decimal-number="0"
                                  data-value-step="1"
                                  data-validation-is-required="!$ctrl.selectedClass.workerAvailabilityTimeoutMilliseconds.allowEmpty"
                                  data-allow-empty-field="$ctrl.selectedClass.workerAvailabilityTimeoutMilliseconds.allowEmpty"
                                  data-min-value="0">
                </igz-number-input>

            </div>
            <div class="igz-col-45 attribute-field"
                 data-ng-if="$ctrl.isClassSelected() && attribute.type === 'input' && attribute.name !== 'schedule'"
                 data-ng-repeat="attribute in $ctrl.selectedClass.attributes">
                <div class="field-label">{{$ctrl.convertFromCamelCase(attribute.name)}}</div>
                <igz-validating-input-field class="nuclio-validating-input"
                                            data-field-type="{{attribute.fieldType}}"
                                            data-input-name="item_{{attribute.name}}"
                                            data-input-value="$ctrl.getAttrValue(attribute.name)"
                                            data-is-focused="false"
                                            data-form-object="$ctrl.editItemForm"
                                            data-validation-pattern="$ctrl.getValidationPattern(attribute.pattern)"
                                            data-validation-is-required="!attribute.allowEmpty"
                                            data-placeholder-text="{{$ctrl.getPlaceholderText(attribute)}}"
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="attributes.{{attribute.name}}">
                </igz-validating-input-field>
            </div>
            <div class="igz-col-45 attribute-field"
                 data-ng-if="$ctrl.isClassSelected() && attribute.type === 'dropdown'"
                 data-ng-repeat="attribute in $ctrl.selectedClass.attributes">
                <div class="field-label">{{$ctrl.convertFromCamelCase(attribute.name)}}</div>
                <igz-default-dropdown data-select-property-only="id"
                                      data-placeholder="{{$ctrl.convertFromCamelCase(attribute.name) | lowercase}}..."
                                      data-values-array="attribute.values"
                                      data-form-object="$ctrl.editItemForm"
                                      data-is-required="true"
                                      data-prevent-drop-up="true"
                                      data-input-name="{{attribute.name}}"
                                      data-selected-item="$ctrl.getAttrValue(attribute.name)"
                                      data-item-select-callback="$ctrl.onSelectDropdownValue(item, field)"
                                      data-item-select-field="attributes.{{attribute.name}}"
                                      data-enable-overlap="true">
                </igz-default-dropdown>
            </div>
            <div class="igz-col-45 attribute-field"
                 data-ng-if="$ctrl.isClassSelected() && attribute.type === 'number-input'"
                 data-ng-repeat="attribute in $ctrl.selectedClass.attributes">
                <div class="field-label">{{$ctrl.convertFromCamelCase(attribute.name)}}</div>
                <igz-number-input data-form-object="$ctrl.editItemForm"
                                  data-input-name="{{attribute.name}}"
                                  data-current-value="$ctrl.getAttrValue(attribute.name)"
                                  data-update-number-input-callback="$ctrl.numberInputCallback(newData, field)"
                                  data-update-number-input-field="attributes.{{attribute.name}}"
                                  data-placeholder=""
                                  data-decimal-number="0"
                                  data-value-step="1"
                                  data-suffix-unit="{{attribute.unit}}"
                                  data-validation-is-required="!attribute.allowEmpty"
                                  data-allow-empty-field="attribute.allowEmpty"
                                  data-min-value="0"
                                  data-max-value="attribute.maxValue">
                </igz-number-input>
            </div>
            <div class="igz-col-45 attribute-field"
                 data-ng-if="$ctrl.isClassSelected() && !$ctrl.isNil($ctrl.item.username)">
                <div class="field-label">Username</div>
                <igz-validating-input-field class="nuclio-validating-input"
                                            data-field-type="input"
                                            data-input-name="username"
                                            data-input-value="$ctrl.item.username"
                                            data-is-focused="false"
                                            data-form-object="$ctrl.editItemForm"
                                            data-validation-pattern="$ctrl.stringValidationPattern"
                                            data-validation-is-required="false"
                                            data-placeholder-text="Enter username..."
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="username">
                </igz-validating-input-field>
            </div>
            <div class="igz-col-45 attribute-field"
                 data-ng-if="$ctrl.isClassSelected() && !$ctrl.isNil($ctrl.item.password)">
                <div class="field-label">Password</div>
                <igz-validating-input-field class="nuclio-validating-input"
                                            data-field-type="input"
                                            data-input-name="password"
                                            data-input-value="$ctrl.item.password"
                                            data-is-focused="false"
                                            data-form-object="$ctrl.editItemForm"
                                            data-validation-pattern="$ctrl.stringValidationPattern"
                                            data-validation-is-required="false"
                                            data-placeholder-text="Enter password..."
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="password">
                </igz-validating-input-field>
            </div>
            <div class="igz-col-45 attribute-field attribute-field-checkbox"
                 data-ng-if="$ctrl.isClassSelected() && !$ctrl.isNil($ctrl.item.attributes.sasl.enable)">
                <div class="checkbox-block">
                    <input type="checkbox"
                           class="small"
                           id="saslEnable"
                           data-ng-model="$ctrl.item.attributes.sasl.enable">
                    <label for="saslEnable" class="checkbox-inline field-label">
                        SASL Enable
                    </label>
                </div>
            </div>
            <div class="igz-col-45 attribute-field"
                 data-ng-if="$ctrl.isClassSelected() && !$ctrl.isNil($ctrl.item.attributes.sasl.user)">
                <div class="field-label">SASL Username</div>
                <igz-validating-input-field class="nuclio-validating-input"
                                            data-field-type="input"
                                            data-input-name="itemSASLUsername"
                                            data-input-value="$ctrl.item.attributes.sasl.user"
                                            data-is-focused="false"
                                            data-form-object="$ctrl.editItemForm"
                                            data-validation-pattern="$ctrl.stringValidationPattern"
                                            data-validation-is-required="false"
                                            data-placeholder-text="Enter SASL username..."
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="attributes.sasl.user">
                </igz-validating-input-field>
            </div>
            <div class="igz-col-45 attribute-field"
                 data-ng-if="$ctrl.isClassSelected() && !$ctrl.isNil($ctrl.item.attributes.sasl.password)">
                <div class="field-label">SASL Password</div>
                <igz-validating-input-field class="nuclio-validating-input"
                                            data-field-type="input"
                                            data-input-name="itemSASLPassword"
                                            data-input-value="$ctrl.item.attributes.sasl.password"
                                            data-is-focused="false"
                                            data-form-object="$ctrl.editItemForm"
                                            data-validation-pattern="$ctrl.stringValidationPattern"
                                            data-validation-is-required="false"
                                            data-placeholder-text="Enter SASL password..."
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="attributes.sasl.password">
                </igz-validating-input-field>
            </div>
            <div class="igz-col-45 attribute-field"
                 data-ng-if="$ctrl.isClassSelected() && !$ctrl.isNil($ctrl.item.attributes.event.body)">
                <div class="field-label">Event Body</div>
                <igz-validating-input-field class="nuclio-validating-input"
                                            data-field-type="input"
                                            data-input-name="eventBody"
                                            data-input-value="$ctrl.item.attributes.event.body"
                                            data-is-focused="false"
                                            data-form-object="$ctrl.editItemForm"
                                            data-validation-pattern="$ctrl.stringValidationPattern"
                                            data-validation-is-required="false"
                                            data-placeholder-text="Enter event body..."
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="attributes.event.body">
                </igz-validating-input-field>
            </div>
            <div class="igz-col-91 attribute-field ingresses-wrapper"
                 data-ng-if="$ctrl.isClassSelected() && $ctrl.isHttpTrigger()">

                <div class="field-label">Ingresses</div>

                <div data-ng-if="$ctrl.ingresses.length > 0" class="table-headers ingresses-table-headers">
                    <div class="host-header">Host</div>
                    <div class="paths-header">Paths</div>
                    <div class="secret-header">Secret</div>
                </div>
                <div class="igz-scrollable-container scrollable-ingresses"
                     data-ng-scrollbars
                     data-igz-ng-scrollbars-config="{{$ctrl.igzScrollConfig}}"
                     data-ng-scrollbars-config="$ctrl.scrollConfig">
                    <div class="table-body" data-ng-repeat="ingress in $ctrl.ingresses">
                        <ncl-key-value-input class="new-label-input"
                                             data-list-class="scrollable-ingresses"
                                             data-change-state-broadcast="change-state-deploy-button"
                                             data-key-optional="true"
                                             data-row-data="ingress"
                                             data-use-type="false"
                                             data-use-additional-value="true"
                                             data-additional-value-optional="true"
                                             data-submit-on-fly="true"
                                             data-item-index="$index"
                                             data-action-handler-callback="$ctrl.handleIngressAction(actionType, index)"
                                             data-change-data-callback="$ctrl.onChangeData(newData, index)">
                        </ncl-key-value-input>
                    </div>
                </div>
                <div class="create-ingress-button"
                     data-ng-click="$ctrl.addNewIngress($event)">
                    <span class="igz-icon-add-round"></span>
                    Create a new ingress
                </div>
            </div>


            <div class="igz-col-91 attribute-field annotations-wrapper"
                 data-ng-if="$ctrl.isClassSelected() && $ctrl.isHttpTrigger()">

                <div class="field-label">Annotations</div>

                <div data-ng-if="$ctrl.annotations.length > 0" class="table-headers">
                    <div class="key-header">Key</div>
                    <div class="value-header">Value</div>
                </div>
                <div class="igz-scrollable-container scrollable-annotations"
                     data-ng-scrollbars
                     data-igz-ng-scrollbars-config="{{$ctrl.igzScrollConfig}}"
                     data-ng-scrollbars-config="$ctrl.scrollConfig">
                    <div class="table-body" data-ng-repeat="annotation in $ctrl.annotations">
                        <ncl-key-value-input class="new-label-input"
                                             data-list-class="scrollable-annotations"
                                             data-change-state-broadcast="change-state-deploy-button"
                                             data-key-optional="true"
                                             data-row-data="annotation"
                                             data-use-type="false"
                                             data-submit-on-fly="true"
                                             data-item-index="$index"
                                             data-action-handler-callback="$ctrl.handleAnnotationAction(actionType, index)"
                                             data-change-data-callback="$ctrl.onChangeData(newData, index)">
                        </ncl-key-value-input>
                    </div>
                </div>

                <div class="create-annotation-button"
                     data-ng-click="$ctrl.addNewAnnotation($event)">
                    <span class="igz-icon-add-round"></span>
                    Create a new annotation
                </div>
            </div>

            <div class="igz-col-91 attribute-field"
                 data-ng-if="$ctrl.isClassSelected() && $ctrl.isCronTrigger()">

                <div class="field-label">Schedule</div>

                <div class="schedule-input-wrapper">
                    <igz-validating-input-field data-field-type="schedule"
                                                data-input-name="item_schedule"
                                                data-input-value="$ctrl.item.attributes.schedule"
                                                data-is-focused="false"
                                                data-form-object="$ctrl.editItemForm"
                                                data-validation-is-required="true"
                                                data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                                data-update-data-field="attributes.schedule">
                    </igz-validating-input-field>
                    <div class="clear-button" data-ng-if="$ctrl.item.attributes.schedule">
                        <a class="link" data-ng-click="$ctrl.onClearButtonClick()">Clear</a>
                    </div>
                </div>
            </div>

            <div class="igz-col-91 attribute-field event-headers-wrapper"
                 data-ng-if="$ctrl.isClassSelected() && $ctrl.isCronTrigger()">

                <div class="field-label">Event headers</div>

                <div data-ng-if="$ctrl.eventHeaders.length > 0" class="table-headers">
                    <div class="key-header">Key</div>
                    <div class="value-header">Value</div>
                </div>
                <div class="igz-scrollable-container scrollable-event-headers"
                     data-ng-scrollbars
                     data-igz-ng-scrollbars-config="{{$ctrl.igzScrollConfig}}"
                     data-ng-scrollbars-config="$ctrl.scrollConfig">
                    <div class="table-body" data-ng-repeat="header in $ctrl.eventHeaders">
                        <ncl-key-value-input class="new-label-input"
                                             data-list-class="scrollable-event-headers"
                                             data-change-state-broadcast="change-state-deploy-button"
                                             data-key-optional="true"
                                             data-row-data="header"
                                             data-use-type="false"
                                             data-submit-on-fly="true"
                                             data-item-index="$index"
                                             data-action-handler-callback="$ctrl.handleEventHeaderAction(actionType, index)"
                                             data-change-data-callback="$ctrl.onChangeData(newData, index)">
                        </ncl-key-value-input>
                    </div>
                </div>

                <div class="create-event-header"
                     data-ng-click="$ctrl.addNewEventHeader($event)">
                    <span class="igz-icon-add-round"></span>
                    Create a new event header
                </div>
            </div>

            <div class="igz-col-91 attribute-field subscriptions-wrapper"
                 data-ng-if="$ctrl.isClassSelected() && $ctrl.isMQTTTrigger()">

                <div class="field-label">Subscriptions</div>

                <div data-ng-if="$ctrl.subscriptions.length > 0" class="table-headers">
                    <div class="key-header">Topic</div>
                    <div class="value-header">QoS</div>
                </div>
                <div>
                    <div class="table-body" data-ng-repeat="subscription in $ctrl.subscriptions">
                        <ncl-key-value-input class="new-label-input"
                                             data-list-class="subscriptions-wrapper"
                                             data-change-state-broadcast="change-state-deploy-button"
                                             data-key-optional="false"
                                             data-row-data="subscription"
                                             data-use-type="false"
                                             data-submit-on-fly="true"
                                             data-item-index="$index"
                                             data-value-validation-pattern="$ctrl.subscriptionQoSValidationPattern"
                                             data-value-placeholder="0, 1 or 2"
                                             data-action-handler-callback="$ctrl.handleSubscriptionAction(actionType, index)"
                                             data-change-data-callback="$ctrl.onChangeData(newData, index)">
                        </ncl-key-value-input>
                    </div>
                </div>

                <div class="create-subscription-button"
                     data-ng-click="$ctrl.addNewSubscription($event)">
                    <span class="igz-icon-add-round"></span>
                    Create a new subscription
                </div>
            </div>

            <div class="igz-col-45 attribute-field topics-wrapper"
                 data-ng-if="$ctrl.isClassSelected() && $ctrl.isKafkaTrigger()">

                <div class="field-label">Topics</div>

                <div>
                    <div class="table-body" data-ng-repeat="topic in $ctrl.topics">
                        <ncl-key-value-input class="new-label-input"
                                             data-list-class="topics-wrapper"
                                             data-change-state-broadcast="change-state-deploy-button"
                                             data-row-data="topic"
                                             data-use-type="false"
                                             data-submit-on-fly="true"
                                             data-item-index="$index"
                                             data-only-value-input="true"
                                             data-value-validation-pattern="$ctrl.stringValidationPattern"
                                             data-action-handler-callback="$ctrl.handleTopicAction(actionType, index)"
                                             data-change-data-callback="$ctrl.onChangeData(newData, index)">
                        </ncl-key-value-input>
                    </div>
                </div>

                <div class="create-topic-button"
                     data-ng-click="$ctrl.addNewTopic($event)">
                    <span class="igz-icon-add-round"></span>
                    Create a new topic
                </div>
            </div>

            <div class="igz-col-45 attribute-field brokers-wrapper"
                 data-ng-if="$ctrl.isClassSelected() && $ctrl.isKafkaTrigger()">

                <div class="field-label">Brokers</div>

                <div>
                    <div class="table-body" data-ng-repeat="broker in $ctrl.brokers">
                        <ncl-key-value-input class="new-label-input"
                                             data-list-class="brokers-wrapper"
                                             data-change-state-broadcast="change-state-deploy-button"
                                             data-row-data="broker"
                                             data-use-type="false"
                                             data-submit-on-fly="true"
                                             data-item-index="$index"
                                             data-only-value-input="true"
                                             data-value-validation-pattern="$ctrl.stringValidationPattern"
                                             data-action-handler-callback="$ctrl.handleBrokerAction(actionType, index)"
                                             data-change-data-callback="$ctrl.onChangeData(newData, index)">
                        </ncl-key-value-input>
                    </div>
                </div>

                <div class="create-broker-button"
                     data-ng-click="$ctrl.addNewBroker($event)">
                    <span class="igz-icon-add-round"></span>
                    Create a new broker
                </div>
            </div>

            <div class="igz-col-45 attribute-field"
                 data-ng-if="$ctrl.isClassSelected() && $ctrl.isTriggerType()">
                <div class="field-label">Worker allocator name</div>
                <igz-validating-input-field class="nuclio-validating-input"
                                            data-field-type="input"
                                            data-input-name="itemWorkerAllocatorName"
                                            data-input-value="$ctrl.item.workerAllocatorName"
                                            data-is-focused="false"
                                            data-form-object="$ctrl.editItemForm"
                                            data-validation-is-required="false"
                                            data-placeholder-text="Enter worker allocator name..."
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="workerAllocatorName">
                </igz-validating-input-field>
            </div>
        </div>
    </form>
</div>
