<div class="ncl-breadcrumbs-dropdown dropdown"
     data-ng-class="{'open': $ctrl.showDropdownList}">
    <span class="breadcrumb-toggle" data-ng-click="$ctrl.showDropdown()">
        <span class="breadcrumb-arrow"
              data-ng-class="{'ncl-dropdown-expanded': $ctrl.showDropdownList}">
            <span class="igz-icon-right"></span>
        </span>
    </span>
    <div class="dropdown-menu">
        <div class="search-input">
            <input type="text" placeholder="{{$ctrl.placeholder}}"
                   data-ng-model="$ctrl.searchText">
            <span class="igz-icon-search"></span>
        </div>
        <ul class="dropdown-list" data-ng-scrollbars>
            <li data-ng-repeat="item in $ctrl.itemsList | filter: $ctrl.searchText">
                <a class="item-name"
                   data-ng-click="$ctrl.showDetails($event, item)"
                   data-uib-tooltip="{{item.name}}"
                   data-tooltip-popup-delay="200"
                   data-tooltip-append-to-body="true"
                   data-tooltip-placement="top">
                    {{item.name}}
                </a>
                <span class="igz-icon-tick" data-ng-show="$ctrl.title === item.name"></span>
            </li>
        </ul>
    </div>
</div>
