<div class="ncl-function-version-row common-table-row">
    <div data-ng-class="{'invisible': !$ctrl.isDemoMode()}"class="common-table-cell check-row">
        <igz-action-checkbox data-item="$ctrl.version"></igz-action-checkbox>
    </div>
    <div class="igz-row common-table-cells-container"
         data-ng-click="$ctrl.onSelectRow($event)">
        <div class="igz-col-25 common-table-cell">
            {{$ctrl.version.name}}
        </div>
        <div data-ng-if="$ctrl.isDemoMode()"
             class="igz-col-7-5 common-table-cell invocation">
            {{$ctrl.version.invocation}}
        </div>
    </div>
    <div class="common-table-cell actions-menu">
        <igz-action-menu data-ng-if="$ctrl.isDemoMode()"
                         data-actions="$ctrl.actions"
                         data-on-fire-action="$ctrl.onFireAction">
        </igz-action-menu>
    </div>
</div>