<div class="ncl-version-configuration-basic-settings">
    <div class="title">Basic Settings</div>
    <form name="$ctrl.basicSettingsForm" class="basic-settings-wrapper">
        <div class="row enable-checkbox">
            <input type="checkbox"
                   class="small"
                   id="enable"
                   data-ng-model="$ctrl.enableFunction"
                   data-ng-change="$ctrl.updateEnableStatus()">
            <label for="enable" class="checkbox-inline">Enabled</label>
        </div>
        <div class="row" data-ng-if="$ctrl.isDemoMode()">
            <div class="timeout-block">
                <div class="label">
                    <div class="timeout-checkbox">
                        <input type="checkbox" class="small" id="timeout" data-ng-model="$ctrl.enableTimeout">
                        <label for="timeout" class="checkbox-inline">Timeout</label>
                    </div>
                </div>
                <div class="timeout-values">
                    <div class="inputs">
                        <igz-validating-input-field class="nuclio-validating-input"
                                                    data-field-type="input"
                                                    data-input-name="min"
                                                    data-input-value="$ctrl.timeout.min"
                                                    data-is-focused="false"
                                                    data-is-disabled="!$ctrl.enableTimeout"
                                                    data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                                    data-update-data-field="timeout.min"
                                                    data-form-object="$ctrl.basicSettingsForm"
                                                    data-validation-is-required="true"
                                                    data-validation-pattern="$ctrl.validationPatterns.digits"
                                                    data-placeholder-text="Min...">
                        </igz-validating-input-field>
                        <div class="values-label">
                            min
                        </div>
                        <igz-validating-input-field class="nuclio-validating-input"
                                                    data-field-type="input"
                                                    data-input-name="sec"
                                                    data-input-value="$ctrl.timeout.sec"
                                                    data-is-focused="false"
                                                    data-is-disabled="!$ctrl.enableTimeout"
                                                    data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                                    data-update-data-field="timeout.sec"
                                                    data-form-object="$ctrl.basicSettingsForm"
                                                    data-validation-is-required="true"
                                                    data-validation-pattern="$ctrl.validationPatterns.digits"
                                                    data-placeholder-text="Sec...">
                        </igz-validating-input-field>
                        <div class="values-label">
                            sec
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="description-block">
                <div class="label">
                    Description
                </div>
                <igz-validating-input-field class="nuclio-validating-input"
                                            data-field-type="input"
                                            data-input-name="description"
                                            data-input-value="$ctrl.version.spec.description"
                                            data-is-focused="false"
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="spec.description"
                                            data-form-object="$ctrl.basicSettingsForm"
                                            data-placeholder-text="Type description...">
                </igz-validating-input-field>
            </div>
        </div>
        <div class="row">
            <div class="logger-block">
                <div class="logger-dropdown">
                    <span class="label">Logger level</span>
                    <igz-default-dropdown data-selected-item="$ctrl.version.spec.loggerSinks[0].level"
                                          data-select-property-only="id"
                                          data-values-array="$ctrl.logLevelValues"
                                          data-item-select-callback="$ctrl.setPriority(item)"
                                          data-enable-overlap="true"
                                          data-prevent-drop-up="true">
                    </igz-default-dropdown>
                </div>
                <div class="logger-input"
                     data-ng-if="$ctrl.isDemoMode()">
                    <span class="label">Logger destination</span>
                    <igz-validating-input-field class="nuclio-validating-input"
                                                data-field-type="input"
                                                data-input-name="arguments"
                                                data-input-value="$ctrl.version.spec.loggerSinks[0].sink"
                                                data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                                data-update-data-field="spec.loggerSinks[0].sink"
                                                data-form-object="$ctrl.basicSettingsForm"
                                                data-placeholder-text="Type a destination...">
                    </igz-validating-input-field>
                </div>
            </div>
        </div>
    </form>
</div>
