.action-checkbox-all {
    .action-checkbox-all-color-set();

    text-align: center;

    .check-item {
        cursor: pointer;
        color: @check-item-color;
        font-size: 16px;
        line-height: 1;
        vertical-align: middle;

        &.igz-icon-checkbox-checked {
            color: @check-item-icon-checkbox-checked-color;
        }
    }
}