<div class="ncl-version-configuration-basic-settings">
    <div class="title">{{ 'common:BASIC_SETTINGS' | i18next }}</div>
    <form name="$ctrl.basicSettingsForm" class="basic-settings-wrapper" novalidate>
        <div class="row enable-checkbox">
            <input type="checkbox"
                   class="small"
                   id="enable"
                   data-ng-disabled="$ctrl.isFunctionDeploying()"
                   data-ng-model="$ctrl.enableFunction"
                   data-ng-change="$ctrl.updateEnableStatus()">
            <label for="enable" class="checkbox-inline">{{ 'common:ENABLED' | i18next }}</label>
        </div>
        <div class="row" data-ng-if="$ctrl.isDemoMode()">
            <div class="timeout-block">
                <div class="label">
                    <div class="timeout-checkbox">
                        <input type="checkbox"
                               class="small"
                               id="timeout"
                               data-ng-disabled="$ctrl.isFunctionDeploying()"
                               data-ng-model="$ctrl.enableTimeout">
                        <label for="timeout" class="checkbox-inline">{{ 'functions:TIMEOUT' | i18next }}</label>
                    </div>
                </div>
                <div class="timeout-values">
                    <div class="inputs">
                        <igz-validating-input-field data-field-type="input"
                                                    data-input-name="min"
                                                    data-input-value="$ctrl.timeout.min"
                                                    data-is-focused="false"
                                                    data-is-disabled="!$ctrl.enableTimeout"
                                                    data-read-only="$ctrl.isFunctionDeploying()"
                                                    data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                                    data-update-data-field="timeout.min"
                                                    data-form-object="$ctrl.basicSettingsForm"
                                                    data-validation-is-required="true"
                                                    data-validation-rules="$ctrl.validationRules.integer"
                                                    data-placeholder-text="{{ 'functions:MIN' | i18next }}...">
                        </igz-validating-input-field>
                        <div class="values-label">{{ 'functions:MIN' | i18next }}</div>
                        <igz-validating-input-field data-field-type="input"
                                                    data-input-name="sec"
                                                    data-input-value="$ctrl.timeout.sec"
                                                    data-is-focused="false"
                                                    data-is-disabled="!$ctrl.enableTimeout"
                                                    data-read-only="$ctrl.isFunctionDeploying()"
                                                    data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                                    data-update-data-field="timeout.sec"
                                                    data-form-object="$ctrl.basicSettingsForm"
                                                    data-validation-is-required="true"
                                                    data-validation-rules="$ctrl.validationRules.integer"
                                                    data-placeholder-text="{{ 'functions:SEC' | i18next }}...">
                        </igz-validating-input-field>
                        <div class="values-label">{{ 'functions:SEC' | i18next }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="description-block">
                <div class="label">{{ 'common:DESCRIPTION' | i18next }}</div>
                <igz-validating-input-field data-field-type="input"
                                            data-input-name="description"
                                            data-input-value="$ctrl.version.spec.description"
                                            data-is-focused="false"
                                            data-read-only="$ctrl.isFunctionDeploying()"
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="spec.description"
                                            data-form-object="$ctrl.basicSettingsForm"
                                            data-placeholder-text="{{ 'functions:PLACEHOLDER.ENTER_DESCRIPTION' | i18next }}">
                </igz-validating-input-field>
            </div>
        </div>
        <div class="row">
            <div class="account-block">
                <div class="label">{{ 'functions:SERVICE_ACCOUNT' | i18next }}</div>
                <igz-validating-input-field data-field-type="input"
                                            data-input-name="serviceAccount"
                                            data-read-only="$ctrl.isFunctionDeploying()"
                                            data-input-value="$ctrl.version.spec.serviceAccount"
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="spec.serviceAccount"
                                            data-form-object="$ctrl.basicSettingsForm"
                                            data-placeholder-text="{{ 'functions:PLACEHOLDER.MY_SERVICE_ACCOUNT' | i18next }}">
                </igz-validating-input-field>
            </div>
        </div>
        <div class="row">
            <div class="run-as-user-block">
                <div class="label" data-ng-class="{asterisk: $ctrl.version.spec.securityContext.runAsGroup}">
                    {{ 'common:RUN_AS_USER' | i18next }}
                </div>
                <igz-number-input data-allow-empty-field="true"
                                  data-validation-is-required="$ctrl.lodash.isNumber($ctrl.version.spec.securityContext.runAsGroup)"
                                  data-value-step="1"
                                  data-min-value="0"
                                  data-max-value="2147483647"
                                  data-is-disabled="$ctrl.isFunctionDeploying()"
                                  data-form-object="$ctrl.basicSettingsForm"
                                  data-input-name="run_as_user"
                                  data-update-number-input-callback="$ctrl.inputValueCallback(newData, field)"
                                  data-update-number-input-field="spec.securityContext.runAsUser"
                                  data-current-value="$ctrl.version.spec.securityContext.runAsUser">
                </igz-number-input>
            </div>
            <div class="run-as-group-block">
                <div class="label">{{ 'common:RUN_AS_GROUP' | i18next }}</div>
                <igz-number-input data-allow-empty-field="true"
                                  data-value-step="1"
                                  data-min-value="0"
                                  data-max-value="2147483647"
                                  data-is-disabled="$ctrl.isFunctionDeploying()"
                                  data-form-object="$ctrl.basicSettingsForm"
                                  data-input-name="run_as_group"
                                  data-update-number-input-callback="$ctrl.inputValueCallback(newData, field)"
                                  data-update-number-input-field="spec.securityContext.runAsGroup"
                                  data-current-value="$ctrl.version.spec.securityContext.runAsGroup">
                </igz-number-input>
            </div>
            <div class="fs-group-block" data-ng-if="!$ctrl.platformIsKube">
                <div class="label">{{ 'common:FS_GROUP' | i18next }}</div>
                <igz-number-input data-allow-empty-field="true"
                                  data-value-step="1"
                                  data-min-value="0"
                                  data-max-value="2147483647"
                                  data-is-disabled="$ctrl.isFunctionDeploying()"
                                  data-form-object="$ctrl.basicSettingsForm"
                                  data-input-name="fs_group"
                                  data-update-number-input-callback="$ctrl.inputValueCallback(newData, field)"
                                  data-update-number-input-field="spec.securityContext.fsGroup"
                                  data-current-value="$ctrl.version.spec.securityContext.fsGroup">
                </igz-number-input>
            </div>
        </div>
        <div class="row">
            <div class="logger-block">
                <div class="logger-dropdown">
                    <span class="label">{{ 'functions:LOGGER_LEVEL' | i18next }}</span>
                    <igz-default-dropdown data-selected-item="$ctrl.version.spec.loggerSinks[0].level"
                                          data-select-property-only="id"
                                          data-values-array="$ctrl.logLevelValues"
                                          data-item-select-callback="$ctrl.setPriority(item)"
                                          data-read-only="$ctrl.isFunctionDeploying()"
                                          data-enable-overlap="true"
                                          data-prevent-drop-up="true">
                    </igz-default-dropdown>
                </div>
                <div class="logger-input"
                     data-ng-if="$ctrl.isDemoMode()">
                    <span class="label">{{ 'functions:LOGGER_DESTINATION' | i18next }}</span>
                    <igz-validating-input-field data-field-type="input"
                                                data-input-name="arguments"
                                                data-read-only="$ctrl.isFunctionDeploying()"
                                                data-input-value="$ctrl.version.spec.loggerSinks[0].sink"
                                                data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                                data-update-data-field="spec.loggerSinks[0].sink"
                                                data-form-object="$ctrl.basicSettingsForm"
                                                data-placeholder-text="{{ 'functions:PLACEHOLDER.ENTER_DESTINATION' | i18next }}">
                    </igz-validating-input-field>
                </div>
            </div>
        </div>
    </form>
</div>
