.igz-slider-input-block {
    .igz-slider-input-block-color-set();

    position: relative;

    .igz-slider-input-title {
        float: left;
        display: table;
        min-height: 30px;
        line-height: 1;
        color: @slider-input-title-color;
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        cursor: default;

        .igz-slider-input-title-text {
            display: table-cell;
            vertical-align: middle;

            .igz-icon-help-round {
                font-size: 10px;
            }
        }
    }

    // Custom styles for third-party library slider
    .igz-slider-input-rz-slider {
        float: left;
        min-height: 16px;
        line-height: 16px;

        .rzslider {
            margin: 0;
            height: 8px;

            .rz-bar-wrapper {
                height: auto;
                margin: 0;
                padding: 0;

                .rz-bar {
                    background-color: @rz-bar-bg-color;
                    height: 3px;

                    &.rz-selection {
                        background-color: @rz-selection-bg-color;
                    }
                }
            }

            .rz-bubble {
                display: none;
            }

            .rz-pointer {
                height: 14px;
                width: 14px;
                top: -6px;
                background-color: @rz-pointer-bg-color;
                box-shadow: @rz-pointer-box-shadow;
                outline: 0;

                &:after {
                    display: none;
                }
            }
        }
    }

    // Current value
    .igz-slider-input-current-value {
        float: left;
        min-height: 30px;
        line-height: 30px;

        &.with-measure-units {
            width: 18%;
            padding-right: 0;

            .igz-slider-input-current-value-text {
                margin-right: 4px;
            }
        }

        &.with-value-unit {
            padding-right: 21px;
        }

        .igz-slider-input-current-value-text {
            color: #252d36;
            font-size: 13px;
            font-weight: 400;
            background-color: @slider-input-current-value-text;
            text-align: right;
        }
    }

    .igz-slider-input-unit-label {
        position: absolute;
        right: 0;
        min-height: 30px;
        line-height: 30px;
    }

    // Units dropdown
    .igz-slider-input-units-dropdown {
        float: left;

        .default-dropdown {
            height: 30px;

            .default-dropdown-field {
                border: none;
                background-color: @default-dropdown-field-color;

                .dropdown-selected-item {
                    padding-left: 0;
                }

                .dropdown-arrow {
                    margin-right: 0;
                }
            }
        }
    }
}
