<div class="ncl-function-collapsing-row items-wrapper">
    <div class="scrolling-row"></div>
    <div class="function-title-block common-table-row">
        <div class="common-table-cell function-row-collapse">
            <span data-ng-if="$ctrl.function.spec.version > -1"
                  class="collapse-icon"
                  data-ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed"
                  data-ng-class="{'collapsed igz-icon-right': $ctrl.isCollapsed, 'igz-icon-down': !$ctrl.isCollapsed}">
            </span>
        </div>

        <div class="igz-row common-table-cells-container"
             data-ng-click="$ctrl.onSelectRow($event)">
            <div class="igz-col-{{$ctrl.isDemoMode() ? '10' : '15'}} common-table-cell function-name"
                 data-uib-tooltip="{{$ctrl.function.spec.description}}"
                 data-tooltip-append-to-body="true"
                 data-tooltip-placement="top"
                 data-tooltip-popup-delay="200">
                {{$ctrl.function.metadata.name}}
            </div>

            <div class="igz-col-{{$ctrl.isDemoMode() ? '7-5' : '10'}} common-table-cell">
                {{$ctrl.convertedStatusState}}
                <div class="status-icon"
                     data-uib-tooltip="{{$ctrl.getTooltip()}}"
                     data-tooltip-append-to-body="true"
                     data-tooltip-placement="top"
                     data-ng-class="$ctrl.statusIcon"
                     data-ng-click="$ctrl.toggleFunctionState($event)">
                </div>
            </div>
            <div data-ng-if="$ctrl.isDemoMode()"
                 class="igz-col-7-5 common-table-cell">
                {{$ctrl.function.spec.replicas}}
            </div>
            <div class="igz-col-10 common-table-cell">
                {{$ctrl.function.ui.metrics.invocation || 0}}
            </div>
            <div class="igz-col-7-5 common-table-cell">
                {{$ctrl.runtimes[$ctrl.function.spec.runtime]}}
            </div>
            <div class="igz-col-{{$ctrl.isDemoMode() ? '12-5' : '15'}} common-table-cell"
                 data-uib-tooltip="{{$ctrl.invocationURL}}"
                 data-tooltip-append-to-body="true"
                 data-tooltip-placement="top">
                <span class="common-table-cell-content">{{$ctrl.invocationURL}}</span>
            </div>

            <igz-element-loading-status class="common-table-cell element-loading-status-wrapper igz-col-{{$ctrl.isDemoMode() ? '15' : '17-5'}}"
                                        data-name="nuclio_processor_handled_events_total-{{$ctrl.function.metadata.name}}"
                                        data-loading-status-size="small">
                <igz-size data-ng-if="!$ctrl.function.ui.error.nuclio_processor_handled_events_total"
                          data-type="functions_events"
                          data-entity="$ctrl.function">
                </igz-size>
                <div data-ng-if="$ctrl.function.ui.error.nuclio_processor_handled_events_total">
                    {{$ctrl.function.ui.error.nuclio_processor_handled_events_total}}
                </div>
            </igz-element-loading-status>

            <igz-element-loading-status class="common-table-cell element-loading-status-wrapper igz-col-{{$ctrl.isDemoMode() ? '15' : '17-5'}}"
                                        data-name="nuclio_function_cpu-{{$ctrl.function.metadata.name}}"
                                        data-loading-status-size="small">
                <igz-size data-ng-if="!$ctrl.function.ui.error.nuclio_function_cpu"
                          data-type="functions_cpu"
                          data-entity="$ctrl.function">
                </igz-size>
                <div data-ng-if="$ctrl.function.ui.error.nuclio_function_cpu">
                    {{$ctrl.function.ui.error.nuclio_function_cpu}}
                </div>
            </igz-element-loading-status>

            <igz-element-loading-status class="common-table-cell element-loading-status-wrapper igz-col-{{$ctrl.isDemoMode() ? '15' : '17-5'}}"
                                        data-name="nuclio_function_mem-{{$ctrl.function.metadata.name}}"
                                        data-loading-status-size="small">
                <igz-size data-ng-if="!$ctrl.function.ui.error.nuclio_function_mem"
                          data-type="functions_memory"
                          data-entity="$ctrl.function">
                </igz-size>
                <div data-ng-if="$ctrl.function.ui.error.nuclio_function_mem">
                    {{$ctrl.function.ui.error.nuclio_function_mem}}
                </div>
            </igz-element-loading-status>
        </div>

        <div class="common-table-cell actions-menu">
            <igz-action-menu data-actions="$ctrl.actions"
                             data-on-fire-action="$ctrl.onFireAction">
            </igz-action-menu>
        </div>
    </div>
    <div class="items-wrapper" data-uib-collapse="$ctrl.isCollapsed">
        <div data-ng-repeat="version in $ctrl.function.versions">
            <ncl-function-version-row class="function-version-wrapper"
                                      data-version="version"
                                      data-function="$ctrl.function"
                                      data-project="$ctrl.project"
                                      data-versions-list="$ctrl.function.attr.versions"
                                      data-action-handler-callback="$ctrl.handleAction(actionType, checkedItems)">
            </ncl-function-version-row>
        </div>
    </div>
</div>
