<div class="ncl-key-value-input">
    <form name="$ctrl.keyValueInputForm"
          class="input-wrapper"
          data-ng-mousedown="$ctrl.onEditInput()"
          novalidate>
        <div class="check-row"
             data-ng-if="$ctrl.allowSelection">
            <igz-action-checkbox data-item="$ctrl.data"></igz-action-checkbox>
        </div>
        <div class="inputs-container"
             data-ng-class="{'use-type': $ctrl.useType, 'use-checkbox': $ctrl.allowSelection}">

            <div class="input-container input-key-wrapper"
                 data-ng-if="!$ctrl.onlyValueInput"
                 data-ng-class="{'use-type': $ctrl.useType, 'all-value-types': $ctrl.allValueTypes}">
                <label class="key-label" data-ng-if="$ctrl.useLabels">
                    {{ 'common:KEY' | i18next }}:
                </label>
                <igz-validating-input-field class="nuclio-validating-input input-key"
                                            data-ng-if="!$ctrl.keyList"
                                            data-field-type="input"
                                            data-input-name="key"
                                            data-is-disabled="$ctrl.isDisabled"
                                            data-input-value="$ctrl.data.name"
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="name"
                                            data-form-object="$ctrl.keyValueInputForm"
                                            data-validation-is-required="!$ctrl.keyOptional"
                                            data-validation-pattern="$ctrl.keyValidationPattern"
                                            data-validation-rules="$ctrl.validationRules['key']"
                                            data-placeholder-text="{{$ctrl.keyPlaceholder}}"
                                            data-uib-tooltip="{{$ctrl.keyTooltip}}"
                                            data-tooltip-append-to-body="true"
                                            data-tooltip-placement="bottom"
                                            data-tooltip-popup-delay="100">
                </igz-validating-input-field>
                <igz-default-dropdown class="nuclio-validating-input input-key"
                                      data-ng-if="$ctrl.keyList"
                                      data-form-object="$ctrl.keyValueInputForm"
                                      data-prevent-drop-up="true"
                                      data-input-name="key"
                                      data-is-disabled="$ctrl.isDisabled"
                                      data-values-array="$ctrl.keyList"
                                      data-selected-item="$ctrl.getSelectedItem()"
                                      data-item-select-callback="$ctrl.onKeyChanged(item)"
                                      data-enable-overlap="$ctrl.dropdownOverlap">
                </igz-default-dropdown>
            </div>

            <div class="input-container input-type-wrapper"
                 data-ng-if="$ctrl.useType"
                 data-ng-class="{'use-type': $ctrl.useType, 'all-value-types': $ctrl.allValueTypes}">
                <label data-ng-if="$ctrl.useLabels" class="type-label">
                    {{ 'common:TYPE' | i18next }}:
                </label>
                <igz-default-dropdown class="input-type"
                                      data-form-object="$ctrl.keyValueInputForm"
                                      data-select-property-only="id"
                                      data-prevent-drop-up="true"
                                      data-input-name="type"
                                      data-is-disabled="$ctrl.isDisabled"
                                      data-values-array="$ctrl.typesList"
                                      data-selected-item="$ctrl.getType()"
                                      data-placeholder="{{ 'common:PLACEHOLDER.SELECT_TYPE' | i18next }}"
                                      data-item-select-callback="$ctrl.onTypeChanged(item, isItemChanged)"
                                      data-enable-overlap="$ctrl.dropdownOverlap">
                </igz-default-dropdown>
            </div>

            <div class="input-container input-value-key-wrapper"
                 data-ng-if="!$ctrl.isVisibleByType('value')"
                 data-ng-class="{'use-type': $ctrl.useType}">
                <label data-ng-if="$ctrl.useLabels">
                    <span data-ng-if="$ctrl.isVisibleByType('secret')">
                        {{ 'functions:SECRET_KEY' | i18next }}:
                    </span>
                    <span data-ng-if="$ctrl.isVisibleByType('configmap')">
                        {{ 'functions:CONFIGMAP_KEY' | i18next }}:
                    </span>
                </label>
                <igz-validating-input-field class="nuclio-validating-input input-value-key"
                                            data-field-type="input"
                                            data-input-name="value-key"
                                            data-input-value="$ctrl.getInputKey()"
                                            data-update-data-callback="$ctrl.inputKeyCallback(newData)"
                                            data-update-data-field="value-key"
                                            data-is-disabled="$ctrl.isDisabled"
                                            data-form-object="$ctrl.keyValueInputForm"
                                            data-validation-is-required="!$ctrl.valueOptional"
                                            data-validation-rules="$ctrl.validationRules[$ctrl.getType() + 'Key']"
                                            data-placeholder-text="{{ 'functions:PLACEHOLDER.ENTER_KEY' | i18next }}">
                </igz-validating-input-field>
            </div>

            <div class="input-container input-value-wrapper"
                 data-ng-class="{'use-type': $ctrl.useType,
                                 'only-value-input': $ctrl.onlyValueInput,
                                 'only-key-value-input': $ctrl.isVisibleByType('value'),
                                 'all-value-types': $ctrl.allValueTypes}">
                <label data-ng-if="$ctrl.useLabels">
                    <span data-ng-if="$ctrl.isVisibleByType('value')">
                        {{ 'common:VALUE' | i18next }}:
                    </span>
                    <span data-ng-if="$ctrl.isVisibleByType('secret')">
                        {{ 'functions:SECRET_NAME' | i18next }}:
                    </span>
                    <span data-ng-if="$ctrl.isVisibleByType('configmap')">
                        {{ 'functions:CONFIGMAP_NAME' | i18next }}:
                    </span>
                </label>
                <igz-validating-input-field class="nuclio-validating-input input-value"
                                            data-field-type="input"
                                            data-input-name="value"
                                            data-input-value="$ctrl.getInputValue()"
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="value"
                                            data-is-disabled="$ctrl.isDisabled"
                                            data-form-object="$ctrl.keyValueInputForm"
                                            data-validation-is-required="!$ctrl.valueOptional"
                                            data-validation-pattern="$ctrl.valueValidationPattern"
                                            data-validation-rules="$ctrl.validationRules[$ctrl.getType()]"
                                            data-placeholder-text="{{$ctrl.valuePlaceholder}}"
                                            data-uib-tooltip="{{$ctrl.valueTooltip}}"
                                            data-tooltip-append-to-body="true"
                                            data-tooltip-placement="bottom"
                                            data-tooltip-popup-delay="100">
                </igz-validating-input-field>
                <igz-validating-input-field class="nuclio-validating-input input-additional-value"
                                            data-ng-if="$ctrl.useAdditionalValue && $ctrl.isVisibleByType('value')"
                                            data-field-type="input"
                                            data-input-name="additionalValue"
                                            data-is-disabled="$ctrl.isDisabled"
                                            data-input-value="$ctrl.data.additionalValue"
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="additionalValue"
                                            data-form-object="$ctrl.keyValueInputForm"
                                            data-validation-is-required="!$ctrl.additionalValueOptional">
                </igz-validating-input-field>
            </div>
        </div>
        <div class="three-dot-menu" data-ng-if="::$ctrl.showDotMenu() && !$ctrl.isDisabled">
            <igz-action-menu data-actions="$ctrl.actions"
                             data-on-fire-action="$ctrl.onFireAction"
                             data-list-class="$ctrl.listClass">
            </igz-action-menu>
        </div>
        <div class="igz-action-panel" data-ng-if="::!$ctrl.showDotMenu() && !$ctrl.isDisabled">
            <div class="actions-list">
                <div class="igz-action-item"
                     data-ng-click="$ctrl.onClickAction($ctrl.actions[0])">
                    <span class="action-icon"
                          data-ng-class="$ctrl.actions[0].icon">
                    </span>
                </div>
            </div>
        </div>
    </form>
</div>
