<div class="ncl-key-value-input">
    <form name="$ctrl.keyValueInputForm"
          class="input-wrapper"
          data-ng-mousedown="$ctrl.onEditInput()">
        <igz-validating-input-field class="nuclio-validating-input input-key"
                                    data-ng-class="{'use-type': $ctrl.useType}"
                                    data-field-type="input"
                                    data-input-name="key"
                                    data-input-value="$ctrl.data.name"
                                    data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                    data-update-data-field="name"
                                    data-form-object="$ctrl.keyValueInputForm"
                                    data-validation-is-required="true"
                                    data-placeholder-text="Type key"></igz-validating-input-field>

        <igz-default-dropdown class="input-type"
                              data-ng-if="$ctrl.useType"
                              data-form-object="$ctrl.keyValueInputForm"
                              data-select-property-only="id"
                              data-prevent-drop-up="true"
                              data-input-name="type"
                              data-values-array="$ctrl.typesList"
                              data-selected-item="$ctrl.getType()"
                              data-placeholder="Select type..."
                              data-item-select-callback="$ctrl.onTypeChanged(item, isItemChanged)"
                              data-on-open-dropdown="$ctrl.openDropdown"
                              data-on-close-dropdown="$ctrl.closeDropdown()"></igz-default-dropdown>

        <igz-validating-input-field class="nuclio-validating-input input-value"
                                    data-ng-class="{'use-type': $ctrl.useType}"
                                    data-field-type="input"
                                    data-input-name="value"
                                    data-input-value="$ctrl.getInputValue()"
                                    data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                    data-update-data-field="value"
                                    data-form-object="$ctrl.keyValueInputForm"
                                    data-validation-is-required="true"
                                    data-placeholder-text="Type value..."></igz-validating-input-field>

        <div class="three-dot-menu">
            <igz-action-menu data-actions="$ctrl.actions"
                             data-on-fire-action="$ctrl.onFireAction"
                             data-list-class="$ctrl.listClass">
            </igz-action-menu>
        </div>
    </form>
</div>