<div class="ncl-version-trigger ncl-version">
    <div class="common-table">
        <div class="content-message-pane"
             data-ng-if="$ctrl.isHttpTriggerMsgShown()" data-ng-i18next="[html]functions:HTTP_TRIGGER_MSG">
        </div>
        <div class="common-table-header header-row">
            <div class="common-table-cell header-name">
                {{ 'common:NAME' | i18next }}
            </div>
            <div class="common-table-cell header-class">
                {{ 'common:CLASS' | i18next }}
            </div>
            <div class="igz-col-70 common-table-cell">
                {{ 'common:INFO' | i18next }}
            </div>
        </div>
        <div class="content-message-pane"
             data-ng-if="$ctrl.triggers.length === 0">
            {{ 'functions:TRIGGERS_NOT_FOUND' | i18next }}
        </div>

        <div class="common-table-body" data-igz-extend-background>
            <div class="igz-scrollable-container"
                 data-ng-scrollbars
                 data-ng-scrollbars-config="$ctrl.scrollConfig">
                <ncl-collapsing-row data-ng-repeat="trigger in $ctrl.triggers track by trigger.name"
                                    data-item="trigger"
                                    data-type="trigger"
                                    data-read-only="$ctrl.isFunctionDeploying()"
                                    data-delete-test-id="functions.triggers_delete.button"
                                    data-action-handler-callback="$ctrl.handleAction(actionType, selectedItem)">
                    <ncl-edit-item class="common-table-cells-container edit-trigger-row"
                                   data-item="trigger"
                                   data-class-list="$ctrl.classList"
                                   data-type="trigger"
                                   data-read-only="$ctrl.isFunctionDeploying()"
                                   data-validation-rules="$ctrl.validationRules"
                                   data-default-fields="$ctrl.defaultFields"
                                   data-on-select-class-callback="$ctrl.checkClassUniqueness()"
                                   data-on-submit-callback="$ctrl.editTriggerCallback(item)">
                    </ncl-edit-item>
                </ncl-collapsing-row>
                <div class="common-table-row create-trigger-button igz-create-button"
                     data-ng-class="{'disabled': $ctrl.isFunctionDeploying()}"
                     data-ng-if="$ctrl.isCreateNewTriggerEnabled()"
                     data-ng-click="$ctrl.createTrigger($event)">
                    <span class="igz-icon-add-round"></span>
                    {{ 'functions:ADD_TRIGGER' | i18next }}
                </div>
            </div>
        </div>
    </div>
</div>
