<div class="ncl-version-configuration-resources">
    <form name="$ctrl.resourcesForm" class="resources-wrapper" novalidate>
        <div class="title">{{ 'common:RESOURCES' | i18next }}</div>
        <div class="row">
            <div class="igz-row form-row" data-ng-if="$ctrl.selectedPodTolerationOption">
                <div class="igz-col-40 row-title">{{ 'functions:RUN_ON_SPOT_NODES' | i18next }}</div>

                <div class="igz-col-20 input-wrapper"></div>

                <div class="igz-col-40 input-wrapper">
                    <div class="row-input preemtion-mode-input">
                        <igz-default-dropdown data-values-array="$ctrl.podTolerationsOptions"
                                              data-selected-item="$ctrl.selectedPodTolerationOption"
                                              data-is-disabled="$ctrl.isFunctionDeploying()"
                                              data-item-select-callback="$ctrl.podTolerationDropdownCallback(item, isItemChanged, field)"
                                              data-item-select-field="spec.preemptionMode">
                        </igz-default-dropdown>
                    </div>
                </div>
            </div>
            <div class="igz-row form-row range-inputs-row">
                <div class="igz-col-20 row-title">{{ 'common:MEMORY' | i18next }}
                    <igz-more-info data-trigger="click"
                                   data-is-html-enabled="true"
                                   data-is-open="$ctrl.memoryWarningOpen"
                                   data-icon-type="{{$ctrl.memoryWarningOpen ? 'warn' : 'info'}}"
                                   data-description="{{ 'common:RESOURCES_WARNING_LIMIT_FILLED_REQUEST_EMPTY' | i18next:{ when: 'the function is deployed' } }}">
                    </igz-more-info>
                </div>

                <div class="igz-col-40 input-wrapper">
                    <div class="input-title">{{ 'common:REQUEST' | i18next }}</div>
                    <div class="row-input memory-input memory-number-input">
                        <igz-number-input data-allow-empty-field="true"
                                          data-validation-is-required="false"
                                          data-is-disabled="$ctrl.isFunctionDeploying()"
                                          data-form-object="$ctrl.resourcesForm"
                                          data-input-name="requestMemory"
                                          data-update-number-input-callback="$ctrl.memoryInputCallback(newData, field)"
                                          data-update-number-input-field="resources.requests.memory"
                                          data-min-value="1"
                                          data-current-value="$ctrl.resources.requests.memory"
                                          data-value-step="1">
                        </igz-number-input>
                    </div>
                    <div class="row-input memory-input memory-size-dropdown">
                        <igz-default-dropdown data-read-only="$ctrl.isFunctionDeploying()"
                                              data-values-array="$ctrl.dropdownOptions"
                                              data-selected-item="$ctrl.selectedRequestUnit"
                                              data-item-select-callback="$ctrl.memoryDropdownCallback(item, isItemChanges, field)"
                                              data-item-select-field="spec.resources.requests.memory">
                        </igz-default-dropdown>
                    </div>
                </div>

                <div class="igz-col-40 input-wrapper">
                    <div class="input-title">{{ 'common:LIMIT' | i18next }}</div>
                    <div class="row-input memory-input memory-number-input">
                        <igz-number-input data-allow-empty-field="true"
                                          data-validation-is-required="false"
                                          data-is-disabled="$ctrl.isFunctionDeploying()"
                                          data-form-object="$ctrl.resourcesForm"
                                          data-input-name="limitsMemory"
                                          data-min-value="1"
                                          data-update-number-input-callback="$ctrl.memoryInputCallback(newData, field)"
                                          data-update-number-input-field="resources.limits.memory"
                                          data-current-value="$ctrl.resources.limits.memory"
                                          data-value-step="1">
                        </igz-number-input>
                    </div>
                    <div class="row-input memory-input memory-size-dropdown">
                        <igz-default-dropdown data-read-only="$ctrl.isFunctionDeploying()"
                                              data-values-array="$ctrl.dropdownOptions"
                                              data-selected-item="$ctrl.selectedLimitUnit"
                                              data-item-select-callback="$ctrl.memoryDropdownCallback(item, isItemChanges, field)"
                                              data-item-select-field="spec.resources.limits.memory">
                        </igz-default-dropdown>
                    </div>
                </div>
            </div>

            <div class="igz-row form-row range-inputs-row">
                <div class="igz-col-20 row-title">{{ 'common:CPU' | i18next }}</div>

                <div class="igz-col-40 input-wrapper">
                    <div class="input-title">{{ 'common:REQUEST' | i18next }}</div>
                    <div class="row-input cpu-number-input">
                        <igz-number-input data-allow-empty-field="true"
                                          data-validation-is-required="false"
                                          data-is-disabled="$ctrl.isFunctionDeploying()"
                                          data-form-object="$ctrl.resourcesForm"
                                          data-input-name="requestCpu"
                                          data-placeholder="{{ $ctrl.selectedCpuRequestItem.placeholder }}"
                                          data-update-number-input-callback="$ctrl.cpuInputCallback(newData, field)"
                                          data-update-number-input-field="resources.requests.cpu"
                                          data-min-value="$ctrl.selectedCpuRequestItem.minValue"
                                          data-precision="{{ $ctrl.selectedCpuRequestItem.precision }}"
                                          data-value-step="{{ $ctrl.selectedCpuRequestItem.step }}"
                                          data-current-value="$ctrl.resources.requests.cpu">
                        </igz-number-input>
                    </div>
                    <div class="row-input cpu-dropdown">
                        <igz-default-dropdown data-read-only="$ctrl.isFunctionDeploying()"
                                              data-values-array="$ctrl.cpuDropdownOptions"
                                              data-selected-item="$ctrl.selectedCpuRequestItem"
                                              data-item-select-callback="$ctrl.cpuDropdownCallback(item, isItemChanged, field)"
                                              data-item-select-field="selectedCpuRequestItem">
                        </igz-default-dropdown>
                    </div>
                </div>

                <div class="igz-col-40 input-wrapper">
                    <div class="input-title">{{ 'common:LIMIT' | i18next }}</div>
                    <div class="row-input cpu-number-input">
                        <igz-number-input data-allow-empty-field="true"
                                          data-validation-is-required="false"
                                          data-is-disabled="$ctrl.isFunctionDeploying()"
                                          data-form-object="$ctrl.resourcesForm"
                                          data-input-name="limitsCpu"
                                          data-placeholder="{{ $ctrl.selectedCpuLimitItem.placeholder }}"
                                          data-update-number-input-callback="$ctrl.cpuInputCallback(newData, field)"
                                          data-update-number-input-field="resources.limits.cpu"
                                          data-min-value="$ctrl.selectedCpuLimitItem.minValue"
                                          data-precision="{{ $ctrl.selectedCpuLimitItem.precision }}"
                                          data-value-step="{{ $ctrl.selectedCpuLimitItem.step }}"
                                          data-current-value="$ctrl.resources.limits.cpu">
                        </igz-number-input>
                    </div>
                    <div class="row-input cpu-dropdown">
                        <igz-default-dropdown data-read-only="$ctrl.isFunctionDeploying()"
                                              data-values-array="$ctrl.cpuDropdownOptions"
                                              data-selected-item="$ctrl.selectedCpuLimitItem"
                                              data-item-select-callback="$ctrl.cpuDropdownCallback(item, isItemChanged, field)"
                                              data-item-select-field="selectedCpuLimitItem">
                        </igz-default-dropdown>
                    </div>
                </div>
            </div>

            <div class="igz-row form-row range-inputs-row">
                <div class="igz-col-20 row-title">{{ 'common:GPU' | i18next }}</div>
                <div class="igz-col-40 input-wrapper"></div>
                <div class="igz-col-40 input-wrapper"
                     data-uib-tooltip="{{ 'functions:TOOLTIP.GPU_LIMIT' | i18next }}"
                     data-tooltip-append-to-body="true"
                     data-tooltip-placement="bottom"
                     data-tooltip-popup-delay="500">
                    <div class="input-title">{{ 'common:LIMIT' | i18next }}</div>
                    <div class="row-input gpu-number-input">
                        <igz-number-input data-allow-empty-field="true"
                                          data-validation-is-required="false"
                                          data-is-disabled="$ctrl.isFunctionDeploying()"
                                          data-form-object="$ctrl.resourcesForm"
                                          data-input-name="limitsGpu"
                                          data-update-number-input-callback="$ctrl.gpuInputCallback(newData, field)"
                                          data-update-number-input-field="limits"
                                          data-min-value="1"
                                          data-max-value="4"
                                          data-value-step="1"
                                          data-current-value="$ctrl.resources.limits.gpu">
                        </igz-number-input>
                    </div>
                </div>
            </div>

            <div class="igz-row form-row range-inputs-row">
                <div class="igz-col-20 row-title">
                    {{ 'common:REPLICAS' | i18next }}
                </div>
                <div class="igz-col-40 input-wrapper">
                    <div class="input-title">
                        {{ 'functions:MIN' | i18next }}
                        <igz-more-info
                                data-description="{{ 'functions:MIN_REPLICAS' | i18next:{default: $ctrl.defaultFunctionConfig.spec.minReplicas} }}"
                                data-default-tooltip-placement="top"
                                data-trigger="click">
                        </igz-more-info>
                    </div>
                    <div class="row-input replicas-number-input">
                        <igz-number-input data-form-object="$ctrl.resourcesForm"
                                          data-input-name="minReplicas"
                                          data-current-value="$ctrl.minReplicas"
                                          data-update-number-input-callback="$ctrl.replicasInputCallback(newData, field)"
                                          data-update-number-input-field="minReplicas"
                                          data-allow-empty-field="true"
                                          data-validation-is-required="false"
                                          data-is-disabled="$ctrl.isFunctionDeploying()"
                                          data-placeholder=""
                                          data-precision="0"
                                          data-value-step="1"
                                          data-min-value="0"
                                          data-max-value="$ctrl.maxReplicas || Infinity">
                        </igz-number-input>
                    </div>
                </div>

                <div class="igz-col-40 input-wrapper">
                    <div class="input-title" data-ng-class="{ asterisk: $ctrl.minReplicas === 0 }">
                        {{ 'functions:MAX' | i18next }}
                        <igz-more-info
                                data-description="{{ 'functions:MAX_REPLICAS' | i18next:{default: $ctrl.defaultFunctionConfig.spec.maxReplicas} }}"
                                data-default-tooltip-placement="top"
                                data-trigger="click">
                        </igz-more-info>
                    </div>
                    <div class="row-input replicas-number-input">
                        <igz-number-input data-form-object="$ctrl.resourcesForm"
                                          data-input-name="maxReplicas"
                                          data-current-value="$ctrl.maxReplicas"
                                          data-update-number-input-callback="$ctrl.replicasInputCallback(newData, field)"
                                          data-update-number-input-field="maxReplicas"
                                          data-allow-empty-field="true"
                                          data-is-disabled="$ctrl.isFunctionDeploying()"
                                          data-placeholder="{{ $ctrl.minReplicas === 0 ? ('functions:PLACEHOLDER.MAX_REQUIRED' | i18next) : '' }}"
                                          data-precision="0"
                                          data-value-step="1"
                                          data-validation-is-required="$ctrl.minReplicas === 0"
                                          data-min-value="$ctrl.minReplicas || 1">
                        </igz-number-input>
                    </div>
                </div>
            </div>

            <div class="igz-row form-row align-items-center slider-block"
                 data-ng-if="$ctrl.isInactivityWindowShown()">
                <div class="igz-col-25 row-title no-margin">
                    <span>{{ 'common:INACTIVITY_WINDOW' | i18next }}</span>
                    <igz-more-info data-description="{{ 'common:INACTIVITY_WINDOW_DESCRIPTION' | i18next }}"
                                   data-trigger="click">
                    </igz-more-info>
                </div>
                <div class="igz-col-75 row-input slider"
                     data-uib-tooltip="{{ 'functions:TOOLTIP.INACTIVITY_WINDOW' | i18next }}"
                     data-tooltip-enable="$ctrl.windowSizeSlider.options.disabled"
                     data-tooltip-append-to-body="true"
                     data-tooltip-placement="bottom"
                     data-tooltip-popup-delay="500">
                    <rzslider class="rzslider"
                              data-rz-slider-model="$ctrl.windowSizeSlider.value"
                              data-rz-slider-options="$ctrl.windowSizeSlider.options">
                    </rzslider>
                </div>
            </div>

            <div class="igz-row form-row range-inputs-row slider-block">
                <div class="igz-col-25 row-title no-margin target-cpu-title">
                    <span>{{ 'common:TARGET_CPU' | i18next }}</span>
                    <igz-more-info
                            data-description="{{ 'functions:TARGET_CPU_DESCRIPTION' | i18next:{default: $ctrl.defaultFunctionConfig.spec.targetCPU} }}"
                            data-trigger="click"
                            data-is-html-enabled="true">
                    </igz-more-info>
                </div>
                <div class="igz-col-75 row-input slider">
                    <igz-slider-input-block data-slider-config="$ctrl.targetCpuSliderConfig"
                                            data-measure-units="null"
                                            data-value-unit="$ctrl.targetCpuValueUnit"
                                            data-slider-block-updating-broadcast=""
                                            data-on-change-callback="$ctrl.sliderInputCallback"
                                            data-update-slider-input="spec.targetCPU"
                                            data-allow-full-range="true"
                                            data-uib-tooltip="{{ 'functions:TOOLTIP.TARGET_CPU' | i18next }}"
                                            data-tooltip-enable="$ctrl.targetCpuSliderConfig.options.disabled"
                                            data-tooltip-append-to-body="true"
                                            data-tooltip-placement="bottom"
                                            data-tooltip-popup-delay="500">
                    </igz-slider-input-block>
                </div>
            </div>
        </div>
    </form>
    <form name="$ctrl.nodeSelectorsForm" novalidate>
        <div class="igz-row-flex">
            <div class="title">{{ 'functions:NODE_SELECTORS' | i18next }}</div>
            <a class="link"
               data-ng-class="{ 'disabled': $ctrl.isFunctionDeploying() }"
               data-ng-click="$ctrl.handleRevertToDefaultsClick()"
               data-ng-hide="$ctrl.revertToDefaultsBtnIsHidden">
                {{ 'functions:REVERT_TO_DEFAULTS' | i18next }}
            </a>
        </div>
        <div class="row">
            <div class="igz-row form-row">
                <div class="table-body" data-ng-repeat="nodeSelector in $ctrl.nodeSelectors">
                    <ncl-key-value-input class="node-selectors"
                                         data-row-data="nodeSelector"
                                         data-item-index="$index"
                                         data-use-type="false"
                                         data-is-disabled="$ctrl.isFunctionDeploying()"
                                         data-validation-rules="$ctrl.nodeSelectorsValidationRules"
                                         data-action-handler-callback="$ctrl.handleNodeSelectorsAction(actionType, index)"
                                         data-change-data-callback="$ctrl.onChangeNodeSelectorsData(newData, index)"
                                         data-submit-on-fly="true">
                    </ncl-key-value-input>
                </div>
                <div class="igz-create-button"
                     data-ng-class="{ 'disabled': $ctrl.isFunctionDeploying() }"
                     data-ng-click="$ctrl.addNewNodeSelector($event)">
                    <span class="igz-icon-add-round"></span>
                    {{ 'common:CREATE_NEW_ENTRY' | i18next }}
                </div>
            </div>
        </div>
    </form>
</div>
