.more-info-wrapper {
    .more-info-color-set();

    position: relative;
    display: inline-flex;
    align-items: center;
    height: 36px;
    margin-left: 8px;

    .question-mark {
        cursor: default;

        &::before {
            color: @icon-help-round-before-color;
            background-color: @icon-help-round-before-bg-color;
        }

        &:hover {
            &::before {
                color: @icon-help-round-hover-before-color;
            }

            + .row-description-wrapper.row-description {
                color: @icon-help-description-hover-color;
            }
        }

        &.igz-icon-alert-message {
            &::before {
                color: @icon-warn-hover-before-color;
                background-color: @icon-warn-before-bg-color;
            }

            &:hover {
                &::before {
                    color: @icon-warn-before-color;
                }
            }
        }

        &.click-trigger {
            cursor: pointer;
        }

        &+ .row-description-wrapper {
            display: none;
        }

        &:not(.click-trigger):hover + .row-description-wrapper,
        &.open + .row-description-wrapper {
            display: block;
        }
    }

    .row-description-wrapper {
        position: fixed;
        z-index: 4;
    }

    .row-description {
        width: 240px;
        padding: 16px 19px;
        position: absolute;
        border-radius: 2px;
        box-shadow: @row-description-box-shadow;
        background-color: @row-description-bg-color;
        color: @row-description-color;
        font-family: @font-family-sans-serif;
        font-size: 12px;
        font-weight: 400;
        white-space: pre-line;
        line-height: normal;

        &::before {
            position: absolute;
            content: '';
        }

        &.top,
        &.bottom {
            left: -114px;

            &::before {
                right: calc(50% - 9px);
            }

            &-left {
                left: -220px;

                &::before {
                    right: 4px;
                }
            }

            &-right {
                left: -6px;

                &::before {
                    right: calc(100% - 22px);
                }
            }
        }

        &.top,
        &.top-left,
        &.top-right {
            bottom: 35px;

            &::before {
                .triangle-arrow(down; @row-description-triangle-color; 8px; 10px);

                bottom: -10px;
            }
        }

        &.bottom,
        &.bottom-left,
        &.bottom-right {
            top: 8px;

            &::before {
                .triangle-arrow(up; @row-description-triangle-color; 8px; 10px);

                top: -10px;
            }
        }

        &.right,
        &.left {
            top: -30px;

            &::before {
                top: 7px;
            }
        }

        &.right {
            left: 26px;

            &::before {
                .triangle-arrow(right; @row-description-triangle-color; 8px; 10px);

                left: -8px;
            }
        }

        &.left {
            left: -250px;

            &::before {
                .triangle-arrow(left; @row-description-triangle-color; 8px; 10px);

                right: -8px;
            }
        }
    }
}
