<div class="more-info-wrapper">
    <div data-ng-if="!$ctrl.isDefaultTooltipEnabled"
         data-ng-class="{'disabled': $ctrl.isDisabled}"
         class="question-mark igz-icon-help-round">
    </div>
    <div data-ng-if="!$ctrl.isDefaultTooltipEnabled"
         class="row-description">
        {{$ctrl.description}}
    </div>

    <div data-ng-if="$ctrl.isDefaultTooltipEnabled"
         data-ng-class="{'disabled': $ctrl.isDisabled}"
         class="question-mark igz-icon-help-round"
         data-uib-tooltip="{{$ctrl.description}}"
         data-tooltip-placement="$ctrl.defaultTooltipPlacement"
         data-tooltip-popup-delay="$ctrl.defaultTooltipPopupDelay"
         data-tooltip-append-to-body="true">
    </div>
</div>
