<div class="igz-pagination">
    <div class="rows-title" data-ng-if="!$ctrl.isPerPageVisible">
        {{ 'common:ROWS_PER_PAGE' | i18next }}:
    </div>
    <div class="per-page" data-ng-if="!$ctrl.isPerPageVisible">
        <igz-default-dropdown data-values-array="$ctrl.perPageValues"
                              data-selected-item="$ctrl.perPage"
                              data-select-property-only="id"
                              data-item-select-callback="$ctrl.onPerPageChanged(item, isItemChanged)"
                              class="per-page-dropdown"
                              data-is-pagination="true">
        </igz-default-dropdown>
    </div>

    <div class="jump-to-page" data-ng-form="jumpToPageForm" data-ng-if="$ctrl.pageData.total > 1">

        <div class="to-page-prev igz-button-basic igz-icon-left"
             tabindex="0"
             data-uib-tooltip="{{$ctrl.page <= 0 ? '' : ('common:PREVIOUS_PAGE' | i18next)}}"
             data-tooltip-placement="top"
             data-ng-class="{'disabled' : $ctrl.page <= 0}"
             data-ng-click="$ctrl.page <= 0 || $ctrl.goToPrevPage()"
             data-ng-keydown="$ctrl.goToPrevPage($event)">
        </div>

        <igz-validating-input-field data-field-type="input"
                                    data-input-name="jumpToPage"
                                    data-input-value="$ctrl.page + 1"
                                    data-is-data-revert="true"
                                    data-form-object="jumpToPageForm"
                                    data-validation-pattern="$ctrl.jumpToPagePattern"
                                    data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                    data-item-blur-callback="$ctrl.jumpToPage()"
                                    data-validation-is-required="true"
                                    data-hide-counter="true"
                                    class="jump-to-page-input">
        </igz-validating-input-field>

        <div class="to-page-next igz-button-basic igz-icon-right"
             tabindex="0"
             data-uib-tooltip="{{$ctrl.pageData.total <= $ctrl.page + 1 ? '' : ('common:NEXT_PAGE' | i18next)}}"
             data-tooltip-placement="top"
             data-ng-class="{'disabled' : $ctrl.pageData.total <= $ctrl.page + 1}"
             data-ng-click="($ctrl.pageData.total <= $ctrl.page + 1) || $ctrl.goToNextPage()"
             data-ng-keydown="$ctrl.goToNextPage($event)">
        </div>

        <div class="rows-title title">&nbsp;{{ 'common:OF_PAGES' | i18next:{pagesTotal: $ctrl.pageData.total} }}</div>
    </div>
</div>
