<div class="function-event-wrapper">
    <div class="header">
        <div class="title">{{$ctrl.titleText}}</div>
        <div class="close-button igz-icon-close"
             data-ng-click="$ctrl.closeEventDialog()"></div>
    </div>

    <div class="content">
        <form name="$ctrl.functionEventForm" class="event-form" novalidate>
            <div class="field-wrapper">
                <div class="field-label">
                    {{ 'common:NAME' | i18next }}
                </div>
                <div class="field-content">
                    <igz-validating-input-field data-field-type="input"
                                                data-input-name="displayName"
                                                data-input-model-options="$ctrl.inputModelOptions"
                                                data-input-value="$ctrl.workingCopy.spec.displayName"
                                                data-validation-is-required="true"
                                                data-form-object="$ctrl.functionEventForm"
                                                data-update-data-callback="$ctrl.inputValueCallback(newData, 'displayName')"
                                                data-placeholder-text="{{ 'functions:PLACEHOLDER.ENTER_NAME_OF_EVENT' | i18next }}">
                    </igz-validating-input-field>
                </div>
            </div>
            <div class="field-wrapper">
                <div class="field-label">
                    {{ 'functions:METHOD' | i18next }}
                </div>
                <div class="field-content">
                    <igz-default-dropdown data-values-array="$ctrl.methods"
                                          data-selected-item="$ctrl.selectedMethod"
                                          data-item-select-callback="$ctrl.onSelectMethod(item, isItemChanged, field)"
                                          data-is-required="true"
                                          data-form-object="$ctrl.functionEventForm">
                    </igz-default-dropdown>
                </div>
            </div>
            <div class="field-wrapper">
                <div class="field-label">
                    {{ 'common:PATH' | i18next }}
                </div>
                <div class="field-content">
                    <igz-validating-input-field data-field-type="input"
                                                data-input-name="path"
                                                data-input-model-options="$ctrl.inputModelOptions"
                                                data-input-value="$ctrl.workingCopy.spec.attributes.path"
                                                data-form-object="$ctrl.functionEventForm"
                                                data-update-data-callback="$ctrl.inputValueCallback(newData, 'path')"
                                                data-placeholder-text="{{ 'common:PLACEHOLDER.ENTER_PATH' | i18next }}">
                    </igz-validating-input-field>
                </div>
            </div>
            <div class="field-wrapper">
                <div class="field-label">
                    {{ 'functions:CONTENT_TYPE' | i18next }}
                </div>
                <div class="field-content">
                    <igz-default-dropdown data-values-array="$ctrl.headers"
                                          data-selected-item="$ctrl.selectedHeader"
                                          data-item-select-callback="$ctrl.onSelectHeader(item, isItemChanged, field)"
                                          data-is-required="true"
                                          data-form-object="$ctrl.functionEventForm">
                    </igz-default-dropdown>
                </div>
            </div>
            <div class="field-wrapper">
                <div class="field-label">
                    {{ 'functions:BODY' | i18next }}
                </div>
                <div data-ng-if="$ctrl.contentType === 'application/json'"
                     class="field-content code-edit-section">
                    <ncl-monaco data-function-source-code="$ctrl.workingCopy.spec.body"
                                data-selected-theme="$ctrl.bodyTheme"
                                data-language="json"
                                data-mini-monaco="true"
                                data-on-change-source-code-callback="$ctrl.onChangeSourceCode(sourceCode)"
                                data-read-only="false">
                    </ncl-monaco>
                </div>
                <div data-ng-if="$ctrl.contentType === 'text/plain'"
                     class="field-content">
                    <textarea class="event-body"
                              data-ng-model="$ctrl.workingCopy.spec.body"
                              data-ng-change="$ctrl.onChangeBody()"
                              data-form-object="$ctrl.functionEventForm"
                              placeholder="{{ 'functions:PLACEHOLDER.ENTER_BODY_OF_EVENT' | i18next }}">
                    </textarea>
                </div>
            </div>
        </form>
        <div class="event-error" data-ng-if="$ctrl.isDeployFailed">
            {{$ctrl.errorText}}
        </div>
    </div>

    <div class="bottom-bar">
        <button class="ncl-secondary-button igz-button-secondary"
             data-ng-click="$ctrl.closeEventDialog()">
            {{ 'common:CANCEL' | i18next }}
        </button>
        <button class="ncl-primary-button igz-button-primary"
             tabindex="0"
             data-ng-class="{'disabled' : !$ctrl.isFormChanged}"
             data-ng-disabled="!$ctrl.isFormChanged"
             data-ng-click="$ctrl.applyChanges()"
             data-ng-keydown="$ctrl.applyChanges($event)"
             data-ng-hide="$ctrl.isLoadingState">
            {{$ctrl.buttonText}}
        </button>
        <div class="ncl-primary-button igz-button-primary" data-ng-show="$ctrl.isLoadingState">
            {{ 'common:LOADING_CAPITALIZE_ELLIPSIS' | i18next }}
        </div>
    </div>
</div>
