<div class="close-button ncl-icon-close" data-ng-click="$ctrl.onClose()"></div>

<div class="title">
    <span>
        {{ 'functions:ATTACH_FILE' | i18next }}
    </span>
</div>

<div class="main-content ">
    <form name="attachFileForm" novalidate>
        <div class="field-group">
            <div class="field-label">
                {{ 'functions:REMOTE_PATH' | i18next }}
            </div>
            <igz-validating-input-field data-field-type="input"
                                        data-is-focused="true"
                                        data-placeholder-text="{{ 'common:PLACEHOLDER.ENTER_PATH' | i18next }}">
            </igz-validating-input-field>
        </div>
    </form>
</div>

<div class="buttons">
    <button class="ncl-secondary-button igz-button-secondary"
            tabindex="0"
            data-ng-click="$ctrl.onClose()"
            data-ng-keydown="$ctrl.onClose($event)">
        {{ 'common:CANCEL' | i18next }}
    </button>
    <button class="ncl-primary-button igz-button-primary"
            tabindex="0"
            ngf-select="$ctrl.uploadFile($file)">
        {{ 'common:BROWSE' | i18next }}
    </button>
</div>
