<div class="ncl-edit-version">
    <igz-splash-screen data-is-splash-showed="$ctrl.isSplashShowed"></igz-splash-screen>

    <!--actions bar-->
    <igz-info-page-actions-bar class="igz-component border-top">
        <div class="actions-bar-right">
            <div class="actions-bar-left actions-buttons-block actions-dropdown-block">
                <igz-default-dropdown data-select-property-only="id"
                                      data-placeholder="{{ 'functions:PLACEHOLDER.ACTIONS' | i18next }}"
                                      data-values-array="$ctrl.actions"
                                      data-is-disabled="!$ctrl.isFunctionDeployed"
                                      data-item-select-callback="$ctrl.onSelectAction(item)"
                                      data-skip-selection="true">
                </igz-default-dropdown>
            </div>
            <div class="actions-bar-left actions-buttons-block">
                <button class="ncl-new-entity-button igz-button-primary"
                        data-ng-class="{'disabled': $ctrl.isDeployButtonDisabled()}"
                        data-ng-click="$ctrl.isInValidDeployState() || $ctrl.deployButtonClick($event)"
                        data-uib-tooltip="{{ ($ctrl.deployResult.status.state === 'building' ? 'functions:TOOLTIP.DEPLOY_IN_PROGRESS' :
                                              $ctrl.version.ui.isTriggersChanged || $ctrl.version.ui.isVolumesChanged ? 'functions:TOOLTIP.APPLY_CHANGES_TO_DEPLOY' :
                                              'functions:TOOLTIP.DEPLOY_INVALID_CONFIG') | i18next }}"
                        data-tooltip-enable="$ctrl.isDeployButtonDisabled()"
                        data-tooltip-placement="left"
                        data-tooltip-append-to-body="true"
                        data-tooltip-popup-delay="200">
                    {{ 'functions:DEPLOY' | i18next }}
                </button>
            </div>
        </div>
    </igz-info-page-actions-bar>

    <div data-ng-if="$ctrl.isDeployResultShown"
         class="ncl-edit-version-execution-result deploy-result"
         data-ng-class="{'in-progress': $ctrl.isInValidDeployState(),
                         'failed'     : $ctrl.deployResult.status.state === 'error'}">
        <div class="btn-close igz-icon-close"
             data-ng-if="!$ctrl.isInValidDeployState()"
             data-ng-click="$ctrl.toggleDeployResult()"></div>
        <div class="icon-collapsed general-content"
             data-ng-class="$ctrl.rowIsCollapsed.deployBlock ? 'igz-icon-right' : 'igz-icon-down'"
             data-ng-click="$ctrl.onRowCollapse('deployBlock')"></div>
        <div class="ncl-execution-result-status"
             data-ng-class="{'succeeded'  : $ctrl.deployResult.status.state === 'ready',
                             'in-progress': $ctrl.isInValidDeployState(),
                             'collapsed'  : $ctrl.rowIsCollapsed.deployBlock}">
            <span class="result-status-icon"
                  data-ng-class="{'igz-icon-tick-round' : $ctrl.deployResult.status.state === 'ready',
                                  'igz-icon-properties' : $ctrl.isInValidDeployState(),
                                  'igz-icon-block'      : $ctrl.deployResult.status.state === 'error'}"></span>
            <span class="result-state">{{$ctrl.getDeployStatusState($ctrl.deployResult.status.state)}}</span>
        </div>
        <div class="ncl-execution-result-block collapsed-block-content-wrapper"
             data-uib-collapse="$ctrl.rowIsCollapsed.deployBlock">
            <div class="collapsed-block-title without-collapse">
                {{ 'common:LOGS' | i18next }}
            </div>

            <ncl-deploy-log data-log-entries="$ctrl.deployResult.status.state === 'error' ?
                                                        $ctrl.deployResult.status.message :
                                                        $ctrl.deployResult.status.logs">
            </ncl-deploy-log>
        </div>
    </div>

    <ncl-navigation-tabs data-tab-items="$ctrl.navigationTabsConfig"
                         data-version="$ctrl.version"
                         data-ng-class="{'ncl-version-configuration-tabs': $ctrl.getCurrentStateName() === 'app.project.function.edit.configuration'}">
    </ncl-navigation-tabs>
    <section class="ncl-edit-version-view" data-igz-extend-background data-ui-view="version"></section>
</div>
