<div class="ncl-edit-version">
    <igz-splash-screen data-is-splash-showed="$ctrl.isSplashShowed"></igz-splash-screen>

    <!--actions bar-->
    <igz-info-page-actions-bar class="igz-component border-top">
        <div class="actions-bar-right">
            <div class="actions-bar-left">
                <span class="ncl-icon-api-gateway"
                      data-test-id="functions.item-name_api-gw.icon"
                      data-ng-if="$ctrl.version.status.apiGateways.length > 0"
                      data-uib-tooltip="{{ 'functions:TOOLTIP.USED_BY_API_GATEWAY' | i18next:{apiGatewayName: $ctrl.version.status.apiGateways[0]} }}"
                      data-tooltip-placement="top"
                      data-tooltip-append-to-body="true"
                      data-tooltip-popup-delay="200">
                </span>
            </div>
            <div class="actions-bar-left actions-buttons-block actions-dropdown-block">
                <igz-default-dropdown data-select-property-only="id"
                                      data-placeholder="{{ 'functions:PLACEHOLDER.ACTIONS' | i18next }}"
                                      data-values-array="$ctrl.actions"
                                      data-is-disabled="!$ctrl.isFunctionDeployed"
                                      data-item-select-callback="$ctrl.onActionSelect(item)"
                                      data-skip-selection="true">
                </igz-default-dropdown>
            </div>
            <div class="actions-bar-left">
                <div class="igz-action-panel">
                    <div class="actions-list">
                        <igz-action-item-refresh
                                data-is-disabled="!$ctrl.isFunctionDeployed"
                                data-refresh="$ctrl.refreshFunction()">
                        </igz-action-item-refresh>
                    </div>
                </div>
            </div>
            <div class="actions-bar-left actions-buttons-block">
                <button class="ncl-new-entity-button igz-button-primary"
                        data-ng-class="{'disabled': $ctrl.isDeployButtonDisabled()}"
                        data-ng-click="$ctrl.isFunctionDeploying() || $ctrl.deployButtonClick($event)"
                        data-uib-tooltip="{{ ($ctrl.version.status.state === 'building' ? 'functions:TOOLTIP.DEPLOY_IN_PROGRESS' :
                                              $ctrl.version.ui.isTriggersChanged || $ctrl.version.ui.isVolumesChanged ? 'functions:TOOLTIP.APPLY_CHANGES_TO_DEPLOY' :
                                              'functions:TOOLTIP.DEPLOY_INVALID_CONFIG') | i18next }}"
                        data-tooltip-enable="$ctrl.isDeployButtonDisabled()"
                        data-tooltip-placement="left"
                        data-tooltip-append-to-body="true"
                        data-tooltip-popup-delay="200">
                    {{ 'functions:DEPLOY' | i18next }}
                </button>
            </div>
        </div>
    </igz-info-page-actions-bar>

    <div data-ng-if="$ctrl.deployResult.shown"
         class="ncl-edit-version-execution-result deploy-result"
         data-ng-class="$ctrl.deployResult.status.state">
        <div class="btn-close igz-icon-close"
             data-ng-if="!$ctrl.isFunctionDeploying()"
             data-ng-click="$ctrl.hideDeployResult()"></div>
        <div class="icon-collapsed general-content"
             data-ng-class="$ctrl.deployResult.collapsed ? 'igz-icon-right' : 'igz-icon-down'"
             data-ng-click="$ctrl.onDeployResultToggle()"></div>
        <div class="ncl-execution-result-status"
             data-ng-class="[$ctrl.deployResult.status.state, { collapsed: $ctrl.deployResult.collapsed }]">
            <span class="result-status-icon"
                  data-ng-class="$ctrl.deployResult.status.icon"></span>
            <span class="result-state">{{$ctrl.deployResult.status.text}}</span>
        </div>
        <div class="ncl-execution-result-block collapsed-block-content-wrapper"
             data-uib-collapse="$ctrl.deployResult.collapsed">
            <div class="collapsed-block-title without-collapse">
                {{ 'common:LOGS' | i18next }}
            </div>

            <ncl-deploy-log data-log-entries="$ctrl.version.status.state === 'error' ?
                                                        $ctrl.version.status.message :
                                                        $ctrl.version.status.logs">
            </ncl-deploy-log>
        </div>
    </div>

    <ncl-navigation-tabs data-tab-items="$ctrl.navigationTabsConfig"></ncl-navigation-tabs>
    <section class="ncl-edit-version-view" data-ui-view="version"></section>
</div>
