<div class="ncl-version-monitoring ncl-version" data-igz-extend-background>
    <div class="igz-scrollable-container"
         data-ng-scrollbars
         data-ng-scrollbars-config="$ctrl.scrollConfig">
        <div class="ncl-version-monitoring-wrapper">
            <div class="row">
                <div class="monitoring-block invocation-block">
                    <span class="monitoring-block-title">
                        {{ 'functions:INVOCATION_URL' | i18next }}:
                    </span>
                    <div class="monitoring-invocation-url-wrapper" data-ng-if="$ctrl.version.ui.invocationUrl.valid">
                        <a class="monitoring-invocation-url"
                           href="{{$ctrl.version.ui.invocationUrl.text}}">
                            {{$ctrl.version.ui.invocationUrl.text}}
                        </a>
                        <div class="igz-action-panel">
                            <div class="actions-list">
                                <igz-copy-to-clipboard data-value="$ctrl.version.ui.invocationUrl.text"></igz-copy-to-clipboard>
                            </div>
                        </div>
                    </div>
                    <span data-ng-if="!$ctrl.version.ui.invocationUrl.valid"
                          class="monitoring-invocation-field-invalid">
                            {{$ctrl.version.ui.invocationUrl.text}}
                            <igz-more-info
                                    data-ng-if="$ctrl.isIngressInvalid()"
                                    data-description="{{ 'functions:TOOLTIP.TO_MAKE_FUNCTION_ACCESSIBLE' |
                                    i18next:{functionId: $ctrl.version.metadata.name} }}"
                                    data-is-html-enabled="true"
                                    data-trigger="click">
                            </igz-more-info>
                    </span>
                </div>
                <div class="monitoring-block"
                     data-ng-if="$ctrl.isDemoMode()">
                    <span class="monitoring-block-title">
                        {{ 'common:REPLICAS' | i18next }}:
                    </span>
                    <span data-ng-if="$ctrl.version.status.state === 'ready' && $ctrl.version.spec.maxReplicas !== 0"
                          class="monitoring-replicas">
                            {{$ctrl.version.status.replicas}}/{{$ctrl.version.spec.maxReplicas}}
                    </span>
                    <span data-ng-if="$ctrl.version.status.state === 'ready' && $ctrl.version.spec.maxReplicas === 0"
                          class="monitoring-replicas">
                            {{$ctrl.version.status.replicas}}/{{$ctrl.version.status.replicas}}
                    </span>

                    <span data-ng-if="$ctrl.version.status.state !== 'ready'"
                          class="monitoring-invocation-field-invalid">
                        {{ 'functions:NOT_YET_DEPLOYED' | i18next }}
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="monitoring-block ncl-monitoring-build-logger">
                   <span class="icon-collapsed general-content"
                         data-ng-class="$ctrl.rowIsCollapsed.buildLog ? 'igz-icon-right' : 'igz-icon-down'"
                         data-ng-click="$ctrl.onRowCollapse('buildLog')"></span>
                    <span class="monitoring-block-title">
                        {{ 'functions:BUILD_LOG' | i18next }}
                    </span>
                    <div class="ncl-monitoring-build-logs collapsed-block-content-wrapper"
                         data-uib-collapse="$ctrl.rowIsCollapsed.buildLog">
                        <ncl-deploy-log data-log-entries="$ctrl.versionStatus.logs"></ncl-deploy-log>
                    </div>
                </div>
            </div>
            <div class="row" data-ng-if="$ctrl.checkIsErrorState()">
                <div class="monitoring-block ncl-monitoring-error-logger">
                    <span class="icon-collapsed general-content"
                          data-ng-class="$ctrl.rowIsCollapsed.errorLog ? 'igz-icon-right' : 'igz-icon-down'"
                          data-ng-click="$ctrl.onRowCollapse('errorLog')">
                    </span>
                    <span class="monitoring-block-title">
                        {{ 'common:ERROR' | i18next }}
                    </span>
                    <div class="ncl-monitoring-error-logs collapsed-block-content-wrapper"
                         data-uib-collapse="$ctrl.rowIsCollapsed.errorLog">
                        <div class="error-panel igz-scrollable-container"
                             data-ng-scrollbars
                             data-ng-scrollbars-config="$ctrl.scrollConfig">
                            <div class="log-entry">
                                <span class="log-entry-error">
                                    {{$ctrl.versionStatus.message}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
