<div class="ncl-version-monitoring ncl-version" data-igz-extend-background>
    <div class="igz-scrollable-container"
         data-ng-scrollbars
         data-ng-scrollbars-config="$ctrl.scrollConfig">
        <div class="ncl-version-monitoring-wrapper">
            <div class="row">
                <div class="monitoring-block invocation-block">
                    <div class="internal-invocation-urls">
                        <span class="monitoring-block-title">{{ 'functions:INTERNAL_INVOCATION_URLS' | i18next }}: </span>
                        <ul class="invocation-url-list">
                            <li class="monitoring-invocation-url-wrapper" data-ng-repeat="url in $ctrl.version.status.internalInvocationUrls">
                                <span>{{url}}</span>
                                <div class="igz-action-panel">
                                    <div class="actions-list">
                                        <igz-copy-to-clipboard data-value="url"></igz-copy-to-clipboard>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="external-invocation-urls">
                        <span class="monitoring-block-title">{{ 'functions:EXTERNAL_INVOCATION_URLS' | i18next }}: </span>
                        <ul class="invocation-url-list"
                            data-ng-if="$ctrl.version.status.externalInvocationUrls.length > 0 && !$ctrl.isFunctionDeploying()">
                            <li class="monitoring-invocation-url-wrapper" data-ng-repeat="url in $ctrl.version.status.externalInvocationUrls">
                                <span>{{url}}</span>
                                <div class="igz-action-panel">
                                    <div class="actions-list">
                                        <igz-copy-to-clipboard data-value="url"></igz-copy-to-clipboard>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <p data-ng-if="!$ctrl.version.status.externalInvocationUrls.length && !$ctrl.isFunctionDeploying()"
                              data-ng-i18next="[html:i18next]({functionId: $ctrl.version.metadata.name})functions:TOOLTIP.TO_MAKE_FUNCTION_ACCESSIBLE">
                        </p>
                        <p data-ng-if="$ctrl.isFunctionDeploying()" data-ng-i18next="common:N_A"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="monitoring-block ncl-monitoring-build-logger">
                   <span class="icon-collapsed general-content"
                         data-ng-class="$ctrl.rowIsCollapsed.buildLog ? 'igz-icon-right' : 'igz-icon-down'"
                         data-ng-click="$ctrl.onRowCollapse('buildLog')"></span>
                    <span class="monitoring-block-title">
                        {{ 'functions:BUILD_LOG' | i18next }}
                    </span>
                    <div class="ncl-monitoring-build-logs collapsed-block-content-wrapper"
                         data-uib-collapse="$ctrl.rowIsCollapsed.buildLog">
                        <ncl-deploy-log data-log-entries="$ctrl.version.status.logs"></ncl-deploy-log>
                    </div>
                </div>
            </div>
            <div class="row" data-ng-if="$ctrl.checkIsErrorState()">
                <div class="monitoring-block ncl-monitoring-error-logger">
                    <span class="icon-collapsed general-content"
                          data-ng-class="$ctrl.rowIsCollapsed.errorLog ? 'igz-icon-right' : 'igz-icon-down'"
                          data-ng-click="$ctrl.onRowCollapse('errorLog')">
                    </span>
                    <span class="monitoring-block-title">
                        {{ 'common:ERROR' | i18next }}
                    </span>
                    <div class="ncl-monitoring-error-logs collapsed-block-content-wrapper"
                         data-uib-collapse="$ctrl.rowIsCollapsed.errorLog">
                        <div class="error-panel igz-scrollable-container"
                             data-ng-scrollbars
                             data-ng-scrollbars-config="$ctrl.scrollConfig">
                            <div class="log-entry">
                                <span class="log-entry-error">
                                    {{$ctrl.version.status.message}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
