<div class="ncl-function-collapsing-row items-wrapper">
    <div class="scrolling-row"></div>
    <div class="function-title-block common-table-row">
        <div class="common-table-cell igz-col-3">
            <igz-action-checkbox
                    data-ng-class="{'visible': !$ctrl.isDemoMode() || $ctrl.functionsService.checkedItem === 'functions',
                                    'invisible': $ctrl.functionsService.checkedItem !== 'functions' &&
                                                 $ctrl.functionsService.checkedItem !== ''}"
                    data-item="$ctrl.function"
                    data-item-type="functions">
            </igz-action-checkbox>
        </div>
        <div class="common-table-cell igz-col-3 function-row-collapse">
            <span data-ng-if="$ctrl.function.spec.version > -1"
                  class="collapse-icon"
                  data-ng-click="$ctrl.isFunctionCollapsed = !$ctrl.isFunctionCollapsed"
                  data-ng-class="{'collapsed igz-icon-right': $ctrl.isFunctionCollapsed, 'igz-icon-down': !$ctrl.isFunctionCollapsed}">
            </span>
        </div>

        <div class="igz-row common-table-cells-container"
             data-ng-click="$ctrl.onSelectRow($event)">
            <div class="common-table-cell"
                 data-test-id="functions.item-name"
                 data-ng-class="[$ctrl.getFunctionsTableColSize('rowName')]">
                <div class="function-name text-ellipsis">
                    <span data-test-id="functions.item-name_name.text"
                          data-uib-tooltip-html="$ctrl.functionNameTooltip"
                          data-tooltip-append-to-body="true"
                          data-tooltip-placement="top"
                          data-tooltip-popup-delay="200">
                    {{$ctrl.function.metadata.name}}
                    </span>
                    <span data-test-id="functions.item-name_version.text" class="version-text item-cell-sub-text">
                    {{$ctrl.isFunctionCollapsed ? '$LATEST' : ''}}
                    </span>
                </div>
                <span class="ncl-icon-api-gateway"
                      data-test-id="functions.item-name_api-gw.icon"
                      data-ng-if="$ctrl.function.status.apiGateways.length > 0"
                      data-uib-tooltip="{{ 'functions:TOOLTIP.USED_BY_API_GATEWAY' | i18next:{apiGatewayName: $ctrl.function.status.apiGateways[0]} }}"
                      data-tooltip-placement="top"
                      data-tooltip-append-to-body="true"
                      data-tooltip-popup-delay="200">
                </span>
            </div>
            <div class="common-table-cell function-status"
                 data-test-id="functions.item-status"
                 data-ng-class="[$ctrl.getFunctionsTableColSize('status'), $ctrl.statusStateClasses[$ctrl.convertedStatusState]]"
                 data-ng-show="$ctrl.isFunctionCollapsed">
                {{$ctrl.convertedStatusState}}
                <div class="status-icon"
                     data-uib-tooltip="{{$ctrl.getTooltip()}}"
                     data-tooltip-append-to-body="true"
                     data-tooltip-placement="top"
                     data-ng-class="$ctrl.statusIcon"
                     data-ng-click="$ctrl.toggleFunctionState($event)">
                </div>
            </div>
            <div data-ng-if="$ctrl.isDemoMode()"
                 data-ng-show="$ctrl.isFunctionCollapsed"
                 class="common-table-cell"
                 data-ng-class="[$ctrl.getFunctionsTableColSize('replicas')]">
                {{$ctrl.function.spec.replicas}}
            </div>
            <div class="common-table-cell"
                 data-test-id="functions.item-owner"
                 data-ng-show="$ctrl.isFunctionCollapsed"
                 data-ng-class="[$ctrl.getFunctionsTableColSize('owner')]">
                {{$ctrl.function.metadata.labels['iguazio.com/username'] ? $ctrl.function.metadata.labels['iguazio.com/username'] : 'common:N_A' | i18next}}
            </div>
            <div class="common-table-cell"
                 data-test-id="functions.item-runtime"
                 data-ng-show="$ctrl.isFunctionCollapsed"
                 data-ng-class="[$ctrl.getFunctionsTableColSize('runtime')]">
                {{$ctrl.runtimes[$ctrl.function.spec.runtime]}}
            </div>
            <div class="common-table-cell"
                 data-test-id="functions.item-invocation-url"
                 data-ng-show="$ctrl.isFunctionCollapsed"
                 data-ng-class="[$ctrl.getFunctionsTableColSize('invocationUrl')]">
                <span class="common-table-cell-content"
                      data-uib-tooltip="{{$ctrl.invocationUrl.text}}"
                      data-tooltip-append-to-body="true"
                      data-tooltip-placement="top">{{$ctrl.invocationUrl.text}}</span>
                <div class="igz-action-panel" data-ng-if="$ctrl.invocationUrl.valid">
                    <div class="actions-list">
                        <igz-copy-to-clipboard data-value="$ctrl.invocationUrl.text"></igz-copy-to-clipboard>
                    </div>
                </div>
                <div class="igz-action-panel invocation-tooltip" data-ng-if="$ctrl.invocationUrl.info">
                    <div class="actions-more-info">
                        <igz-more-info
                                data-description="{{ 'functions:TOOLTIP.TO_MAKE_FUNCTION_ACCESSIBLE' | i18next:{functionId: $ctrl.function.metadata.name} }}"
                                data-is-html-enabled="true"
                                data-trigger="click">
                        </igz-more-info>
                    </div>
                </div>
            </div>
            <div class="common-table-cell"
                 data-test-id="functions.item-invocation-per-sec"
                 data-ng-show="$ctrl.isFunctionCollapsed"
                 data-ng-class="[$ctrl.getFunctionsTableColSize('invocationPerSec')]">
                {{$ctrl.function.ui.metrics.invocationPerSec || 0}}
            </div>

            <igz-element-loading-status class="common-table-cell element-loading-status-wrapper"
                                        data-name="nuclio_function_cpu-{{$ctrl.function.metadata.name}}"
                                        data-loading-status-size="small"
                                        data-ng-class="[$ctrl.getFunctionsTableColSize('cpuCores')]">
                <igz-size data-ng-if="!$ctrl.function.ui.error.nuclio_function_cpu && $ctrl.isFunctionCollapsed"
                          data-type="functions_cpu"
                          data-entity="$ctrl.function"
                          data-test-id="functions.item-cpu">
                </igz-size>
                <div data-ng-if="$ctrl.function.ui.error.nuclio_function_cpu && $ctrl.isFunctionCollapsed">
                    {{$ctrl.function.ui.error.nuclio_function_cpu}}
                </div>
            </igz-element-loading-status>

            <igz-element-loading-status class="common-table-cell element-loading-status-wrapper"
                                        data-name="nuclio_function_mem-{{$ctrl.function.metadata.name}}"
                                        data-loading-status-size="small"
                                        data-ng-class="[$ctrl.getFunctionsTableColSize('metricsSize')]">
                <igz-size data-ng-if="!$ctrl.function.ui.error.nuclio_function_mem && $ctrl.isFunctionCollapsed"
                          data-type="functions_memory"
                          data-entity="$ctrl.function"
                          data-test-id="functions.item-memory">
                </igz-size>
                <div data-ng-if="$ctrl.function.ui.error.nuclio_function_mem && $ctrl.isFunctionCollapsed">
                    {{$ctrl.function.ui.error.nuclio_function_mem}}
                </div>
            </igz-element-loading-status>

            <igz-element-loading-status class="common-table-cell element-loading-status-wrapper"
                                        data-name="nuclio_processor_handled_events_total-{{$ctrl.function.metadata.name}}"
                                        data-loading-status-size="small"
                                        data-ng-class="[$ctrl.getFunctionsTableColSize('metricsCount')]">
                <igz-size data-ng-if="!$ctrl.function.ui.error.nuclio_processor_handled_events_total && $ctrl.isFunctionCollapsed"
                          data-type="functions_events"
                          data-entity="$ctrl.function"
                          data-test-id="functions.item-invocations">
                </igz-size>
                <div data-ng-if="$ctrl.function.ui.error.nuclio_processor_handled_events_total && $ctrl.isFunctionCollapsed">
                    {{$ctrl.function.ui.error.nuclio_processor_handled_events_total}}
                </div>
            </igz-element-loading-status>
        </div>

        <div class="common-table-cell actions-menu"
             data-test-id="functions.item-actions">
            <igz-action-menu data-actions="$ctrl.functionActions"
                             data-on-fire-action="$ctrl.onFireAction">
            </igz-action-menu>
        </div>
    </div>
    <div class="items-wrapper" data-uib-collapse="$ctrl.isFunctionCollapsed">
        <div data-ng-repeat="version in $ctrl.function.versions track by version.name">
            <ncl-function-version-row class="function-version-wrapper"
                                      data-action-handler-callback="$ctrl.handleAction(actionType, checkedItems)"
                                      data-converted-status-state="$ctrl.convertedStatusState"
                                      data-function="$ctrl.function"
                                      data-invocation-url="$ctrl.invocationUrl"
                                      data-is-function-collapsed="$ctrl.isFunctionCollapsed"
                                      data-project="$ctrl.project"
                                      data-status-icon="$ctrl.statusIcon"
                                      data-status-state-classes="$ctrl.statusStateClasses"
                                      data-toggle-function-state="$ctrl.toggleFunctionState(event)"
                                      data-version="version"
                                      data-versions-list="$ctrl.function.attr.versions">
            </ncl-function-version-row>
        </div>
    </div>
</div>
