<div class="element-loading-status" data-ng-class="'loading-status-' + $ctrl.loadingStatusSize">
    <div class="loader-wrapper" data-ng-if="$ctrl.isShowSpinner">
        <div class="loader-fading-circle"
             data-ng-if="!$ctrl.textStatus"
             data-uib-tooltip="{{$ctrl.tooltipLabel}}"
             data-tooltip-placement="top"
             data-tooltip-popup-delay="100"
             data-tooltip-append-to-body="true">
            <div class="loader-circle1 loader-circle"></div>
            <div class="loader-circle2 loader-circle"></div>
            <div class="loader-circle3 loader-circle"></div>
            <div class="loader-circle4 loader-circle"></div>
            <div class="loader-circle5 loader-circle"></div>
            <div class="loader-circle6 loader-circle"></div>
            <div class="loader-circle7 loader-circle"></div>
            <div class="loader-circle8 loader-circle"></div>
            <div class="loader-circle9 loader-circle"></div>
            <div class="loader-circle10 loader-circle"></div>
            <div class="loader-circle11 loader-circle"></div>
            <div class="loader-circle12 loader-circle"></div>
        </div>
        <div data-ng-if="$ctrl.textStatus" class="loader-text">{{ 'common:LOADING_CAPITALIZE_ELLIPSIS' | i18next }}</div>
    </div>

    <div data-ng-if="$ctrl.isShowContent && !$ctrl.isShowError">
        <div data-ng-transclude></div>
    </div>

    <div class="loading-error" data-ng-if="$ctrl.isShowError && $ctrl.checkSize('default')">
        <div class="sad-icon"></div>
        <div class="loading-error-title">{{$ctrl.title}}</div>
        <div class="loading-error-message">
            <span data-ng-bind="$ctrl.errorMessage"></span>
            <span data-ng-if="$ctrl.refresh">
                <span>{{ 'common:ERROR_MSG.ELEMENT_LOADING_DEFAULT_2' | i18next }}</span>
                <span class="refresh-page" data-ng-click="$ctrl.refreshPage($event)">
                    {{ 'common:ERROR_MSG.ELEMENT_LOADING_DEFAULT_3' | i18next }}
                </span>.
            </span>
        </div>
    </div>

    <div class="loading-error" data-ng-if="$ctrl.isShowError && $ctrl.checkSize('small')">
        <div class="loading-error-title"></div>
        <div class="loading-error-message">
            <div>
                {{ 'common:ERROR_MSG.ELEMENT_LOADING_SMALL_1' | i18next }}
            </div>
            <div class="refresh-page"
                 data-ng-click="$ctrl.refreshPage($event)"
                 title="{{ 'common:ERROR_MSG.ELEMENT_LOADING_SMALL_2' | i18next }}">
                {{ 'common:ERROR_MSG.ELEMENT_LOADING_SMALL_2' | i18next }}
            </div>
        </div>
    </div>
</div>
