.ncl-version-configuration-runtime-attributes {
    .row:not(.info-row) {
        display: flex;
        justify-content: space-between;

        &:not(:last-child) {
            margin-top: 10px;
            margin-bottom: 25px;
        }

        > div {
            flex: 0.65;

            &:not(:last-child) {
                margin-right: 16px;
            }

            &.arguments-input {
                flex-grow: 2;
            }
        }
    }

    .row {
        .runtime {
            height: 36px;
            border-radius: 2px;
            padding: 9px 0 0 14px;
            text-transform: capitalize;
            font-family: @font-family-sans-serif;
            font-size: 14px;
            text-align: left;
            color: @dusk-three;
        }

        .textarea-field {
            height: 177px;
            resize: none;
            white-space: pre;
            overflow-x: auto;
        }
    }

    .java-attribute {
        .textarea-field {
            height: 70px;
        }
    }
}
