<div class="ncl-version-configuration-runtime-attributes">
    <div class="title">Runtime Attributes</div>
    <form name="$ctrl.runtimeAttributesForm" class="runtime-attributes-wrapper">
        <div class="row"
             data-ng-class="{'info-row': $ctrl.version.spec.runtime !== 'shell'}"
             data-ng-if="$ctrl.version.spec.runtime !== 'java'">
            <div class="runtime-title">
                <span class="label">Runtime</span>
                <div class="runtime">
                    {{$ctrl.version.spec.runtime}}
                </div>
            </div>
            <div class="arguments-input"
                 data-ng-if="$ctrl.version.spec.runtime === 'shell'">
                <span class="label">Arguments</span>
                <igz-validating-input-field class="nuclio-validating-input"
                                            data-field-type="input"
                                            data-input-name="arguments"
                                            data-input-value="$ctrl.runtimeAttributes.arguments"
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="arguments"
                                            data-form-object="$ctrl.runtimeAttributesForm"
                                            data-placeholder-text="Enter arguments..."></igz-validating-input-field>
            </div>
        </div>
        <div class="row igz-col-100 info-row"
             data-ng-if="$ctrl.version.spec.runtime === 'java'">
            <div class="row igz-col-100 info-row">
                <span class="field-label">JVM options</span>
                <igz-validating-input-field data-field-type="textarea"
                                            data-input-name="jvmOptions"
                                            data-input-value="$ctrl.runtimeAttributes.jvmOptions"
                                            data-is-focused="false"
                                            data-form-object="$ctrl.runtimeAttributesForm"
                                            data-placeholder-text="Enter an option on each line..."
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="jvmOptions"
                                            class="nuclio-validating-input build-command-field java-attribute">
                </igz-validating-input-field>
            </div>
        </div>
        <div class="row info-row"
             data-ng-if="$ctrl.version.spec.runtime === 'shell'">
            <span class="label">Response headers</span>
            <div data-ng-if="$ctrl.attributes.length > 0" class="table-headers">
                <div class="key-header">Key</div>
                <div class="value-header">Value</div>
            </div>
            <div class="igz-scrollable-container"
                 data-ng-scrollbars
                 data-igz-ng-scrollbars-config="{{$ctrl.igzScrollConfig}}"
                 data-ng-scrollbars-config="$ctrl.scrollConfig">
                <div class="table-body" data-ng-repeat="attribute in $ctrl.attributes">
                    <ncl-key-value-input class="new-label-input"
                                         data-row-data="attribute"
                                         data-change-state-broadcast="change-state-deploy-button"
                                         data-use-type="false"
                                         data-item-index="$index"
                                         data-action-handler-callback="$ctrl.handleAction(actionType, index)"
                                         data-change-data-callback="$ctrl.onChangeData(newData, index)">
                    </ncl-key-value-input>
                </div>
            </div>
            <div class="create-label-button"
                 data-ng-click="$ctrl.addNewAttribute($event)">
                <span class="igz-icon-add-round"></span>
                Create a new runtime attribute
            </div>
        </div>
    </form>
</div>
