<div class="ncl-version-configuration-runtime-attributes">
    <div class="title">Runtime Attributes</div>
    <form name="$ctrl.runtimeAttributesForm" class="runtime-attributes-wrapper">
        <div class="row"
             data-ng-class="{'info-row': $ctrl.version.spec.runtime !== 'shell'}">
            <div class="runtime-title">
                <span class="label">Runtime</span>
                <div class="runtime">
                    {{$ctrl.version.spec.runtime}}
                </div>
            </div>
            <div class="arguments-input"
                 data-ng-if="$ctrl.version.spec.runtime === 'shell'">
                <span class="label">Arguments</span>
                <igz-validating-input-field class="nuclio-validating-input"
                                            data-field-type="input"
                                            data-input-name="arguments"
                                            data-input-value="$ctrl.data.arguments"
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="arguments"
                                            data-form-object="$ctrl.runtimeAttributesForm"
                                            data-placeholder-text="Type..."></igz-validating-input-field>
            </div>
        </div>
        <div class="row igz-col-100 info-row"
             data-ng-if="$ctrl.version.spec.runtime === 'java'">
            <span class="field-label">Repositories</span>
            <igz-validating-input-field data-field-type="textarea"
                                        data-input-name="attributes"
                                        data-input-value="$ctrl.runtimeAttributes"
                                        data-is-focused="false"
                                        data-form-object="$ctrl.runtimeAttributesForm"
                                        data-placeholder-text="Type ..."
                                        data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                        data-update-data-field="attributes"
                                        class="nuclio-validating-input build-command-field">
            </igz-validating-input-field>
        </div>
        <div class="row info-row"
             data-ng-if="$ctrl.version.spec.runtime === 'shell'">
            <span class="label">Response headers</span>
            <div class="table-headers">
                <div class="key-header">Key</div>
                <div class="value-header">Value</div>
            </div>
            <div class="igz-scrollable-container"
                 data-ng-scrollbars
                 data-ng-scrollbars-config="$ctrl.scrollConfig">
                <div class="table-body" data-ng-repeat="attribute in $ctrl.attributes">
                    <ncl-key-value-input class="new-label-input"
                                         data-row-data="attribute"
                                         data-use-type="false"
                                         data-action-handler-callback="$ctrl.handleAction(actionType, checkedItem)"
                                         data-change-data-callback="$ctrl.onChangeData(newData)"></ncl-key-value-input>
                </div>
            </div>
            <div class="create-label-button"
                 data-ng-click="$ctrl.addNewAttribute()">
                <span class="igz-icon-add-round"></span>
                Create a new runtime attribute
            </div>
        </div>
    </form>
</div>